@include icons(ico-marked, 9px, 13px);

// ====================
// Block Master
// ---
.block-copyright{
	@include flex-width-col-xs(420px);
	p{

		margin-top:rem(8px);
		margin-bottom:rem(8px);
		display:inline-block;
		font-size:rem(12px);
		&:last-child{
			float: right;
			
			a{
				margin-left:rem(10px);
				margin-right:rem(10px);
				color:$black-color;
				&:hover{
					color:$link-color;
				}
			}
		}
		&:first-child{
			color:#95989A;
		}
	}
}

.block-socials-footer{
	order:2;//9/11
	flex:1 1 auto;
	text-align:right;
	ul{
		margin-bottom:0;
	}
	li{
		list-style-type: none;
		display:inline-block;
		&:last-child{
			margin-left:-4px;
			padding-left:rem(10px);
		}
		a{
			font-size:0;
			width:rem(32px);
			height:rem(32px);
			border:1px solid #CEC4B4;
			border-radius:50%;
			display:flex;
			justify-content: center;
			align-items:center;
			color:#CEC4B4;
			&:hover{
				border-color:$link-color;
				color:$link-color;
			}
		}
		.twitter-icon{
			&:before{
				content:"\f099";
				@include fontawesome;
				font-size:rem(16px)!important;
			}
		}
		.linkedin-icon{
			&:before{
				content:"\f0e1";
				@include fontawesome;
				font-size:rem(16px);
			}
		}
	}
}

.block-contacus-header{
	position:absolute;
	display:inline-block;
	right:rem(168px);
	opacity: 1;
	transition: all .3s ease-in-out;
	transform: scale(1);
	top: rem(3px);
	p{
		display:inline-block;
		color:#555555;
		font-size:rem(13px);
	}
	.phone-icon{
		padding-left:rem(10px);
		color:$link-color;
		@include wp-font(font-bold);
		font-size:rem(13px);
		&:before{
			content:"\f095";
			@include fontawesome;
			font-size:rem(12px);
			color:#A5A5A5;
			padding-right:rem(7px);
		}
		&:after{
			content:"\f078";
			@include fontawesome;
			font-size:rem(12px);
			color:#A5A5A5;
			padding-left:rem(7px);
		}
	}

}

.block-userlogin-header{
	position: absolute;
	opacity: 1;
	transition: all .3s ease-in-out;
	transform: scale(1);
	right: 0;
	top: 0;
	ul{
		margin:0;
		width:rem(150px);
		height:rem(31px);
		border-radius:rem(20px);
		border:1px solid #E1E1E1;
		display:flex;
		justify-content: center;
		align-items:center;
		&:hover{
			border:1px solid $link-color;
			background-color:$link-color;
			transition: 0.3 all;
			a{
				color:$white-color;

			}
			li{
				&:after{
					color:$white-color;
				}
			}
		}
	}
	li{
		padding-top:0;
		a{
			color:#585858;
			font-size:rem(13px);
			line-height:22px;
			&:hover{
				text-decoration:underline;
			}
		}
		&:first-child{
			&:after{
				content:"|";
				padding-left:rem(7px);
				padding-right:rem(12px);
				color:#E1E1E1;
				font-size:rem(13px);
			}
		}
	}
}

// End

// ====================
// Block Home page
// ---
.block-menu-footer{
	@include flex-width-col-xs(20%);
	a{
		color: rgba($black-color,0.7);
		font-size:rem(12px);
		display:block;
		line-height:35px;
		&:hover{
			color:$link-color;
		}
	}
}

.block-contactus-footer{
	@include flex-width-col-xs(24%);
	.field--name-body{
		line-height:25px;
	}
	p{

		color:$black-color;
		&:first-child{
			font-size:rem(12px);
			color:rgba($black-color,0.7);
			margin-bottom:rem(10px);
		}
		&:nth-child(3){
			display:inline-block;
			padding-left:rem(13px);
			border-bottom: 1px solid #EEEAE5;
			margin-bottom:rem(10px);
			margin-left:-4px;
		}
		&:nth-child(2){
			display:inline-block;
			padding-right:rem(9px);
			border-bottom: 1px solid #EEEAE5;
			border-right: 1px solid #EEEAE5;
			margin-bottom:rem(10px);
		}
		span{
			color:#7B7B7B;
		}
	}


	button{
		width:rem(116px);
		height:rem(37px);
		border: 1px solid $link-color;
		background-color:#F8F8F4;////fix
		color:$link-color;
		border-radius:rem(6px);
		&:hover{
			background-color:$link-color;
			color:$white-color;
			transition: 0.3s all;
		}
		&:last-child{
			margin-left:rem(15px);
		}
	}
}

.block-from-footer{
	flex: 1 1 auto;
	#edit-newsletter{
		font-size:rem(12px);
		color:rgba($black-color,0.7);////note
		line-height:35px;
		margin-bottom: rem(12px);
	}

	.webform-submission-form{
		label{
			display:none;
		}
		.form-text,
		.form-email{
			width:rem(285px);
			height:rem(43px);
			border:1px solid #CEC4B4;
			border-radius:rem(6px);
			background-color:#F8F8F4;
			@include placeholder(#979795);
		}
		.form-submit{
			// width:rem(116px);
			// height:rem(37px);
			// padding-top:rem(7px);
			// padding-bottom:rem(7px);
			// @include wp-font(font-body);
			// font-size:rem(14px);
			// border: 1px solid $link-color;
			// background-color:$link-color;
			&:hover{
				// border:1px solid darken($link-color,8%);
				// background-color:darken($link-color,8%);
			}
		}
		.form-item{
			margin-top: rem(7px);
			margin-bottom:rem(7px);
		}
	}
}




// End

// ====================
// Footer
// ---
.form-item-persistent-login{
	display:none;
}

////////////////////////////
#footer_top{
	background-color:$bg-color;
	border-top:1px solid #F8F8F4;
	.container{
		padding-bottom:rem(20px);
	}
	@at-root{
	}
	.region-footer-top{
		display:flex;
		padding-top:rem(33px);
	}
	.block{
		>h2{
			@include wp-font(font-body);
			font-size: rem(16px);
			margin-bottom:rem(15px);
		}
	}

}
#footer{
	.container{
		padding-bottom:rem(40px);
	}
	.region-footer{
		display:flex;
		padding-top:rem(20px);
		border-top:1px solid rgba(#CEC4B4,0.35);

	}
	background-color:$bg-color;
	
}


//////////////////////////header//////////////////////////////////////
.header{
	.container{
		padding-bottom:rem(25px);
	}
	.group-header{
		position: relative;
		height:rem(95px);
		&:after{
			content:"";
			display:block;
			width:rem(440px);
			height:rem(1px);
			background-color:$border-color;
			position: absolute;
			top:rem(45px);
			right: 0;
		}
	}
}


#block-searchform{
	.form-search{
		height:rem(31px);
	}
}
///////////home-login//////////////////
body{
	&.toolbar-tray-open{
		&.toolbar-vertical{
			&.toolbar-fixed{
				// margin-left:0;
			}
		}
	}
}

.user-logged-in{
	.banner{
		.views-field-nothing{
			position: absolute;
			top:50%;
			left: 10%;
			transform: translateY(-50%);
			
		}
		.views-field-title{
			font-size:rem(28px);
			margin-bottom:rem(30px);
		}
		.views-field-body{
			max-width:rem(418px);
			p{
				font-size:rem(13px);
				color:$black-color;
			}
		}
	}

	.feature{
		// padding-top:0!important;
		.container{
			width:auto;
			padding-left:rem(30px);
			padding-right:rem(30px);
			padding-bottom:rem(45px);
		}
		.block{
			>h2{
				color:$link-color;
				font-size:rem(22px);
			}
		}
	}
	.block-views-blockarticles-block-2,.block-views-feature{
		.slide__grid{
			padding-bottom:0;
		}
		.slick__slide{
			.grid__content{
				display:flex;
				.slide__media{
					@include flex-width-col-xs(416px);
				}
				
			}
		
			.slide__caption{
				flex:1 1 auto;
				padding-left:rem(35px);
				
			}
			.views-field-title{
				max-width:rem(530px);
				font-size:rem(22px);
				line-height:rem(30px);
				margin-top:0;
				margin-bottom:rem(10px);
			}
			.views-field-body{
				max-width:rem(520px);
				font-size:rem(13px);
				color:rgba($black-color,0.7);
				line-height:rem(20px);
				margin-bottom:rem(12px);
				~a{
					padding-top:rem(11.5px);
					padding-bottom:rem(11.5px);
					padding-left:rem(41px);
					padding-right:rem(41px);
					display:inline-block;
					background-color:$link-color;
					border-radius:rem(6px);
					color: $white-color;
					&:hover,&:focus{
						background-color: darken($link-color,8%);
					}
				}
			}
			.views-field-topic{
				color:rgba(#959595,0.8);
				// margin-top:rem(47px);
				// &:before{
				// 	content:"";
				// 	@extend .ico-marked;
				// 	padding-right:rem(32px);
				// 	width:rem(13px);
				// 	height:rem(19px);
				// 	background-position:left;
			
				// }
			}
				
		}
		.slick--view--articles{
			position: relative;
		}
		.slick__arrow{
			position: absolute;
			bottom:0;
			right:0;
		}
		button{
			&.slick-arrow{
				width:rem(30px);
				height:rem(30px);
				margin-right:rem(7px);
				&:last-child{
					margin-right:0;
				}
			}
		}
	}


	.main{
		// padding-top:0!important;
		.container{
			width:auto;
			padding-bottom:rem(15px);
		}
		.block{
			>h2{
				color:$link-color;
				font-size:rem(22px);
			}
		}
		#block-views-block-taxonomy-term-block-1{
			margin-top:rem(10px);
		}
		#block-views-block-taxonomy-term-block-2{
			margin-top:rem(35px);
		}
	}
	////////left-sidebar///////
	.region-navigation-menu{
		padding-top:rem(30px);
	}
	#block-benestar-main-menu{
		padding-bottom:rem(15px);
	}
	#block-livechat{
		padding-top:rem(30px);
		.menu-livechat{
			p{
				line-height:rem(25px);
				&:first-child{
					color:$black-color;
					font-size:rem(13px);
					text-align:center;
					line-height:rem(15px);
					margin-bottom:rem(10px);
				}
				&:nth-child(2){
					color:$black-color;
					font-size:rem(22px);
					margin-bottom:rem(20px);
					&:before{
						content:"\f095";
						@include fontawesome;
						width:rem(26px);
						height:rem(26px);
						font-size:rem(14px);
						border-radius:50%;
						border:1px solid $link-color;
						color:$link-color;
						vertical-align:middle;
						padding:rem(5px);
						margin-right:rem(6px);
					}
				}
			}
			button{
				width:100%;
				color:$white-color;
				background-color:$link-color;
				border-radius:rem(6px);
				border:1px solid $link-color;
				padding-top:rem(6.5px);
				padding-bottom:rem(6.5px);
				&:hover,&:focus{
					background-color:darken($link-color,8%);
				}
			}
		}
		.menu-copyright{
			margin-top:rem(35px);
			color:#95989A;
			font-size:rem(12px);
			text-align:center;
			a{
				font-size:rem(11px);
				color:#95989A;
				&:hover,&:focus{
					color:$link-color;
				}
				&:nth-child(2){
					&:after{
						content:"|";
						margin-left:rem(5px);
						margin-right:rem(5px);
						color:#95989A;
					}
				}
			}
		}
	}
}


