/*------------------------------------------------------------------
CSS
-------------------------------------------------------------------*/

// Bootstraps
@import "includes/bootstrap";
// Font Awesome
@import "includes/font-awesome";
// Library Compass Reference 
// (http://compass-style.org/reference/compass/)
// --------------------
// @import "compass/css3";
// @import "includes/flex";
// Fonts
@import "base/fonts";
// Core variables and mixins
@import "config/variables";
@import "config/mixins";
@import "includes/file-upload.scss";
// Base
@import "base/base";
@import "base/elements";
@import "base/header";
@import "base/footer";
// Partials
@import "partials/view";
@import "partials/block";
@import "partials/page";
@import "partials/responsive";
@import "partials/responsive-home";
@import "partials/responsive-service";
@import "partials/responsive-login";
@import "partials/print";
// body {
// 	background-color: red;
// }
.abc {
	color: red;
}

color: blue;
