/*------------------------------------------------------------------*/
/* Typography */

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
    font-size: $size-default;
}

body {
    color: $body-color;
    @include wp-font(font-body);
    @include sizeRem(font-size,14px);
    line-height: 1.57142857;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    color: $title-color;
    @include sizeRem(margin-bottom, 20px);
    @include wp-font(font-body-title);
    font-weight: 600;
}
h1, h2, h3,
.h1, .h2, .h3{
    line-height: 1.1;
    color: $title-color;
}

h1, .h1{
    @include sizeRem(font-size, 34px);
}
h2, .h2{
    @include sizeRem(font-size, 29px);
}
h3, .h3{
    @include sizeRem(font-size, 22px);
}
h4, .h4{
    @include sizeRem(font-size, 18px);
}
h5, .h5{
    @include sizeRem(font-size, 15px);
}
h6, .h6{
    @include sizeRem(font-size, 14px);
}

h3, h4, h5, h6{
    line-height: 1.4;
}

a {
    transition: all 0.3s ease-out;
    color: $link-color;
    outline: none;
    &:hover, &:focus {
        color: $title-color;
        outline: none;
        text-decoration: none;
    }
}

strong {
    font-weight: $font-weight-bold;
}

ul, ol {
    @include sizeRem(margin-bottom, 15px);
}

p {
    @include sizeRem(margin-bottom, 15px);
}

address {}

label {}

img {
    max-width: 100%;
    height: auto;
}

input, select, textarea {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}


// Icon
@include icons(ico-switch, 16px, 14px);
@include icons(ico-logout, 22px, 18px);
@include icons(ico-notification, 23px, 23px);
@include icons(ico-user, 31px, 32px);
// @include icons(ico-user, 31px, 31px);
@include icons(ico-percent, 60px, 60px);
@include icons(ico-brochure, 15px, 19px);
@include icons(ico-play-large, 38px, 38px);

// Visitor Pages
%vs-big-headline{
    @include wp-font(font-bold-title);
    line-height: rem(48px);
    font-size: rem(34px);
}
%vs-small-headline{
    @include wp-font(font-body-title);
    line-height: rem(38px);
    font-size: rem(29px);
}
%vs-catagory-title{
    @include wp-font(font-medium-title);
    line-height: rem(38px);
    font-size: rem(29px);
}
%vs-h3{
    @include wp-font(font-bold-title);
    line-height: rem(30px);
    font-size: rem(22px);
}
%vs-h4{
    @include wp-font(font-bold-title);
    line-height: rem(28px);
    font-size: rem(18px);
}
%vs-body{
    @include wp-font(font-bold);
    line-height: rem(22px);
    font-size: rem(14px);
}
%vs-sm-body{
    @include wp-font(font-body);
    line-height: rem(22px);
    font-size: rem(13px);
}
%vs-footnote{
    @include wp-font(font-body);
    line-height: rem(20px);
    font-size: rem(12px);
}



