// ====================
// View grid Drupal: field, panel-pane, view-field, ....
// ---
.views-view-grid {
	.views-col {
		float: left;
		@include sizeRem(padding-left, 15px);
		@include sizeRem(padding-right, 15px);
	}
	&.cols-1 .views-col {
		width: 100%;
	}
	&.cols-2 .views-col {
		width: 50%;
	}
	&.cols-3 .views-col {
		width: 33.33333333%;
	}
	&.cols-4 .views-col {
		width: 25%;
	}
	&.cols-5 .views-col {
		width: 20%;
	}
	.views-row {
		@include sizeRem(margin-left, -15px);
		@include sizeRem(margin-right, -15px);
		@include clearfix;
		>* {
			@include sizeRem(margin-bottom, 30px);
		}
	}
}

[class*="view-grid-"]{
	.view-content{
		margin-right: rem(-30px);
		display: flex;
		flex-wrap: wrap;
	}
	.views-row{
		margin-bottom: rem(30px);
		margin-right: rem(30px);
	}
}
.view-grid-1-cols{
	.views-row{
		@include flex-width-col-xs(calc(33.3333% - 30px));
	}
}
.view-grid-2-cols{
	.views-row{
		@include flex-width-col-xs(calc(50% - 30px));
	}
}
.view-grid-3-cols{
	.views-row{
		@include flex-width-col-xs(calc(33.3333% - 30px));
	}
}
.view-grid-4-cols{
	.views-row{
		@include flex-width-col-xs(calc(25% - 30px));
	}
}
.view-grid-5-cols{
	.views-row{
		@include flex-width-col-xs(calc(20% - 30px));
	}
}
.view-grid-6-cols{
	.views-row{
		@include flex-width-col-xs(calc(16.6666% - 30px));
	}
}
.view-grid-7-cols{
	.views-row{
		@include flex-width-col-xs(calc(14.2857% - 30px));
	}
}
.view-grid-8-cols{
	.views-row{
		@include flex-width-col-xs(calc(12.5% - 30px));
	}
}
.view-grid-9-cols{
	.views-row{
		@include flex-width-col-xs(calc(11.1111% - 30px));
	}
}
.view-grid-10-cols{
	.views-row{
		@include flex-width-col-xs(calc(10% - 30px));
	}
}
// ====================
// View grid Custom
// ---
// @include views-grid;

.container-fluid{
    padding: 0;
}

.container{
	@include sizeRem(padding-top, 25px);
	@include sizeRem(padding-bottom, 25px);
}

// ====================
// Reset From
// ---
// Fixed Background input when complete 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

label{
	font-weight: normal;
}

input,
select {
    @include form-default-input;
    outline: none;
	 box-shadow: initial;
	 
}

textarea {
    @include form-default-input;
}

.form-select {
	@include sizeRem(height, 40px);
	@include sizeRem(padding, 11px, 2, 20px);
	line-height: 1.42857143;
	border-radius: 0;
	background-color: transparent;
	@include placeholder(#cccccc);
	border: 1px solid #b7b7b7;
	width: 100%;
}

input[type="file"] {
    @include sizeRem(height, 45px);
    @include sizeRem(padding, 11px, 2, 20px);
    line-height: 1.42857143;
}

.form-item,
.form-actions {
	@include sizeRem(margin-top, 20px);
	@include sizeRem(margin-bottom, 20px);
}
.form-text,
.form-email {
	@include sizeRem(height, 40px);
	@include sizeRem(padding, 9px, 2, 30px);
	line-height: 1.42857143;
	width: 100%;
	border-radius: 3px;
	@include placeholder(#cccccc);
	box-shadow: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-box-shadow: none;
	border: 1px solid #b7b7b7;
	@include wp-font(font-semibold);
	@include sizeRem(font-size, 14px);
	border-radius: 0px;
	&:focus {
		border-color: darken(#b7b7b7, 10%);
	}
}

.form-textarea{
	padding: rem(9px) rem(30px);
}
// .quickedit-editing{
// 	.form-submit{
// 		width: auto;
// 		height: auto;
// 		background: none;
// 		border-radius: 0;
// 	}
// }
.form-submit {
	@include btn;
}
// .field-add-more-submit{
// 	font-size: 0;
// 	width: 36px;
// 	height: 36px;
// 	padding: 0;
// 	min-width: inherit;
// 	border-color: $link-color;
// 	color: $white-color;
// 	min-width: inherit;
// 	background: url(../images/icons/ico-add.svg) $link-color no-repeat;
// 	background-position: center center;
// 	background-size: 20px auto;
// 	border-radius: 3px;
// 	border: 0 none;
// 	padding: 0;
// 	&:hover, &:focus{
// 		background: url(../images/icons/ico-add.svg) $link-color no-repeat;
// 		background-position: center center;
// 		background-size: 20px auto;
// 		padding: 0;
// 		opacity: .8;
// 		border: 0 none;
// 		padding: 0;
// 	}
// }

// .form-type-textarea{
// 	& + .filter-wrapper{
// 		margin-top: rem(-15px);	
// 	}
// }

.ipe-form .vertical-tabs__menu{
	margin: -1px 0 -1px -15em;
}

.field-type-text,
.form-type-textfield,
.form-type-email {
    @include form-default-label;
}

input[type=radio],
input[type=checkbox] {
    position: relative;
    @include sizeRem(top, -3px);
}


// ====================
// Reset Flex
// ---
.flexslider {
    border: 0 none;
}

// ====================
// Styling for Language dropdown
// ---
.ddsDefault {
	.dd-container {
		width: auto !important;
		@include sizeRem(min-width, 125px);
	}
	.dd-select {
		width: auto !important;
		border: 0 none;
		background: transparent !important;
		border-radius: 0;
		label {
			margin: 0;
		}
	}
	.dd-option{
		display: flex;
		align-items: baseline;
	}
	.dd-selected {
		@include sizeRem(padding, 7px, 4, 10px, 5px, 10px);
		position: relative;
		@include sizeRem(padding-left, 34px);
		color: $link-color;
		&:before {
			content: '';
			@include sizeRem(width, 14px);
			@include sizeRem(height, 14px);
			@include sizeRem(left, 10px);
			@include sizeRem(margin-top, -7px);
			position: absolute;
			top: 50%;
			background: url('../images/ico-globe.svg') no-repeat transparent;
			background-size: contain;
		}
		img {
			display: none;
		}
		&:hover,
		&:focus {
			color: darken($link-color, 8%);
		}
	}
	li {
		display: block !important;
		label {
			line-height: 1.4 !important;
			margin: 0;
		}
	}
	.dd-pointer-down {
		border-top-color: $link-color;
	}
	.dd-options {
		background: $bg-color;
		border: 1px solid $bg-color;
		box-shadow: 0 1px 5px rgba($black-color, 0.6);
	}
	.dd-option {
		cursor: pointer;
	}
	.dd-option-selected {
		label {
			color: $link-color;
		}
	}
	.dd-pointer-up {
		border-bottom-color: $link-color !important;
	}
}

// ====================
// Reset Flex
// ---
.flexslider {
	margin-bottom: 0;
	&:hover,
	&:focus {
		.flex-direction-nav {
			.flex-prev,
			.flex-next {
				opacity: 0.5;
				display: block;
			}
			.flex-prev {
				left: 0;
			}
			.flex-next {
				right: 0;
			}
		}
	}
	.flex-direction-nav a {
		display: block;
	}
}

.flex-direction-nav {
	@include container;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	z-index: 5;
	a {
		@include sizeRem(width, 30px);
		@include sizeRem(height, 30px);
		margin-top: -15px;
		border-left: 3px solid $white-color;
		border-top: 3px solid $white-color;
		font-size: 0;
		opacity: 0.5;
		display: block;
		&:before {
			display: none;
		}
		&:hover,
		&:focus {
			opacity: 1;
		}
	}
	.flex-prev {
		transform: rotate(-45deg);
		left: 0;
	}
	.flex-next {
		transform: rotate(135deg);
		right: 0;
	}
}

.flex-control-nav {
	@include sizeRem(bottom, 30px);
	z-index: 6;
}

.flex-control-paging li {
	@include sizeRem(margin-left, 5px);
	@include sizeRem(margin-right, 5px);
	a {
		@include sizeRem(width, 8px);
		@include sizeRem(height, 8px);
		background: $white-color;
		box-shadow: initial;
		&:hover,
		&:focus {
			background: $link-color;
		}
		&.flex-active {
			margin-left: 2px;
			margin-right: 2px;
			background: $link-color;
			box-shadow: 0 0 0 2px $link-color;
		}
	}
}

// ====================
// Styling for Tabs
// ---
ul.primary {
	padding: 0;
	// margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-bottom: 0;
	@include sizeRem(padding, 20px, 2, 15px);
	margin: 0;
	>li {
		display: inline-block;
		@include sizeRem(padding-left, 5px);
		@include sizeRem(padding-right, 5px);
		@include sizeRem(margin-top, 5px);
		@include sizeRem(margin-bottom, 5px);
		a {
			@include btn;
			text-align: center;
			margin: 0;
			background-color: $white-color;
			color: $link-color;
			border-color: $link-color;
			min-width: inherit;
			&:hover,s
			&:focus {
				border-color: $link-color;
				background-color: $link-color;
				color: $white-color;
			}
		}
		&.active, &.is-active{
			a {
				background-color: $link-color;
				color: $white-color;
				border-color: $link-color;
			}
		}
	}
}

// ====================
// Page User basic
// ---

// @include page-user-basic;

// Quick tabs
ul.quicktabs-tabs{
	border-bottom: 1px solid #EAEAEA;
	display: flex;
	margin-bottom: rem(35px);
	li{
		padding: 0;
		display: inline-flex;
		margin: 0;
		margin-right: rem(20px);
		a{
			font-size: rem(14px);
			color: #414141;
			padding-left: rem(15px);
			padding-right: rem(15px);
			padding-bottom: rem(15px);
			margin-bottom: -1px;
			border-bottom: 1px solid transparent;
			&:hover, &:focus{
				color: $link-color;
			}
		}
		&.active{
			a{
				border-bottom-color: $link-color;
				color: $link-color;
			}
		}
	}
	#quicktabs-my_profiles &{
		margin-right: rem(60px);
		li{
			a{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

// Breacrumb
.breadcrumb {
	li{
		&:before{
			content: '';
			border-right: 1px solid #95989A;
			border-bottom: 1px solid #95989A;
			width: 6px;
			height: 6px;
			display: inline-block;
			position: relative;
			transform: rotate(-45deg);
			top: -1px;
			margin-right: 3px;
		}
		&:last-child{
			position: relative;
			&:after{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: "";
				height: 100%;
				width: 100%;
				display: block;
				z-index: 10;
			}
			a{
				cursor: default;
				pointer-events: none;
				color: #313131;	
			}
		}
	}
}


// Hide JS
// Owl carousel
.view-testimonial{
	.view-content:not(.owl-carousel){
		.views-row{
			display: none;
			&:first-child{
				display: block;
			}
		}
		.views-field-field-image::before{
			display: none;
		}
		.views-field-field-image{
			bottom: auto;
		}
	}
}

.view-latest{
	.slick-prev{
		width: rem(37px);
		height: rem(37px);
		text-align: center;
		border-radius: 50%;
		border: 1px solid #D8D8D8;
		font-size: 0;
		color: #D5D5D5;
		background-color: transparent;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		transition: all .3s ease-in-out;
		margin-left: rem(5px);
		&:before{
			content: '';
			width: 10px;
			height: 10px;
			border-left: 2px solid #D8D8D8;
			border-bottom: 2px solid #D8D8D8;
			transform: rotate(45deg);
			margin-left: 4px;
			// bottom: 3px;
		}
		&:hover, &:focus{
			color: $white-color;
			border-color: $link-color;
			background-color: $link-color;
			outline: none;
			&:before{
				border-color: $white-color;
			}
		}
	}
	.slick-next{
		width: rem(37px);
		height: rem(37px);
		text-align: center;
		border-radius: 50%;
		border: 1px solid #D8D8D8;
		font-size: 0;
		color: #D5D5D5;
		background-color: transparent;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		transition: all .3s ease-in-out;
		margin-left: rem(5px);
		&:before{
			content: '';
			width: 10px;
			height: 10px;
			border-left: 2px solid #D8D8D8;
			border-bottom: 2px solid #D8D8D8;
			transform: rotate(-135deg);
			margin-right: 4px;
			// bottom: 3px;
		}
		&:hover, &:focus{
			color: $white-color;
			border-color: $link-color;
			background-color: $link-color;
			outline: none;
			&:before{
				border-color: $white-color;
			}
		}
	}
	.slick__slider:not(.slick-slider) .slick__slide{
		width: 396px;
	}
}

.poll-view{
	display: none;
}
.info-poll{
	.poll-view{
		display: block;
	}
}

// Fixed Page Home login
.page-node-1.user-logged-in{
	.region-main-content{
		> .block-page-title-block{
			display: none;
		}
	}
}

.region-header{
	> .block-switchview{
		opacity: 0;
		visibility: hidden;
		display: none;
		display: flex;
		flex: 1 1 auto;
	}
	> #block-searchform{
		margin-right: rem(20px);
	}
	> #block-breadcrumbs{
		opacity: 0;
		visibility: hidden;
		display: none;
		display: flex;
		flex: 1 1 auto;
	}
}


.selected-flag[title*=":"]{
	.iti-flag{
		background: none;
		box-shadow: inherit;
	}
}
.intl-tel-input.allow-dropdown .selected-flag{
	width: 80px;
	display: flex;
	align-items: center;
}


.self-assement-custom {
	.views-field-nid,
	.views-field-nid-1{
		display: none;
	}
}

ul.menu {
	list-style: none outside;
	margin-left: 1em;
	padding: 0;
	text-align: left;
}

h3.block-title{
	margin-top: 0;
	margin-bottom: 15px;
}

.breadcrumb ol {
	margin: 0;
	padding: 0;
}
.breadcrumb li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	&:first-child{
		&:before{
			display: none;
		}
	}
}