
@font-face {
	font-family: 'Brandon Text';
	src: url('../fonts/font-brandontext/BrandonText-Medium.eot');
	src: url('../fonts/font-brandontext/BrandonText-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-brandontext/BrandonText-Medium.woff2') format('woff2'),
		url('../fonts/font-brandontext/BrandonText-Medium.woff') format('woff'),
		url('../fonts/font-brandontext/BrandonText-Medium.ttf') format('truetype'),
		url('../fonts/font-brandontext/BrandonText-Medium.svg#BrandonText-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Text';
	src: url('../fonts/font-brandontext/BrandonText-Light.eot');
	src: url('../fonts/font-brandontext/BrandonText-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-brandontext/BrandonText-Light.woff2') format('woff2'),
		url('../fonts/font-brandontext/BrandonText-Light.woff') format('woff'),
		url('../fonts/font-brandontext/BrandonText-Light.ttf') format('truetype'),
		url('../fonts/font-brandontext/BrandonText-Light.svg#BrandonText-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Text';
	src: url('../fonts/font-brandontext/BrandonText-Regular.eot');
	src: url('../fonts/font-brandontext/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-brandontext/BrandonText-Regular.woff2') format('woff2'),
		url('../fonts/font-brandontext/BrandonText-Regular.woff') format('woff'),
		url('../fonts/font-brandontext/BrandonText-Regular.ttf') format('truetype'),
		url('../fonts/font-brandontext/BrandonText-Regular.svg#BrandonText-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Text';
	src: url('../fonts/font-brandontext/BrandonText-Bold.eot');
	src: url('../fonts/font-brandontext/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-brandontext/BrandonText-Bold.woff2') format('woff2'),
		url('../fonts/font-brandontext/BrandonText-Bold.woff') format('woff'),
		url('../fonts/font-brandontext/BrandonText-Bold.ttf') format('truetype'),
		url('../fonts/font-brandontext/BrandonText-Bold.svg#BrandonText-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Droid Sans';
	src: url('../fonts/font-droidsans/DroidSans-Regular.eot');
	src: url('../fonts/font-droidsans/DroidSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-droidsans/DroidSans-Regular.woff2') format('woff2'),
		url('../fonts/font-droidsans/DroidSans-Regular.woff') format('woff'),
		url('../fonts/font-droidsans/DroidSans-Regular.ttf') format('truetype'),
		url('../fonts/font-droidsans/DroidSans-Regular.svg#DroidSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Droid Sans';
	src: url('../fonts/font-droidsans/DroidSans-Bold.eot');
	src: url('../fonts/font-droidsans/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-droidsans/DroidSans-Bold.woff2') format('woff2'),
		url('../fonts/font-droidsans/DroidSans-Bold.woff') format('woff'),
		url('../fonts/font-droidsans/DroidSans-Bold.ttf') format('truetype'),
		url('../fonts/font-droidsans/DroidSans-Bold.svg#DroidSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans/open-sans-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans/open-sans-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans/open-sans-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans/open-sans-v13-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans/open-sans-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url('../fonts/open-sans/open-sans-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans/open-sans-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans/open-sans-v13-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans/open-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans/open-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans/open-sans-v13-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
       url('../fonts/open-sans/open-sans-v13-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans/open-sans-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans/open-sans-v13-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}