// ====================
// Header
// ---
.scrolled{
	.header{
		box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
		.container{
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.group-header:after{
			display: none;
		}
		.group-header{
			height: auto;
		}
	}
	.region-header{
		align-items: center;
	}
	#block-benestar-branding{
		flex: 0 0 160px;
		max-width: 160px;
		
	}
	.site-logo{
		padding-bottom: 0;
	}
	#block-ifyouneedhelp{
		opacity: 0;
		transform: scale(.8);
		transition: inherit;
		visibility: hidden;
	}
	#block-userlogin{
		opacity: 0;
		transform: scale(.8);
		transition: inherit;
		visibility: hidden;
	}
}

.header{
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 10;
	background-color: $white-color;
	border-bottom: 1px solid #efefef;
	& + *{
		padding-top: rem(145px);
	}
	.container{
		padding-top: rem(25px);
		padding-bottom: rem(30px);
	}
	.region-header{
		display: flex;
		justify-content: space-between;
	}
	.group-header{
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}
}
#block-benestar-branding{
	flex: 0 0 205px;
	max-width: 205px;
	transition: all .3s ease-in-out;
	display: flex;
	align-items: center;
}
.site-logo{
	padding-bottom: rem(10px);
	display: block;
	img{
		max-width: 205px;
		width: 100%;
	}
}

@media (min-width: 992px){
	#block-headermenu{
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
		ul.menu{
			padding: 0;
			margin: 0;
			display: flex;
			align-items: flex-end;
			margin-bottom: rem(7px);
		}
		.menu-item{
			padding: 0;
			margin: 0;
			margin-left: rem(13px);
			margin-right: rem(13px);
			a{
				color: #5B5B5B;
				font-size: rem(13px);
				@include wp-font(font-body);
				&:hover, &:focus{
					color: $link-color;
				}
			}
			&.menu-item--active-trail{
				a{
					color: $link-color;
					&:hover, &:focus{
						color: $link-color;
					}
				}
			}
		}
	}
}
#block-searchform{
	display: flex;
	align-items: flex-end;
	margin-left: rem(20px);
	form{
		position: relative;
	}
	.form-search{
		width: rem(115px);
		padding: rem(5px) rem(40px) rem(5px) rem(25px);
		border-radius: rem(20px);
		color: #343434;
	}
	.form-actions{
		position: absolute;
		right: 0;
		top: 0;
		width: 44px;
		height: 30px;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		&:before{
			content: '\f002';
			@include fontawesome;
			color: $link-color;
			font-size: rem(15px);
		}
	}
	.form-submit{
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0;
		z-index: 2;
		padding: 0;
		margin: 0;
		min-width: inherit;
		top:0;
		right:0;
	}
}

// Menu Login
.region-navigation-menu{
	> .block{
		margin-bottom: rem(20px);
	}
}

