// ====================
// Block list: block-system, block-block, block-views, block-[name of modules], ....
// ---
.block {
	// Block menu
	// Block highligh
	// ...
}

// ====================
// Panel List: panel-pane, panel-[field], panel-[class], ...
// ---
.panel-pane {
	@include sizeRem(margin-top, 15px);
	@include sizeRem(margin-bottom, 15px); // Panel a
	// Panel b
	// ...
}

// Title Block
.block-title {
	>h2 {
		color: $link-color;
	}
	&.block-latest {
		margin-bottom: rem(100px);
		margin-top: rem(80px);
		>h2 {
			margin-bottom: rem(35px);
			margin-top: 0;
		}
	}
	.user-logged-in & {
		>h2 {
			font-size: rem(22px);
			line-height: 30px;
			margin-bottom: rem(15px);
		}
	}
}

body.taxonomy {
	h1.page-title {
		font-size: rem(22px);
		color: $link-color;
		margin-bottom: rem(15px);
	}
}

.sidebar {
	.block {
		>h2 {
			margin-top: 0;
			@include sizeRem(font-size, 22px);
			margin-bottom: rem(30px);
		}
	}
}

.block-title-about-us {
	position: relative;
	>h2 {
		position: absolute;
		bottom: rem(60px);
		left: 50%;
		transform: translateX(-50%);
		@extend h2;
		color: $white-color;
		@include wp-font(font-bold-title);
		z-index: 10;
		font-size: rem(34px);
	}
}

.login-contact-title {
	max-width: rem(435px);
	>h2 {
		font-size: rem(28px);
		line-height: 39px;
		color: $title-color;
		margin-bottom: 15px;
	}
}

// div.ajax-progress, div.throbber{
// 	display: none;
// }
// ====================
// Block Master
// 
// Poll
.poll {
	.choice-result {
		position: relative;
	}
	.percent {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: rem(11px);
		top: 1px;
	}
	.bar {
		background-color: #EAEAEA;
		.foreground {
			background-color: $link-color;
		}
	}
	.total {
		margin-top: 10px;
		text-align: right;
	}
}

// Breadrum
.breadcrumb {
	background-color: transparent;
	padding: 0;
	margin: 0;
	border-radius: 0;
	margin-top: 4px;
	margin-bottom: 4px;
	ol {
		>li {
			font-size: 13px;
			color: #313131;
			a {
				color: #95989A;
				&:hover,
				&:focus {
					color: $link-color;
				}
			}
		}
	}
}

.not-front #content-bottom {
	border-top: 1px solid #EFEBE2;
	>.container {}
}

.block-our-offerings {
	margin-bottom: rem(70px); // h2 {
	// 	 color: #1BA75F;
	// 	 margin-bottom: rem(25px);
	// 	 margin-top: rem(10px);
	// }
}

.block-featured-out-people {
	margin-top: rem(70px);
	margin-bottom: rem(75px);
	.block-text {
		display: flex;
		position: relative;
	}
	h3 {
		color: #10944F;
		line-height: 30px;
		margin: 0;
		margin-bottom: rem(35px);
	}
	p {
		@include sizeRem(font-size, 13px);
		color: #000;
		line-height: 22px;
	}
	.content-left {
		flex: 0 0 50%;
		max-width: 50%;
		padding-right: 5%;
	}
	.content-right {
		flex: 0 0 50%;
		max-width: 50%;
		padding-right: 6%;
	}
}

// ====================
// Block Home page
// ---
.block-our-offerings-home {
	margin-top: rem(40px);
	margin-bottom: rem(60px);
}

.block-poll-custom {
	margin-top: rem(100px);
	margin-bottom: rem(120px);
	fieldset {
		margin: 0;
	}
	legend {
		display: none;
	} // #edit-actions--4,
	.poll-question {
		display: none;
	}
	.field--name-body {
		display: flex;
		border: 1px solid #E5E0D8;
	}
	.image-poll {
		flex: 0 0 376px;
		max-width: 376px;
	}
	.info-poll {
		flex: 1 1 auto;
		padding: 30px;
		display: flex;
		flex-direction: column;
		position: relative;
		padding-bottom: rem(95px);
		width: 100%;
	}
	.date-poll {
		color: #9A9A9A;
		margin-bottom: rem(20px);
	}
	.title-poll {
		color: $title-color;
		@extend h2;
		margin-top: 0;
		margin-bottom: rem(20px);
		a {
			color: $title-color;
		}
	}
	.decription-poll {
		color: $title-color;
		margin-bottom: rem(30px);
	}
	.answer-poll {
		flex: 1 1 auto;
	}
	.percent-circle {
		@extend .ico-percent;
		margin-right: rem(30px);
	}
	.group-footer {
		display: flex; // justify-content: space-between;
		align-items: center;
		position: absolute;
		bottom: rem(35px);
		margin-bottom: 0;
	}
	.percent-content {
		max-width: rem(304px);
		color: $title-color;
	}
	.percent-number {
		@include wp-font(font-bold);
		color: $link-color;
		padding-right: rem(3px);
	}
	.group-action {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	} // .answer-poll{
	// 	margin-bottom: rem(55px);
	// }
	.form-radios {
		display: flex;
		flex-flow: wrap row;
	}
	.form-type-radio {
		margin: 0;
		margin-right: rem(60px);
		position: relative;
		padding-top: rem(20px);
		padding-bottom: rem(20px);
		border-bottom: 1px solid #F2F1EC;
		color: $title-color;
		flex: 0 0 250px;
		max-width: 250px;
		&:nth-child(5) {
			display: none;
		}
	}
	input[type="radio"] {
		opacity: 0;
		position: absolute;
		&:checked+label {
			color: $link-color;
			&:before {
				border-color: $link-color;
			}
			&:after {
				left: rem(9px);
				margin-top: rem(-2px);
				width: rem(10px);
				height: rem(5px);
				border-bottom: 1px solid $link-color;
				border-left: 1px solid $link-color;
				background: transparent;
				transform: translateY(-50%) rotate(-45deg);
				border-radius: 0;
			}
		}
	}
	label {
		position: relative;
		padding-left: rem(40px);
		margin: 0;
		display: flex;
		align-items: center;
		cursor: pointer;
		min-height: rem(28px);
		&:before {
			content: '';
			width: rem(28px);
			height: rem(28px);
			border: 1px solid #DED7CD;
			border-radius: 50%;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		&:after {
			content: '';
			width: rem(4px);
			height: rem(4px);
			background-color: #DED7CD;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: rem(12px);
			transition: all .3s ease-in-out;
		}
		&:hover,
		&:focus {
			color: $link-color;
			&:before {
				border-color: $link-color;
			}
			&:after {
				left: rem(9px);
				margin-top: rem(-2px);
				width: rem(10px);
				height: rem(5px);
				border-bottom: 1px solid $link-color;
				border-left: 1px solid $link-color;
				background: transparent;
				transform: translateY(-50%) rotate(-45deg);
				border-radius: 0;
			}
		}
	}
	.form-actions {
		margin: 0;
		text-align: right;
		cursor: pointer;
		position: absolute;
		bottom: rem(35px);
		margin-bottom: 0;
		min-height: rem(60px);
		display: flex;
		align-items: center;
		right: rem(30px);
		&:after {
			content: "\f105";
			@include fontawesome;
			display: inline-block;
			margin-left: rem(20px);
			color: $link-color;
			transition: all .3s ease-in-out;
		}
		&:hover,
		&:focus {
			&:after {
				color: $title-color;
			}
		}
	}
	.form-submit {
		color: $link-color;
		display: inline-block;
		transition: all .3s ease-in-out;
		cursor: pointer;
		background-color: transparent;
		color: $link-color;
		border: 0 none;
		padding: 0;
		margin: 0;
		font-size: rem(14px);
		&:after {
			content: "\f105";
			@include fontawesome;
			display: inline-block;
			margin-left: rem(10px);
		}
		&:hover,
		&:focus {
			color: $title-color;
		}
	}
	@media (min-width: $desktop) {
		.title-poll {
			padding-right: rem(200px);
		}
	}
}

// End
// ====================
// Block About page
// ---
.block-menu-media-sidebar {
	margin-bottom: rem(65px);
	padding-left: rem(40px);
}

// End
// ====================
// Block contact us page
// ---
#block-webform-2 {
	label {
		display: none;
	}
	.form-text,
	.form-select,
	input[type="tel"],
	input[type="email"] {
		border-radius: rem(4px);
		height: rem(53px);
		padding: rem(15px) rem(20px);
		border-color: #E4DED5;
	}
	select {
		height: rem(53px);
		padding-left: rem(30px);
	}
	select,
	textarea {
		border-color: #E4DED5;
		padding: rem(15px) rem(20px);
	}
	.intl-tel-input {
		width: 100%;
		input {
			width: 100%;
			padding-left: rem(100px);
		}
	}
	.form-item {
		margin-top: 0;
		margin-bottom: rem(10px);
	}
	.flag-container {
		padding-left: rem(30px);
	}
	.form-submit {
		border-radius: rem(6px);
		font-size: rem(13px);
		min-width: rem(115px);
		padding: rem(10px) rem(20px);
	}
}

#block-benestar-main-menu {
	ul.menu {
		margin: 0;
		li {
			padding: 0;
			list-style: none;
			a {
				font-size: rem(14px);
				@include wp-font(font-body);
				color: rgba($title-color, .4);
				text-transform: capitalize;
				&:hover,
				&:focus {
					color: $link-color;
				}
			}
			.is-active {
				color: $link-color;
				&:hover,
				&:focus {
					color: $link-color;
				}
			}
		}
		ul.menu {
			padding-left: rem(20px);
			margin-top: rem(10px);
		}
	}
	>ul.menu {
		>li {
			margin-bottom: 25px;
			>a {
				@include wp-font(font-body-title);
				font-size: rem(14px);
				color: #313131;
				&:hover,
				&:focus {
					color: $link-color;
				}
			}
			&.menu-item--expanded {
				>a {
					color: $link-color;
					@include wp-font(font-medium-title);
				}
			}
		}
	}
}

// Switch
.block-switchview {
	.btn {
		@include btn;
		border-color: $link-color;
		background-color: transparent;
		color: $title-color;
		margin: 0 rem(5px);
		display: inline-flex;
		align-items: center;
		border-radius: 20px;
		.fa:before {
			color: $link-color;
		}
		&:hover,
		&:focus {
			background-color: $link-color;
			border-color: $link-color;
			color: $white-color;
			.fa:before {
				color: $white-color;
			}
			&:after {
				color: $white-color;
			}
		}
	} // .switch-view{
	// 	&:before{
	// 		content: '';
	// 		display: inline-block;
	// 		width: rem(16px);
	// 		height: rem(14px);
	// 		@extend .ico-switch;
	// 		margin-right: rem(15px);
	// 	}
	// 	&:hover, &:focus{
	// 		&:before{
	// 			background-image: url('../images/icons/ico-switch-hover.svg');
	// 		}
	// 	}
	// }
	.sort-by {
		// border-color: #EFEFEF;
		// &:after{
		// 	content:"\f107";
		// 	@include fontawesome;
		// 	display: inline-block;
		// 	color: #C9C9C9;
		// 	margin-left: rem(15px);
		// 	font-size: rem(14px);
		// }
	}
	.group-action {
		display: flex;
	}
}

#block-menuheader {
	ul.menu {
		margin: 0;
		list-style: none;
		padding: 0;
	}
	.menu-item {
		margin-left: rem(15px);
		margin-right: rem(15px);
		a {
			@include btn;
			border-color: $link-color;
			background-color: transparent;
			color: $title-color;
			margin: 0 rem(5px);
			display: inline-flex;
			align-items: center;
			position: relative;
			padding-left: rem(48px);
			margin-left: 0;
			margin-right: 0;
			border-radius: 20px;
			&:before {
				content: '';
				@extend .ico-user;
				position: absolute;
				left: rem(2px);
			}
			&:after {
				content: "\f107";
				@include fontawesome;
				display: inline-block;
				margin-left: rem(15px);
				font-size: rem(14px);
				color: $link-color;
			}
			&:hover,
			&:focus {
				background-color: $link-color;
				border-color: $link-color;
				color: $white-color;
				&:after {
					color: $white-color;
				}
			}
		}
	}
}

#block-iconnotification {
	.group-action {
		display: flex;
		align-items: center;
		>* {
			margin-left: rem(15px);
			margin-right: rem(15px);
		}
	}
	.btn-logout {
		font-size: 0;
		@extend .ico-logout;
		&:hover,
		&:focus {
			background-image: url('../images/icons/ico-logout-hover.svg');
		}
	}
	.notification-header {
		font-size: 0;
		@extend .ico-notification;
		margin-bottom: 0;
		&:hover,
		&:focus {
			background-image: url('../images/icons/ico-notification-hover.svg');
		}
	}
}

// ====================
// Page Individual wellbeing
// ---
.block-cs-talkus {
	text-align: center;
	padding-top: rem(20px);
	.field--name-body>div {
		max-width: 500px;
		margin: 0 auto;
	}
	.group-action {
		padding-top: rem(35px);
	}
	h2 {
		color: $link-color;
		margin-bottom: rem(20px);
	}
	a {
		border-radius: 6px;
		color: $link-color; //color: $white-color;
		//height: 35px;
		padding: rem(10px);
		border: 1px solid $link-color;
		min-width: 120px;
		margin-right: 5px;
		font-size: rem(12px);
		padding: 8px 20px;
		display: inline-block;
		&.active,
		&:hover {
			background: $link-color;
			color: $white-color;
		}
	}
}


/*.....stylecss....................*/

//http://benestar.senuamedia.com/articles//
//...http://benestar.senuamedia.com/articles....//
[class*="node--type"] {
	@include container;
	padding-right: rem(120px);
	padding-left: rem(120px);
	margin-bottom: rem(40px);
	margin-top: rem(20px);
	@media (min-width: $desktop) {
		width: 960px;
	}
	.image,
	.video {
		margin-right: rem(-120px);
		margin-left: rem(-120px);
		.media-image {
			max-height: rem(378px);
		}
	}
	.date-and-share {
		padding-top: rem(48px);
	}
	.date-created {
		color: #7B7B7B;
		font-size: rem(14px);
		@include wp-font(font-body);
	}
	.title {
		color: $black-color;
		font-size: rem(22px);
		padding-bottom: rem(5px);
		margin-bottom: rem(30px);
		border-bottom: 1px solid #E5E5E5;
		h2 {
			margin-top: rem(5px);
		}
	}
	.body {
		@include wp-font(font-body-title);
	}
	blockquote {
		@extend h4;
		color: rgba($black-color, .7);
		line-height: 30px;
		padding: 0;
		padding-top: 15px;
		border-left: 0 none;
		position: relative;
		margin-bottom: 40px;
		&:before {
			content: '';
			width: 100px;
			height: 2px;
			background-color: $link-color;
			top: 0;
			left: 0;
			z-index: 2;
			display: block;
			position: absolute;
		}
	}
	.field--name-field-topic {
		display: inline-flex; // margin-bottom: 10px;
		.field__label {
			display: none;
		}
		.field__item {
			color: #7B7B7B;
			a {
				color: #7B7B7B;
				&:hover,
				&:focus {
					color: $link-color;
				}
			}
		}
		>* {}
	}
	.flag-article_flag {
		float: right;
		display: inline-flex;
		a {
			color: $black-color;
			transition: inherit;
			&:after {
				content: '';
				@extend .ico-marked;
				display: inline-flex;
				margin-left: rem(7px);
			}
			&:hover,
			&:focus {
				color: $link-color;
				&:after {
					background-image: url('../images/icons/ico-marked-hover.svg');
				}
			}
		}
	}
	@media (min-width: 768px) {
		blockquote {
			padding-right: 37%;
		}
	}
	.user-logged-in & {
		.image,
		.video {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.node-articles {
	.share-header {
		display: none;
	}
}

//http://benestar.senuamedia.com/workforce-wellness
.feature {
	background: $white-color; //padding-top: rem(70px);
}

// .page-node-20{
// 	background: #F8F8F4;
// }
//edit 3 cái
.page-node-20 {
	#content-second {
		background: $white-color;
	}
}

.login-contact-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: rem(60px);
}

.login-contact-calls {
	.dropdown-menu {
		padding: 20px;
		min-width: 312px;
		box-shadow: 0 3px 20px rgba($title-color, .05);
		left: auto;
		right: 0;
		border: 0 none;
		border-radius: 6px;
		margin-top: 10px;
		ul {}
		li {
			margin-bottom: 5px;
			display: flex;
			justify-content: space-between;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.field-location {
			color: #8E8E8E;
		}
		.field-number-phone {
			color: #000000;
		}
	}
}

.login-contact-title {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.login-contact-calls {
	.dropdown-toggle {
		@include btn;
	}
}

.block-list-dashboard {
	.col-sm-4 {}
	@media (min-width: 768px) {
		.col-sm-4 {
			width: 20%;
		}
	}
	.small-box .icon {
		top: 6px;
		font-size: 60px;
	}
}


/*
 * Component: Small Box
 * --------------------
 */

.small-box {
	border-radius: 2px;
	position: relative;
	display: block;
	margin-bottom: 30px;
	background-color: #ffffff;
	box-shadow: 0 2px 20px rgba($title-color, .1);
}

.small-box>.inner {
	padding: 10px;
}

.small-box>.small-box-footer {
	position: relative;
	text-align: center;
	padding: 3px 0;
	display: block;
	z-index: 10;
	background: rgba(0, 0, 0, 0.1);
	color: $body-color;
	text-decoration: none;
}

.small-box>.small-box-footer:hover {
	color: #fff;
	background: rgba(0, 0, 0, 0.15);
}

.small-box h3 {
	font-size: 38px;
	font-weight: bold;
	margin: 0 0 10px 0;
	white-space: nowrap;
	padding: 0;
	color: $link-color;
}

.small-box p {
	font-size: 15px;
}

.small-box p>small {
	display: block;
	color: #f9f9f9;
	font-size: 13px;
	margin-top: 5px;
}

.small-box h3,
.small-box p {
	z-index: 5px;
}

.small-box .icon {
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: absolute;
	top: -10px;
	right: 10px;
	z-index: 0;
	font-size: 90px;
	color: rgba(0, 0, 0, 0.1);
}

.small-box:hover {
	text-decoration: none;
	color: #f9f9f9;
	background-color: $link-color;
	h3 {
		color: #f9f9f9;
	}
	.small-box-footer {
		color: #f9f9f9;
	}
}

.small-box:hover .icon {
	font-size: 95px;
}

@media (max-width: 767px) {
	.small-box {
		text-align: center;
	}
	.small-box .icon {
		display: none;
	}
	.small-box p {
		font-size: 12px;
	}
}


/*
 * Component: Box
 * --------------
 */

.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 2px solid $link-color;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 2px 20px rgba($title-color, .1);
	h4 {
		margin-top: 4px;
		margin-bottom: 11px;
	}
	p {
		margin-bottom: 11px;
	}
}

.box.box-primary {
	border-top-color: #3c8dbc;
}

.box.box-info {
	border-top-color: #00c0ef;
}

.box.box-danger {
	border-top-color: #dd4b39;
}

.box.box-warning {
	border-top-color: #f39c12;
}

.box.box-success {
	border-top-color: #00a65a;
}

.box.box-default {
	border-top-color: $link-color;
}

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
	display: none;
}

.box .nav-stacked>li {
	border-bottom: 1px solid #f4f4f4;
	margin: 0;
}

.box .nav-stacked>li:last-of-type {
	border-bottom: none;
}

.box.height-control .box-body {
	max-height: 300px;
	overflow: auto;
}

.box .border-right {
	border-right: 1px solid #f4f4f4;
}

.box .border-left {
	border-left: 1px solid #f4f4f4;
}

.box.box-solid {
	border-top: 0;
}

.box.box-solid>.box-header .btn.btn-default {
	background: transparent;
}

.box.box-solid>.box-header .btn:hover,
.box.box-solid>.box-header a:hover {
	background: rgba(0, 0, 0, 0.1);
}

.box.box-solid.box-default {
	border: 1px solid #d2d6de;
}

.box.box-solid.box-default>.box-header {
	color: #444444;
	background: #d2d6de;
	background-color: #d2d6de;
}

.box.box-solid.box-default>.box-header a,
.box.box-solid.box-default>.box-header .btn {
	color: #444444;
}

.box.box-solid.box-primary {
	border: 1px solid #3c8dbc;
}

.box.box-solid.box-primary>.box-header {
	color: #ffffff;
	background: #3c8dbc;
	background-color: #3c8dbc;
}

.box.box-solid.box-primary>.box-header a,
.box.box-solid.box-primary>.box-header .btn {
	color: #ffffff;
}

.box.box-solid.box-info {
	border: 1px solid #00c0ef;
}

.box.box-solid.box-info>.box-header {
	color: #ffffff;
	background: #00c0ef;
	background-color: #00c0ef;
}

.box.box-solid.box-info>.box-header a,
.box.box-solid.box-info>.box-header .btn {
	color: #ffffff;
}

.box.box-solid.box-danger {
	border: 1px solid #dd4b39;
}

.box.box-solid.box-danger>.box-header {
	color: #ffffff;
	background: #dd4b39;
	background-color: #dd4b39;
}

.box.box-solid.box-danger>.box-header a,
.box.box-solid.box-danger>.box-header .btn {
	color: #ffffff;
}

.box.box-solid.box-warning {
	border: 1px solid #f39c12;
}

.box.box-solid.box-warning>.box-header {
	color: #ffffff;
	background: #f39c12;
	background-color: #f39c12;
}

.box.box-solid.box-warning>.box-header a,
.box.box-solid.box-warning>.box-header .btn {
	color: #ffffff;
}

.box.box-solid.box-success {
	border: 1px solid #00a65a;
}

.box.box-solid.box-success>.box-header {
	color: #ffffff;
	background: #00a65a;
	background-color: #00a65a;
}

.box.box-solid.box-success>.box-header a,
.box.box-solid.box-success>.box-header .btn {
	color: #ffffff;
}

.box.box-solid>.box-header>.box-tools .btn {
	border: 0;
	box-shadow: none;
}

.box.box-solid[class*='bg']>.box-header {
	color: #fff;
}

.box .box-group>.box {
	margin-bottom: 5px;
}

.box .knob-label {
	text-align: center;
	color: #333;
	font-weight: 100;
	font-size: 12px;
	margin-bottom: 0.3em;
}

.box>.overlay,
.overlay-wrapper>.overlay,
.box>.loading-img,
.overlay-wrapper>.loading-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box .overlay,
.overlay-wrapper .overlay {
	z-index: 50;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
}

.box .overlay>.fa,
.overlay-wrapper .overlay>.fa {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	color: #000;
	font-size: 30px;
}

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
	background: rgba(0, 0, 0, 0.5);
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
	content: " ";
	display: table;
}

.box-header:after,
.box-body:after,
.box-footer:after {
	clear: both;
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
	content: " ";
	display: table;
}

.box-header:after,
.box-body:after,
.box-footer:after {
	clear: both;
}

.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}

.box-header.with-border {
	border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
	border-bottom: none;
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion,
.box-header .box-title {
	display: inline-block;
	font-size: 18px;
	margin: 0;
	line-height: 1;
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
	margin-right: 5px;
}

.box-header>.box-tools {
	position: absolute;
	right: 10px;
	top: 5px;
}

.box-header>.box-tools [data-toggle="tooltip"] {
	position: relative;
}

.box-header>.box-tools.pull-right .dropdown-menu {
	right: 0;
	left: auto;
}

.btn-box-tool {
	padding: 5px;
	font-size: 12px;
	background: transparent;
	color: #97a0b3;
}

.open .btn-box-tool,
.btn-box-tool:hover {
	color: #606c84;
}

.btn-box-tool.btn:active {
	box-shadow: none;
}

.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
	.row {
		margin-left: -7px;
		margin-right: -8px;
	}
	[class*="col-"] {
		padding-left: 7px;
		padding-right: 8px;
	}
}

.no-header .box-body {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.box-body>.table {
	margin-bottom: 0;
}

.box-body .fc {
	margin-top: 5px;
}

.box-body .full-width-chart {
	margin: -19px;
}

.box-body.no-padding .full-width-chart {
	margin: -9px;
}

.box-body .box-pane {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 3px;
}

.box-body .box-pane-right {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 0;
}

.box-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 1px solid #f4f4f4;
	padding: 10px;
	background-color: #ffffff;
}

.chart-legend {
	margin: 10px 0;
}

@media (max-width: 991px) {
	.chart-legend>li {
		float: left;
		margin-right: 10px;
	}
}

.box-comments {
	background: #f7f7f7;
}

.box-comments .box-comment {
	padding: 8px 0;
	border-bottom: 1px solid #eee;
}

.box-comments .box-comment:before,
.box-comments .box-comment:after {
	content: " ";
	display: table;
}

.box-comments .box-comment:after {
	clear: both;
}

.box-comments .box-comment:before,
.box-comments .box-comment:after {
	content: " ";
	display: table;
}

.box-comments .box-comment:after {
	clear: both;
}

.box-comments .box-comment:last-of-type {
	border-bottom: 0;
}

.box-comments .box-comment:first-of-type {
	padding-top: 0;
}

.box-comments .box-comment img {
	float: left;
}

.box-comments .comment-text {
	margin-left: 40px;
	color: #555;
}

.box-comments .username {
	color: #444;
	display: block;
	font-weight: 500;
}

.box-comments .text-muted {
	font-weight: 400;
	font-size: 12px;
}

a.item {
	display: block;
	cursor: pointer;
	color: #555555;
}

a.item:hover {
	background: #f8f8ff;
}

.box.list-actions .selected-item-text {
	display: inline-block;
	vertical-align: middle;
	margin: -2px 30px 0 8px;
}

.box.list-actions .counts {
	margin: 7px 0 0;
	display: inline-block;
	vertical-align: middle;
}

.box-header.inline-block {
	display: inline-block;
	padding: 0;
	margin: 0 15px 0 0;
}

.box.item.selected {
	background: #b2f0ff;
	border: 2px solid #00c0ef !important;
	border-top-width: 4px !important;
	margin: -1px 0 18px;
}

.box.item .item-details {
	font-size: 90%;
}

.box.item .item-details h4 {
	margin-top: 0px;
	font-size: rem(16px);
}

.box.item .item-details table {
	margin-bottom: 0;
}

.box.item .owner {
	margin-top: 12px;
}

.box.item .owner,
.box.item .owner-email,
.box.item .owner-phone {
	color: #999999;
}

.box.item input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.alert-sm {
	padding: 4px 8px;
	margin-bottom: 15px;
}

.table .item {
	padding: 8px 24px 4px 16px !important;
	font-size: 80%;
}

.table .item .table {
	background: none;
	margin: 5px 0;
}

.widget_embed {
	margin: 16px;
}

.status-bar {
	margin: -8px 0;
	padding: 0 10px;
	line-height: 2.4em;
}

.timeline-wrapper {
	padding: 0 1px 0 16px;
}

.timeline-wrapper .timeline>li {
	margin-right: 0;
}

.timeline-wrapper .timeline blockquote {
	font-size: 16px;
}

.note {
	font-size: 16px;
}

.dashboard-btns .btn-block {
	margin-bottom: 15px;
	white-space: normal;
	text-align: left;
}

.dashboard-btns .btn-block h4,
.dashboard-btns .btn-block p {
	padding: 0 15px;
}

.bg-default {
	background-color: $link-color;
	color: $white-color;
	font-size: 12px;
	display: inline-block;
	padding: 0 3px;
	border-radius: 3px;
}

.block-header-page {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
}

.btn-success {
	color: #fff;
	background-color: $link-color;
	border-color: $link-color;
	&:hover,
	&:focus {
		background-color: $white-color;
		color: $link-color;
		border-color: $link-color;
	}
}

.checkbox label,
.checkbox-inline,
.radio label,
.radio-inline {
	padding-left: 0;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
	position: relative;
	margin-left: 0;
	margin-right: 3px;
	top: -1px;
}

//  Dropzon
.page-item-view .dropzone,
.page-match-manual .dropzone {
	min-height: 0;
	padding: 10px;
	background-color: #f2f2f2;
	border: 1px solid #dddddd;
}

.page-item-view .dropzone .dz-message,
.page-match-manual .dropzone .dz-message {
	margin: 5px 0;
}

.page-item-view .dropzone .dz-preview,
.page-match-manual .dropzone .dz-preview {
	display: block;
	margin: 10px auto;
	width: 120px;
	min-height: 80px;
	text-align: center;
}

.page-item-view .dropzone .dz-preview.dz-image-preview,
.page-match-manual .dropzone .dz-preview.dz-image-preview {
	background: none;
}

.page-item-view .dropzone .dz-preview .dz-image,
.page-match-manual .dropzone .dz-preview .dz-image {
	border-radius: 3px;
	width: 120px;
	height: 80px;
}

.page-item-view .dropzone .dz-preview .dz-details,
.page-match-manual .dropzone .dz-preview .dz-details {
	padding: 1em;
}

.dropzone.dz-clickable {
	cursor: pointer;
}

.dropzone {
	min-height: 150px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	background: white;
	padding: 20px 20px;
}

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
	cursor: pointer;
}

.dropzone .dz-message {
	text-align: center;
	margin: 2em 0;
}

.btn-default {
	color: $white-color;
	background-color: $link-color;
	border-color: $link-color;
	&:hover,
	&:focus {
		color: $link-color;
		background-color: $white-color;
		border-color: $link-color;
	}
}

.input-daterange {
	display: flex;
	.form-control {
		display: inline-flex;
		flex: 1 1 auto;
	}
	.input-group-addon {
		@include flex-width-col-xs(30px);
		display: flex;
		align-items: center;
		padding: 0;
		text-align: center;
		justify-content: center;
	}
}

.block-list-box.box-padding {
	.box-body {
		.row {
			margin-left: -15px;
			margin-right: -15px;
		}
		[class*=col-] {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.status-bar {
	line-height: $line-height-default;
	margin: 0;
	.box & {
		margin: 0;
	}
}

@media (min-width: 768px) {
	.lead {
		margin-bottom: 0;
		.bg-default {
			font-size: rem(24px);
		}
	}
}

.page-item-view .item-wrapper .item,
.page-match-manual .item-wrapper .item,
.block-list-details .item-wrapper .item,
.page-item-view .matched-item .item,
.page-match-manual .matched-item .item,
.block-list-details .matched-item .item,
.page-item-view .matches .item,
.page-match-manual .matches .item,
.block-list-details .matches .item,
.page-item-view .timeline-body .item,
.page-match-manual .timeline-body .item,
.block-list-details .timeline-body .item {
	margin: -10px;
	padding: 10px;
	border-radius: 0 0 3px 3px;
	font-size: 85%;
}

.page-item-view .box .item,
.page-match-manual .box .item,
.block-list-details .box .item,
{
	border-top: 0;
}

.page-item-view .box .reference,
.page-match-manual .box .reference,
.block-list-details .box .reference {
	padding: 5px 10px;
}

.page-item-view .box .images-wrapper,
.page-match-manual .box .images-wrapper,
.block-list-details .box .images-wrapper,
{
	margin-bottom: 5px;
}

.page-item-view .item-wrapper .item h4,
.page-match-manual .item-wrapper .item h4,
.block-list-details .item-wrapper .item h4,
.page-item-view .matched-item .item h4,
.page-match-manual .matched-item .item h4,
.block-list-details .matched-item .item h4,
.page-item-view .matches .item h4,
.page-match-manual .matches .item h4,
.block-list-details .matches .item h4,
.page-item-view .timeline-body .item h4,
.page-match-manual .timeline-body .item h4,
.block-list-details .timeline-body .item h4 {
	margin-top: 0;
	font-size: 130%;
}

.page-item-view .item-wrapper .item p:last-child,
.page-match-manual .item-wrapper .item p:last-child,
.block-list-details .item-wrapper .item p:last-child,
.page-item-view .matched-item .item p:last-child,
.page-match-manual .matched-item .item p:last-child,
.block-list-details .matched-item .item p:last-child,
.page-item-view .matches .item p:last-child,
.page-match-manual .matches .item p:last-child,
.block-list-details .matches .item p:last-child,
.page-item-view .timeline-body .item p:last-child,
.page-match-manual .timeline-body .item p:last-child,
.block-list-details .timeline-body .item p:last-child,
{
	margin-bottom: 0;
}

.page-item-view .owner-details table,
.page-match-manual .owner-details table,
.block-list-details .owner-details table {
	margin-bottom: 0;
}

.page-item-view .dropzone,
.page-match-manual .dropzone,
.block-list-details .dropzone {
	min-height: 0;
	padding: 10px;
	background-color: #f2f2f2;
	border: 1px solid #dddddd;
}

.page-item-view .dropzone .dz-message,
.page-match-manual .dropzone .dz-message,
.block-list-details .dropzone .dz-message,
{
	margin: 5px 0;
}

.page-item-view .dropzone .dz-preview,
.page-match-manual .dropzone .dz-preview,
.block-list-details .dropzone .dz-preview,
{
	display: block;
	margin: 10px auto;
	width: 120px;
	min-height: 80px;
	text-align: center;
}

.page-item-view .dropzone .dz-preview.dz-image-preview,
.page-match-manual .dropzone .dz-preview.dz-image-preview,
.block-list-details .dropzone .dz-preview.dz-image-preview {
	background: none;
}

.page-item-view .dropzone .dz-preview .dz-image,
.page-match-manual .dropzone .dz-preview .dz-image,
.block-list-details .dropzone .dz-preview .dz-image {
	border-radius: 3px;
	width: 120px;
	height: 80px;
}

.page-item-view .dropzone .dz-preview .dz-details,
.page-match-manual .dropzone .dz-preview .dz-details,
.block-list-details .dropzone .dz-preview .dz-details {
	padding: 1em;
}

.page-item-view .gallery-images,
.page-match-manual .gallery-images,
.block-list-details .gallery-images {
	margin-top: 5px;
}

.page-item-view .gallery-images .row,
.page-match-manual .gallery-images .row,
.block-list-details .gallery-images .row {
	margin-top: -10px;
}

.page-item-view .gallery-images .row>[class^="col-"],
.page-match-manual .gallery-images .row>[class^="col-"],
.block-list-details .gallery-images .row>[class^="col-"],
.page-item-view .gallery-images .row>[class*=" col-"],
.page-match-manual .gallery-images .row>[class*=" col-"],
.block-list-details .gallery-images .row>[class*=" col-"] {
	margin-top: 10px;
}

.item .item-status,
.item .item-type,
.item .item-location {
	padding: 1px 4px;
}

.item table thead th,
.item table tbody th,
.item table tfoot th,
.item table thead td,
.item table tbody td,
.item table tfoot td {
	border-top: 1px solid rgba(0, 0, 0, 0.025);
	padding: 3px 8px 3px 0;
	white-space: normal !important;
}

.item table thead tr:first-of-type th,
.item table tbody tr:first-of-type th,
.item table tfoot tr:first-of-type th,
.item table thead tr:first-of-type td,
.item table tbody tr:first-of-type td,
.item table tfoot tr:first-of-type td {
	border-top: none;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top: 1px solid #f4f4f4;
}

.table>thead>tr>th {
	border-bottom: 2px solid #f4f4f4;
}

.nobr,
.nowrap {
	white-space: nowrap;
}

.timeline-wrapper {
	padding: 0 1px 0 16px;
}

.timeline-wrapper .timeline>li {
	margin-right: 0;
}

.timeline-wrapper .timeline blockquote {
	font-size: 16px;
}


/*
 * Component: Timeline
 * -------------------
 */

.timeline {
	position: relative;
	margin: 0 0 30px 0;
	padding: 0;
	list-style: none;
}

.timeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 4px;
	background: #ddd;
	left: 31px;
	margin: 0;
	border-radius: 2px;
}

.timeline>li {
	position: relative;
	margin-right: 10px;
	margin-bottom: 15px;
}

.timeline>li:before,
.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li:before,
.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li>.timeline-item {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	margin-top: 0;
	background: #fff;
	color: #444;
	margin-left: 60px;
	margin-right: 15px;
	padding: 0;
	position: relative;
}

.timeline>li>.timeline-item>.time {
	color: #999;
	float: right;
	padding: 10px;
	font-size: 12px;
}

.timeline>li>.timeline-item>.timeline-header {
	margin: 0;
	color: #555;
	border-bottom: 1px solid #f4f4f4;
	padding: 10px;
	font-size: 16px;
	line-height: 1.1;
}

.timeline>li>.timeline-item>.timeline-header>a {
	font-weight: 500;
}

.timeline>li>.timeline-item>.timeline-body,
.timeline>li>.timeline-item>.timeline-footer {
	padding: 10px;
}

.timeline>li>.fa,
.timeline>li>.glyphicon,
.timeline>li>.ion {
	width: 30px;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	position: absolute;
	color: #666;
	background: #d2d6de;
	border-radius: 50%;
	text-align: center;
	left: 18px;
	top: 0;
}

.timeline>.time-label>span {
	font-weight: 500;
	padding: 5px;
	display: inline-block;
	background-color: #fff;
	border-radius: 4px;
}

.timeline-inverse>li>.timeline-item {
	background: #f0f0f0;
	border: 1px solid #ddd;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.timeline-inverse>li>.timeline-item>.timeline-header {
	border-bottom-color: #ddd;
}

.bg-default,
.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
	background-color: $link-color !important;
}

.bg-default,
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
	background-color: $link-color !important;
}

.bg-default,
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
	background-color: $link-color !important;
}

.bg-default,
.bg-blue {
	background-color: $link-color !important;
}

.bg-default,
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
	background-color: $link-color !important;
}

.bg-default,
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.modal-success .modal-body {
	background-color: $link-color !important;
}

.bg-default,
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
	color: #fff !important;
}

.box.filters.filter-details .box-body {
	margin-top: -12px;
	text-align: center;
}

.box.filters.filter-details .box-body .form-group {
	max-width: 160px;
	text-align: left;
}

.box.filters.filter-details .box-body .form-control {
	width: 100%;
}

.owner-email {
	word-break: break-all;
}

.selectize-control {
	&.form-control {
		width: auto;
		height: auto;
		padding: 0;
		background-color: transparent;
		border: 0 none;
		border-radius: 0;
		box-shadow: inherit;
	}
}

.selectize-dropdown {
	&.form-control {
		border: 1px solid #d0d0d0;
		background: #ffffff;
		margin: -1px 0 0 0;
		border-top: 0 none;
		box-sizing: border-box;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		border-radius: 0 0 3px 3px;
		height: auto;
		padding: 0;
	}
}

.selectize-dropdown .active {
	color: $white-color;
	background-color: $link-color;
}

select[multiple] {
	display: none;
}

.block-form-settings .btn-default {
	background-color: #ffffff;
	color: #444;
	border-color: #ddd;
}

.form-group label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}

.control-label.required:after {
	content: " *";
	font-weight: normal;
	color: #E74C3C;
}

a.canvasjs-chart-credit {
	display: none;
}

.chartcontainer {
	position: relative;
	width: 100%;
	height: 250px;
	margin-bottom: 30px;
	&:before {
		content: '';
		width: 80px;
		height: 11px;
		background: white;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
	}
}

.match-separator {
	position: relative;
	margin: 5px 0;
	text-align: center;
	z-index: 1;
}

.match-separator:before {
	border-top: 1px solid $link-color;
	content: "";
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
}

.match-separator span {
	background: #fff;
	padding: 0 15px;
	font-weight: bold;
	color: $link-color;
}
