body {
	&:not(.user-logged-in) {
		.container-login {
			width: 100%;
		}
	}
}

.hw-block-custom {
	// margin-top: rem(60px);
	.views-field-field-image {
		margin: rem(-15px) rem(-15px) rem(0px);
		img {
			display: block;
			margin: auto;
		}
		@media screen and (min-width: 1367px){
			margin: 0px;
		}
	}	
}
.page-node-147 {
	.section-wrapper {
		.container {
			@media screen and (max-width: 1366px) {
				// max-width: 1030px;
				// margin: auto;
				// padding-left: 0;
				// padding-right: 0;
			}
		}
	}
	
	.views-article-small {
		.views-row {
			margin-bottom: 0px;
			+ .views-row {
				margin-top: rem(12.4px)
			}
			.views-field-body {
				height: rem(41px);
				overflow: hidden;
			}
		}		
	}
}

.block-toolbox-bnt-quick-tabs {
	ul {
		&.quicktabs-tabs {
			li {
				&.active, &:hover {
					&:before {
						width: calc(100% - #{rem(22px)}*2);
						left: rem(22px);
					}
					a {
						border-bottom: 0px;
					}
				}
				&:first-child{
					&.active, &:hover {
						&:before {
							width: calc(100% - #{rem(22px)});
							left: rem(0px);
						}
					}
				}
				&:last-child{
					&.active, &:hover {
						&:before {
							width: calc(100% - #{rem(22px)});
							left: rem(22px);
						}
					}
				}
			}
		}
	}
}
 
/* fix logo hide in firefox */
.site-logo {
	width: 100%;
}

/* set color for title career page*/
.block-views-blockcontent-modules-block-9  {
	.views-field-title {
		color: $link-color;
	}
}
#block-views-block-careers-block-1 {
	.views-field-title-1 {
		.btn {
			@include link-more;
		}
	}
} 
.slick--optionset--home-not-login-banner {
	.slick__arrow {
		padding-top: 0px;
		padding-bottom: 0px;
		height: 0px;
		.slick-prev {
			float: left;
		}
	}
}



// #block-menuheader .menu-item a::before{
// 	width: 1.9375rem;
// 	height: 1.9375rem;
// }
// .page-node-172{
// 	&.user-logged-in {
// 		#content {
// 			background: #fff;
// 			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
// 			z-index: 1;
// 			.content {
// 				.field--name-field-image {
// 					margin: 0 rem(-30px) rem(30px);
// 					@media (min-width: 1401px) {
// 						//margin-bottom:rem(30px);
// 					}
// 					img {
// 						display: block;
// 						margin: auto;
// 						width: 100%;
// 					}
// 				}
// 			}
// 		}
// 		.block-page-title-block{
// 			min-height: rem(122px);
// 		}
// 		#main {
// 			.container {
// 				> .row {
// 					display: flex;
// 				}
// 			}
// 			background: $link-color;
// 			.region-main-content {
// 				//box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
// 				//height: 100%;
// 				z-index: 1;
// 			}
// 			.sa-number {
// 				font-size: rem(22px);	
// 				color: #b7b7b7;
// 				span {
// 					color: $link-color;
// 				}		
// 			}
// 		}
// 		#sidebar-6-6-top {
// 			margin-bottom:rem(80px);
// 			.self-assessment-form {
// 				background: #fff;
// 				padding: rem(40px) rem(100px) rem(10px) rem(60px);
// 				@media (max-width: 1400px) {
// 					//margin-bottom:rem(80px);
// 				}
// 				form {
// 					position: relative;
// 				}
// 				.form-submit {
// 					color: transparent;
// 					background: url(../images/myarrow.png) center -33px no-repeat;
// 					width: 37px;
// 					overflow: hidden;
// 				    min-width: 0;
// 				    position: absolute;
// 				    top: 50%;
// 				    right: rem(-40px);
// 				    transform: translateY(-50%);
// 					&:hover {
// 						background-color: $link-color;
// 						background-position-y: 3px; 
// 					}
// 				}
// 			    .form-radios {
// 			    	.option {
// 			    		margin-bottom: rem(15px);
// 			    		padding-bottom: rem(15px);
// 			    		border-bottom: 1px solid $bg-color;
// 			    		display: block;
// 			    	}
// 			        [type="radio"]:checked,
// 			        [type="radio"]:not(:checked) {
// 			            position: absolute;
// 			            left: -9999px;
// 			            + label {
// 			                position: relative;
// 			                padding-left: 40px;
// 			                cursor: pointer;
// 			                line-height: 20px;
// 			                color: #666;
// 			                &:before {
// 			                    content: '';
// 			                    position: absolute;
// 			                    left: 0;
// 			                    top: 0;
// 			                    width: 20px;
// 			                    height: 20px;
// 			                    border: 1px solid #ddd;
// 			                    border-radius: 100%;
// 			                    background: #e8e8e8;
// 			                }
// 			                &:after {
// 			                    content: '';
// 			                    width: 12px;
// 			                    height: 12px;
// 			                    background: #1BA75F;
// 			                    position: absolute;
// 			                    top: 4px;
// 			                    left: 4px;
// 			                    border-radius: 100%;
// 			                    -webkit-transition: all 0.2s ease;
// 			                    transition: all 0.2s ease;
// 			                }
// 			            }
// 			        }
// 			        [type="radio"]:not(:checked) + label:after {
// 			            opacity: 0;
// 			            -webkit-transform: scale(0);
// 			            transform: scale(0);
// 			        }
// 			        [type="radio"]:checked + label:after {
// 			            opacity: 1;
// 			            -webkit-transform: scale(1);
// 			            transform: scale(1);
// 			        }
// 			    }

// 				.content {
// 					padding: 0px;
// 					color: inherit;
// 				}
// 				.form-item {
// 					max-width: 500px;
// 					legend {
// 						border-bottom: 0;
// 						margin-bottom: rem(20px);
// 						.fieldset-legend {
// 							font-size: rem(16px);
// 							font-weight: 400;
// 							p {
// 								display: inherit;
// 							}
// 						}
// 					}
// 				}
				
// 			}
			
// 			.content {
// 				padding: rem(40px) rem(60px) rem(30px);
// 				color: #fff;
// 				min-height: rem(182px);
// 				.title-ques {
// 					font-size: rem(20px);
// 					margin-bottom: rem(10px);
// 				}
// 			}
// 		}
// 	}
// }

// .page-node-172[style*="40px;"] .main .region-main-content{
//  	height:calc(100vh - 179px);
// }

// .page-node-172[style^="padding-top:"][style$="79px;"] .main .region-main-content,
// .page-node-172 .main .region-main-content{
//  	height:calc(100vh - 139px);
// }