@include icons(ico-chat,24px,34px);
@include icons(ico-conseler,24px,34px);
@include icons(ico-email,24px,34px);
@include icons(ico-online,24px,34px);
@mixin container-login {
    @include sizeRem(padding-left, 15px);
    @include sizeRem(padding-right, 15px);
    margin: 0 auto;
    @media (min-width: $desktop) {
        width: 970px;
    }
    @media (min-width: $tablet-ht) and (max-width: $desktop - 1) {
        width: 970px;
    }
    @media (min-width: $tablet-vt) and (max-width: $tablet-ht - 1) {
        width: 750px;
    }
}
.container-login{
	@include container-login;
}

////////////////////Home login///////////////
.user-logged-in{
	&.page-node-1{
		h1{
			&.page-title{
				font-size:rem(28px);
				margin-bottom:rem(25px);
			}
		}
		.region-main-content{
			position: relative;
		}
		// .block-page-title-block{
		//     position: absolute;
		//     z-index: 2;
		//     top: 50%;
		//     left: 10%;
		//     margin-top: -32px;
		// }
		// .node{
		// 	.group-field{
		// 		margin-top:rem(55px);
		// 	}
		// }
	}
	&.page-node-16{
		h1{
			font-size:rem(28px);
		}
		#block-benestar-content{
			legend{
				border:none;
				display:none;
			}
		}
		.node{
			.group-field{
				font-size:rem(13px);
				margin-top:rem(15px);
				margin-bottom:rem(30px);
				padding-right:rem(300px);
				p{
					margin-bottom:rem(15px);
				}
			}
			margin-bottom:0;
		}
		// #node/16{
		// 	margin-bottom:0;
		// }
		
	}
}
.view-list-self{
	.views-row{
		padding: rem(20px) rem(40px) rem(20px) rem(15px);
		border-radius:rem(6px);
		border:1px solid #E3E3E3;
		display:flex;
		margin-bottom:rem(20px);
	}
	.views-field-field-image{
		@include flex-width-col-xs(224px);
	}
	.group-body-asses{
	    padding-right: 190px;
	    position: relative;
	    flex-direction: column;
	    display: flex;
	    height:100%;//9/11
	}
	.views-field-nothing-1{
		padding-left:rem(30px);
    	flex: 1 1 auto;
	    display: flex;
	    .field-content{
			width:100%;
		}
	}
	.field-view-title{
		@include wp-font(font-medium-title);
		font-size:rem(22px);
		color:$link-color;
		margin-bottom:rem(15px);
	}
	.field-view-body{
		font-size:rem(13px);

	}
	.field-view-start{
	    position: absolute;
	    right: 0;
	    transform: translateY(-50%);
	    top: 50%;
	}
	.start-now{
		@include btn;
		cursor:pointer;
	}

}

//////////////////////////////////
.view-list-people{
	.pre-next-people{
		margin-top:rem(40px);
	}
	.people-pre,.people-next{
		// @include flex-width-col-xs(50%);
		width:calc(50% - 15px);
		padding-top:rem(20px);
		border-top:1px solid #D5D5D5;
		img{
			width:rem(45px);
		}
		cursor: pointer;
		&:hover,&:focus{
			border-color: $link-color;
			&:before,&:after{
				color:$link-color;
			}
			.text{
				color:$link-color;
			}
			.field-name{
				color:$link-color;
			}
		}
	}
	
	.people-pre{
		margin-right:rem(15px);

		&:before{
			content:"\f104";
			@include fontawesome;
			position: relative;
			left:0;
			margin-right:rem(15px);
			bottom:rem(-25px);
			font-size:rem(14px);
			color:#D5D5D5;
		}
	}
	.people-next{
		margin-left:rem(15px);
		&:after{
			content:"\f105";
			@include fontawesome;
			position: relative;
			// left:rem(32px);
			margin-left:rem(15px);
			bottom:rem(-48px);
			font-size:rem(14px);
			color:#D5D5D5;
			float:right;
		}
	}
	
	.text{
		font-size:rem(13px);
		display:inline-block;
		vertical-align: bottom;
		padding-left:rem(15px);
		color:#8B8B8B;
		.field-name{
			color:$black-color;
			font-size:rem(20px);
			@include wp-font(font-body);
		}
	}
}
.view-list-contact.view-grid-2-cols{
	.views-row{
		margin-right:rem(20px);
		margin-bottom:rem(20px);
		@include flex-width-col-xs(calc(50% - 20px));
		background-color:$white-color;
		padding: rem(25px) rem(35px) rem(20px) rem(15px);
		border-radius:rem(6px);
		display:flex;
		background-color: #F5F5F5;
	}
	.view-content{
		display:flex;
		flex-wrap:wrap;
		margin-right:rem(-20px);
	}
}
.view-list-contact{

	.views-field-contact{
		@include flex-width-col-xs(95px);
		display:flex;
		align-items:center;
		.field-content{
			width:rem(70px);
			height:rem(70px);
			border-radius:50%;
			border:2px solid #eaeaea;
			padding:rem(16px) rem(21px);
		}
		.icon-chat{
			@extend .ico-chat;
		}
		.icon-online{
			@extend .ico-online;
		}
		.icon-counsellor{
			@extend .ico-conseler;
		}
		.icon-email{
			@extend .ico-email;
		}
	}
	.views-field-nothing{
		flex:1 1 auto;
		padding-right:rem(130px);
		position: relative;
	}
	.views-field-title{
		@include wp-font(font-medium-title);
		margin-bottom:rem(12px);
	}
	.views-field-body{
		color:$black-color;
	}
	.connect-now{
		@include btn;
		color:$link-color;
		background-color:$white-color;
		position: absolute;
		right:0;
		top:50%;
		transform:translateY(-50%);
		padding-top:rem(9.5px);
		padding-bottom:rem(9.5px);
		background-color: transparent;
	}
	.views-row{
		&:hover{
			background-color:$link-color;
			.icon-chat{
				background-image: url(../images/icons/ico-chat-hover.svg);
			}
			.icon-online{
			    background-image: url(../images/icons/ico-online-hover.svg);
			}
			.icon-email{
			   background-image: url(../images/icons/ico-email-hover.svg);
			}
			.icon-counsellor{
				    background-image: url(../images/icons/ico-conseler-hover.svg);
			}
			.views-field-title{
				color:$white-color;
			}
			.views-field-body{
				color:$white-color;
			}
			.connect-now{
				color:$white-color;
				background-color:$link-color;
				border:1px solid $white-color;
			}
		}
	}
}

.views-article-small{
	.views-row{
		padding: rem(15px) rem(15px) rem(20px);
		background-color:$white-color;
		display:flex;
		margin-bottom:rem(10px);
	}
	.views-field-field-image{
		@include flex-width-col-xs(150px);
		display:flex;
		align-items:center;
	}
	.views-field-nothing{
		flex:1 1 auto;
		padding-left:rem(15px);
	}
	.views-field-title{
		margin-top:0;
		margin-bottom:0;
	}
	.views-field-body{
		color:$black-color;
		font-size:rem(13px);
		margin-bottom:rem(11px);
	}

	.views-field-topic-mark,
	.group-topic{
		font-size:rem(12px);
		color:rgba(#959595,0.8);
		display:flex;
	}
	.field-label{
		@include flex-width-col-xs(30px);
	}
	.views-field-topic-name,
	.field-view-topic{
		// span{
		// 	color:$link-color;
		// 	padding-left:rem(10px);
		// }
		a{
			padding-left:rem(10px);
		}
		flex:1 1 auto;
	}
	// .views-field-link-flag{
	// 	display:flex;
	// 	align-items:flex-start;
	// }
	.field-view-flag{
		@extend .views-field-link-flag;
		@include flex-width-col-xs(10px);
	}
}




// views-user-custom
.row-my-profile{
	display:inline-block;
	width:100%;
	margin-top:rem(60px);
	.col-sm-4-my-profile{
		width: 33.3333%;
		float: left;
		.col-inner{
			padding-top:rem(30px);
			padding-bottom:rem(30px);
			padding-left:rem(40px);
			padding-right:rem(40px);
			background-color:$white-color;
		}
	}
	.col-sm-8-my-profile{
		width: 66.6664%;
		display: inline-block;

		.views-topic-name{
			.view-header{
				padding-left:rem(60px);
			}
			.view-content{
				padding-left:rem(60px);
			}
		}
	}
}
.views-user-custom{
	.views-field{
		border-bottom:1px solid #e5e5e5;
		margin-bottom: rem(7px);
		padding-bottom:rem(7px);
		@include flex-row;
		
		> *{
			@include flex-col-xs;
		}
		.field-content{
			text-align: right;
			color:$black-color;
		}
		&:last-child{
			border-bottom: none;
		}
		.views-label{
			color:#b6b6b6;
		}
	}

	.views-field-field-image,.views-field-mail{
		border-bottom: none;
		.field-content{
			text-align: center;
		}
		
	}

	.views-field-field-image{
		.field-content{
			width: rem(100px);
			height: rem(100px);
			border-radius: 50%;
			background-color:$link-color;
			background-image: url(../images/icons/ico-user.svg);
			background-size:cover;
			flex:none;
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
		}
		img{
			display:none;
		}
	}
	
	.group-name{
		font-size: rem(22px);
		// margin-bottom: 0;
		// padding-bottom:0;
		display:flex;
		justify-content:center;
		.views-field{
			padding-bottom:0;
			margin-bottom:0;
		}
	}
	.views-field-field-first-name-1{
		border:0;
		padding-right:rem(6px);
	}


	.views-field-mail{
		margin-bottom: rem(50px);
		
		.field-content{
			color:#b6b6b6;
		}
	}
}

// views-topic-name
.views-topic-name,.view-list-collection{
	h3{
		@extend .h2;
		color:$link-color;
		margin-bottom:rem(55px);
		padding-left:rem(60px);
		margin-top:rem(65px);
	}
	.views-label {
		color:#b6b6b6;
		margin-right: rem(5px);
	}
	.view-content{
		position: relative;
	}

	.views-field-created{
		position: absolute;
		top:rem(-42px);
		left:0;
	}
	.views-field-changed{
		position: absolute;
		top:rem(-42px);
		left:rem(163px);
	}


	
	// h3{
	// 	&+.views-row{
	// 		.views-field-created,
	// 		.views-field-changed{
	// 			display:inline-block;
	// 		}
	// 	}
	// }
	.group-content{
		padding-right:rem(60px);
		padding-left:rem(60px);
		background-color:$white-color;
		box-shadow:5px 0 20px darken(#fcfcfc,5%);
	}
	.views-row{
		@include flex-row;
		flex-wrap:nowrap;
		padding-top:rem(17px);
		// padding-left:rem(60px);
		// padding-right:rem(60px);
		padding-bottom:rem(17px);
		position: relative;
		border-bottom:1px solid #e5e5e5;
		// &:before{
		// 	content:"";
		// 	height:1px;
		// 	width:auto;
		// 	left:rem(60px);
		// 	right:rem(60px);
		// 	position: absolute;
		// 	background-color:#e5e5e5;
		// 	bottom:0;
		// }
		&:after{
			content:"";
			background-image:url(../images/icons/ico-moreline.svg);
			background-size:100% 100%;
			width: rem(5px);
			height: rem(20px);
			display: inline-block;
			float:right;
			margin-left:rem(10px);
		}
		&:last-child{
			border-bottom:0;
		}
		& ~.views-row{
			.views-field-created,
			.views-field-changed{
				display:none;
			}
		}
	}
	.views-field-title{
		flex:1 1 auto;
		justify-content: flex-start;
		color:$black-color;
		@include wp-font(font-body);
		font-size:rem(14px);
		margin:0;
		padding-right:rem(15px);
	}
	.icon-Videos{
		padding-left:rem(40px);
		position: relative;
		&:before{
			content:"";
			background-image:url(../images/icons/ico-video.svg);
			width:rem(15px);
			height:rem(20px);
			background-size:15px 20px;
			background-repeat:no-repeat;
			display:inline-block;
			margin-right:rem(25px);
			position: absolute;
			left:0;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.icon-Articles{
		padding-left:rem(40px);
		position: relative;
		&:before{
			content:"";
			background-image:url(../images/icons/ico-article.svg);
			width:rem(15px);
			height:rem(20px);
			background-size:15px 20px;
			background-repeat:no-repeat;
			display:inline-block;
			margin-right:rem(25px);
			position: absolute;
			left:0;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.icon-Audio{
		padding-left:rem(40px);
		position: relative;
		&:before{
			content:"";
			background-image:url(../images/icons/ico-podcast.svg);
			width:rem(15px);
			height:rem(20px);
			background-size:15px 20px;
			background-repeat:no-repeat;
			display:inline-block;
			margin-right:rem(25px);
			position: absolute;
			left:0;
			top:50%;
			transform:translateY(-50%);
		}
	}

	.views-field-author{
		@include flex-width-col-xs(160px);
		justify-content:flex-start;
		color:#B6B6B6;
		padding-right:rem(15px);
	}
	.views-field-last-updated{
		@include flex-width-col-xs(140px);
		justify-content:flex-start;
	}

	
}

//////my profile////////////////
.page-node-194{
	.main{
		background-color:#fcfcfc;
		overflow:hidden;
		.container{
			padding:0;
			>.row{
				display:flex;
			}
		}
		.region-main-content{
			// height:100%;
			padding: 1.875rem 2.5rem;
			padding-right:rem(57px);
  			// background-color: #fff;
  			// box-shadow: 0 5px 20px darken(#fcfcfc,5%);
  			&:before{
  				content:"";
  				background-image: url(../images/icons/ico-moreline.svg);
			    background-size: 100% 100%;
			    width: .3125rem;
			    height: 1.25rem;
			    display: inline-block;
			    margin-right:rem(-10px);
			    float:right;
  			}
		}
		#content{
			width:33.333333%;
			padding-right:0;
		}
		#sidebar-6-6-top{
			width:66.6666666%;
			padding-left:0;
			padding-top:rem(60px);
			margin-bottom:rem(60px);
		}
		ul{
			&.quicktabs-tabs{
				li{
					&.active{
						a{
							padding-left:0;
							padding-right:0;
						}
					}
					margin-right:rem(40px);
				}
				margin-left:rem(80px);
			}
			
		}
	}
	#block-benestar-page-title{
		display:none;
	}
}
///Navigation Tabs////
.page-node-194,
.page-node-14,
.page-node-172{
	ul{
		&.primary{
			>li{
				a{
					border:none;
					min-width:inherit;
					padding:0;
					&:hover,&:focus{
						background-color:$white-color;
						color:$black-color;
					}
				}

			}
		}
	}
	.tabs{
		a{
			&.is-active{
				background-color:$white-color;
				color:$black-color;
			}
		}
	}

}
////------------------profile cmt 9/11/2017------

// .page-node-194[style*="40px;"] .main .region-main-content{
// 	height:calc(100vh - 179px);
// }

// .page-node-194[style^="padding-top:"][style$="79px;"] .main .region-main-content,
// .page-node-194 .main .region-main-content{
// 	height:calc(100vh - 139px);
// }

// .page-node-194[style*="40px;"] .main .region-sidebar-6-6-top{
// 	height:calc(100vh - 179px - 60px);
// }

// .page-node-194[style^="padding-top:"][style$="79px;"] .main .region-sidebar-6-6-top,
// .page-node-194 .main .region-sidebar-6-6-top{
// 	height:calc(100vh - 139px - 60px);
// }

///feature home-login/////////////
.user-logged-in{
	.block-views-blockarticles-block-2,
	.block-views-feature{
		.views-field-topic-mark{
			margin-top:rem(47px);
			display:flex;
		}
		.views-field-link-flag{
			a{
				width:rem(13px);
				height:rem(30px);
				margin-right:rem(20px);
			}
		}
	}
}
/////////home-login////////////////
// .adminimal-admin-toolbar[style*="40px;"] {
// 	&.user-logged-in{
// 		.main {
// 		   padding-top: rem(139px);
// 		}
// 	}
// }

// .adminimal-admin-toolbar{
// 	&[style*="40px;"]{
// 		&.user-logged-in{
// 			.header ~ *{
// 				padding-top:rem(139px);
// 			}
// 		}
// 	}
// 	&[style^="padding-top:"][style$="79px;"]{
// 		&.user-logged-in{
// 			.header ~ *{
// 				padding-top:rem(100px);
// 			}
// 		}
// 	}
// 	&[style^="padding-top:"][style$="39px;"]{
// 		&.user-logged-in{
// 			.header ~ *{
// 				padding-top:rem(100px);
// 			}
// 		}
// 	}
// 	&.user-logged-in{
// 		.header ~ *{
// 			padding-top:rem(139px);
// 		}
// 	}
// }
	
.user-logged-in:not(.switch-page-home){
 &.page-node-1{
  .banner{
   opacity: 0;
   visibility: hidden;
   height: 0;
   padding-top: 0;
  }
 }
}
.user-logged-in{
	&.page-node-1{
		.main{
			padding-top:rem(100px);
		}
		.feature{
			display:none;
		}
	
		#block-views-block-block-our-services-page-block-5-2{
			display:none;
		}
		#block-views-block-articles-block-1-2{
			 opacity: 0;
		   visibility: hidden;
		   height: 0;
		}
		#content-third{
			display:none;
		}
		#footer_top{
			display:none;
		}
		#footer{
			display:none;
		}
		#content-bottom{
			display:none;
		}
		&.switch-page-home{
			.main{
				padding-top: 0;
			}
			.feature{
				display:block;
			}
			.banner{
				opacity: 1;
			   	visibility: visible;
			   	height: auto;
			}
			#block-views-block-block-our-services-page-block-5-2{
				display:block;
			}
			#block-views-block-articles-block-1-2{
				opacity: 1;
			   	visibility: visible;
			   	height: auto;
			}
			#content-third{
				display:block;
			}
			#footer_top{
				display:block;
			}
			#footer{
				display:block;
			}
			#content-bottom{
				display:block;
			}
			#block-benestar-page-title{
				display:none;
			}
			#block-benestar-content{
				display:none;
			}
			#block-views-block-articles-block-2{
				// display:none;
				opacity: 0;
			   	visibility: hidden;
			   	height: 0;
			}
			#content-second{
				display:none;
			}
		}
	}
}
.user-logged-in{
	&.page-node-1{
		&.switch-page-home{

		}
	}
	// #block-benestar-local-tasks{
	// 	background-color:$white-color;
	// }
	#block-views-block-block-our-services-page-block-5-2{
		padding: rem(30px) rem(30px);
	}
	.menu--our-links,
	.menu--our-offerings{
		@extend .block-menu-footer;
		ul{
			margin:0;
		}
	}
	#block-contactus-2{
		@extend .block-contactus-footer;
		@include flex-width-col-xs(27%);
	}
	.block-webform-block{
		@extend .block-from-footer;
	}
	#block-footer-2{
		@extend .block-copyright;
		@include flex-width-col-xs(420px);
	}
	#block-socialiconfooter-2{
		@extend .block-socials-footer;
	}
	#footer{
		>.container{
			width:auto;
			padding: rem(25px) rem(30px) rem(40px);
		}
	}
}
//Container login
.user-logged-in{
	.region-footer,
	.region-footer-top{
		@include container-login;
	}
}

//content home login///
.user-logged-in{
	.view-why-benestar{
		margin-top:rem(60px);
		margin-bottom:rem(80px);
	}
	.block-poll-custom{
		margin-top:rem(50px);
		margin-bottom:rem(60px);
		.form-type-radio{
			@include flex-width-col-xs(200px);
			margin-right:rem(35px);
		}
		.form-actions{
			// bottom:rem(-90px);
			// right:0;
		}
		.title-poll{
			padding-right:rem(100px);
		}
		.group-footer{
			max-width:rem(345px);
		}
		.answer-poll{
			.contextual-region{
				position: static;
			}
		}
	}
}
///home-switch/////////////
.page-node-147{
	#sidebar-fifth{
		background-color:#fcfcfc;
		#content-6-6-bottom{
			padding-left:0;
		}
		#sidebar-6-6-bottom{
			padding-right:0;
		}
	}
	// #feature{
	// 	display:none;
	// }
	.block{
		>h2{
			color:$link-color;
		}
		.view-header{
			a{
				position: absolute;
				top:rem(-38px);
				right:0;
				font-size:rem(13px);
				color:$body-color;
				&:hover,&:focus{
					color:$link-color;
					&:after{
						color:$link-color;
					}
				}
				&:after{
					content:"\f105";
					@include fontawesome;
					padding-left:rem(10px);
					color:#B6B6B6;
				}
			}
		}
	}
}
// .view-grid-default{
// 	.views-field-created{
// 		margin-top:rem(12px);
// 		font-size:rem(12px);
// 		color:#B6B6B6;
// 	}
// }

.view-type-video.view-grid-2-cols{
	.view-content{
		margin-right:rem(-15px);
	}
	.views-row{
		margin-right:rem(15px);
		padding-bottom:rem(50px);
		@include flex-width-col-xs(calc(50% - 15px));
	}
	.views-field-field-topic,
	.views-field-link-flag{
		bottom:rem(15px);
	}
	.views-field-field-topic{
		.field-content{
			margin-left:0;
		}
	}

}
.block-views-blockvideo-block-1{
	margin-bottom:rem(23px);
}
///my profile///////////
.block-views-my-company{
	.views-field-body{
		width:100%;
	}
}
///contact us///
.login-contact-title{
	color:$black-color;
}

///counsellor-map modal-email///////////
.page-node-193{
	&.user-logged-in{
		.block-webform-block{
			.webform-submission-form{
				.form-item{
					&:first-child{
						display:none;
					}
				}
			}
		}
	}
}
///toolbox////////////
.page-node-15{
	#feature{
		display:none;
	}
}
//page register ////////////
.page-register{
	.main-register{
		#edit-field-first-name-wrapper{
			display:none;
		}
		#edit-field-surname-wrapper{
			display:none;
		}
		#edit-field-mobile-wrapper{
			display:none;
		}
		#edit-field-organisation-wrapper{
			display:none;
		}
		#edit-field-location-wrapper{
			display:none;
		}
		#edit-field-email-optin-wrapper{
			display:none;
		}
		#edit-field-sms-optin-wrapper{
			display:none;
		}
		#edit-field-assessments-wrapper{
			display:none;
		}
		#edit-field-dob-wrapper{
			display:none;
		}
		#edit-field-member-type-wrapper{
			display:none;
		}
		#edit-field-user-picture-wrapper{
			display:none;
		}
	}
}
////counsellor map///
.block-view-profile-counsellor{
	.group-counsellor{
		p{
			&:nth-child(3){
				color:$black-color;
			}
		}
	}
}

////careers - circle highlight//////////
.block-views-blockcontent-modules-block-9{
	.views-field-field-headings{
		ul{
			li{
				padding-left:rem(45px);
				&:before{
					width:rem(28px);
					height:rem(28px);
				}
				&:after{
					width:rem(10px);
					height:rem(5px);
					left:0;
				}
			}
		}
	}
}
//my company//////////
.page-node-17{
	.field--name-field-image{
		position: absolute;
	    bottom: 40px;
	    top: auto;
	    left: 55px;
	}
	.group-field{
		left:rem(180px);
	}
	.block-page-title-block{
		.page-title{
			left:rem(180px);
		}
	}
}
///people - line-height description////
.view-ourservice-highlight{
	.views-field-body{
		span{
			line-height:rem(22px);
		}
	}
}

///////home- not login- vote////
.messages--status{
	margin-bottom:rem(20px);
	margin-top:rem(20px);
}

//////////assessments-quiz///////////////
// .page-node-172{
// 	.feature{
// 		display:none;
// 	}
// 	.main{
// 		overflow:hidden;
// 		// #content{
// 		// 	width:33.333333%;
// 		// 	padding-right:0;
// 		// }
// 		.region-main-content{
// 			// box-shadow: 0 5px 20px #efefef;
// 			padding:rem(40px) rem(30px);
			
// 		}
// 		.container{
// 			padding:0;
// 		}
// 		h1{
// 			margin-bottom:rem(45px);
// 		}
// 		#sidebar-6-6-top{
// 			width:66.666666%;
// 			padding-left:0;
// 		}
// 	}
// }

/////////////IE-contact us//////////////
#block-webform-2{
	input{
		@include placeholder(rgba($black-color, .4));
	}
	.form-select{
		color: rgba($black-color, .4);
	}
	textarea{
		@include placeholder(rgba($black-color, .4));
	}
}




/////////Home - not login, h1///////

.view-slideshow-home-login{
	.button-home-slide-dropdown{
		cursor:pointer;
	    position: absolute;
	    right: 0;
	    bottom: 32px;
	
		color: $white-color;
		font-size:0;
		&:before{
			content: "\f078";
			@include fontawesome;
			display: inline-block;
			font-weight: normal;
			font-size: rem(30px);
		}
		&:hover,&:focus{
			color:$link-color;
		}	
	}
	.views-field-title{
		padding-right: rem(65px);
		position: relative;
		&:after{
			display:none;
		}
	}
}

.view-slideshow-home-login{

}
.home-slide-dropdown{
	display:none;
	&.show{
	 	display:inline-block!important;
	    max-width:rem(350px);
	    @include wp-font(font-medium-title);
	    font-size:rem(17px);
	    padding-left:rem(20px);
	    padding-right:rem(20px);
	    position: absolute;
	    bottom: 35px;
	    left: 50%;
	    margin-left: 15px;
	    a{
	    	color:$white-color;
	    	display:block;
	    	padding-top:rem(5px);
	    	padding-bottom:rem(5px);
	    	border-bottom: 1px solid $white-color;
	    	&:hover,&:focus{
	    		color:$link-color;
	    	}
	    	&:last-child{
	    		border-bottom:none;
	    	}
	    }
	}
}
.front{
	.banner{
		position: relative;
	}
}
.user-logged-in{
	&.page-node-1{
		.slick--optionset--home-not-login-banner{
			.slick__arrow{
				width:rem(970px);
			}
		}
		.view-slideshow-home-login{
			.button-home-slide-dropdown{
				bottom:rem(41px);
			}
		}
	}
}

/// button click- feature section - home login//////
// .user-logged-in{
// 	&.page-node-1{
// 		button{
// 			&.slick-arrow{
// 				border:1px solid lighten($link-color,50%);
// 				&:before{
// 					width:rem(8px);
// 					height:rem(8px);
// 					border-left:2px solid lighten($link-color,50%);
// 					border-bottom:2px solid lighten($link-color,50%);
// 				}
// 			}
// 		}
// 	}
// }
.view-feature-type-1{
	button{
		&.slick-arrow{
			border:1px solid lighten($link-color,50%);
			&:before{
				width:rem(8px);
				height:rem(8px);
				border-left:2px solid lighten($link-color,50%);
				border-bottom:2px solid lighten($link-color,50%);
			}
		}
	}
}



///---------livechat---------------///
@media (min-width: $desktop){
	body{
		&.action-menu{
			#block-popuplivechat{
				display:block;
				position: fixed;
				left:rem(20px);
				bottom:rem(20px);
				z-index:100;
			}
		}
	}
	// #content-second{
	// 	display:none;
	// }
	#block-popuplivechat{
		display:none;
	}

}
@media (max-width: $desktop  - 1){
	#block-popuplivechat{
		display:block;
		position: fixed;
		left:rem(20px);
		bottom:rem(20px);
		z-index:100;
	}
	body{
		&.action-menu{
			// #content-second{
			// 	display:none;
			// }
			#block-popuplivechat{
				display:none;
			}
		}
	}
}
#block-popuplivechat{
	>h2{
		display:none;
	}
}
// #content-second{
// 	.container{
// 		padding:0;
// 	}
// }

@include icons(ico-phone-white, 12px, 14px);
@include icons(ico-chatfull-white, 14px, 14px);
.popup-live-chat{
	color:$white-color;
	display:flex;
	p{
		font-size:rem(14px);
		// display:inline-block;
		margin-bottom:0;
	}
}
.popup-contact{
	background-color:$link-color;
	width:rem(195px);
	height:rem(60px);
	border-radius:6px;
	display:flex;
	margin-right:rem(10px);
	p{
		&:first-child{
			font-size:rem(12px);
			color:rgba($white-color,0.64);

		}
	}
	.popup-body{
		padding-top:rem(8px);

	}
}
.icon-contact{
	@include flex-width-col-xs(65px);
    display: flex;
    justify-content: center;
    align-items: center;

	a{
		font-size:0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
		&:before{
			@extend .ico-phone-white;
			content:"";
			width:rem(12px);
			height:rem(14px);
		}
		width: 35px;
	    height: 35px;
	    // display: block;
	    border-radius:50%;
	    border:1px solid $white-color;
	}
}
.icon-livechat{
	@include flex-width-col-xs(65px);
    display: flex;
    justify-content: center;
    align-items: center;

	a{
		font-size:0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
		&:before{
			@extend .ico-chatfull-white;
			content:"";
			width:rem(14px);
			height:rem(14px);
		}
		width: 35px;
	    height: 35px;
	    // display: block;
	    border-radius:50%;
	    border:1px solid $white-color;
	}
}

.popup-livechat{
	background-color:$link-color;
	width:rem(155px);
	height:rem(60px);
	border-radius:6px;
	display:flex;
	.popup-body{
		padding-top:rem(20px);
	}
}
///////////////////////// page videos ////////////////////
.views-feature-video{
	.group-video{
		@include flex-width-col-xs(515px);
		z-index:2;
	}
	
	.views-field-field-video{
	    // display: block!important;
	    display:none;
	    @include flex-width-col-xs(515px);
	    width:100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    min-height:auto;
	    z-index:1;
	    iframe{
	    	//position: static;
	    }
	}
	.views-row{
		&.active{
			.views-field-field-video{
				display:block;
				z-index:2;
			}
			.group-video{
				opacity:0;
				z-index: 1;
			}
		}
	}
	.play-video-button{
		font-size:0;
		display:inline-block;
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		cursor:pointer;
		&:before{
			content:"";
			@extend .ico-play-large;
		}
		&:hover,&:focus{
			&:before{
				background-image: url(../images/icons/ico-play-large-hover.svg);
			}
		}
	}

}
.group-video{
	position: relative;
}
.video-duration{
	position: absolute;
	right:rem(30px);
	bottom:rem(20px);
	font-size:rem(16px);
	color:$white-color;
	@include wp-font(font-bold);
}


.view-type-video{
	// .video-duration{
	// 	font-size:rem(14px);
	// 	bottom:rem(15px);
	// 	left:rem(35px);
	// }
	// .views-field-field-video{
	//     position: absolute;
	//     left: rem(15px);
	//     top: rem(15px);
	//     right: rem(15px);
	// }
	iframe{
		//position: static;
	}
}
///////// page articles ////////////////
	// .user-logged-in{
	// 	&.action-menu{
	// 		.views-benestar-articles{
	// 			.views-row{
	// 				@include flex-width-col-xs(calc(25% - 25px));	
	// 			}
	// 		}
	// 	}
	// }

@media (min-width: 1600px){
	.user-logged-in{
		&.page-node-1{
			&.action-menu{
				.slick--optionset--home-not-login-banner{
					.slick__arrow{
						width:rem(1170px);
					}
				}
			}
			
		}
	}
}
///////
.page-node-14{
	.feature{
		display:none;
	}
}
/////page switch-home//////////
.page-node-147{
	.tabs{
		display:none;
	}
	.main{
		background-color:#fcfcfc;
	}
	.block{
		>h2{
			margin-top:rem(15px);
			margin-bottom:rem(20px);
		}
	}
}
.views-article-small{
	.views-field-title{
		margin-bottom:rem(10px);
	}
}

//////videos///////////////
body{
	&.action-menu{
		.view-type-video{
			&.view-grid-3-cols{
				.views-row{
					@include flex-width-col-xs(calc(25% - 30px));
				}
			}
			&.view-grid-4-cols{
				.views-row{
					@include flex-width-col-xs(calc(20% - 30px));
				}
			}
		}
	}
}
.views-type-video.view-grid-3-cols{
	.view-content{
		margin-right:rem(-30px);
	}
}
// .views-feature-video{
// 	.views-field-field-video{
// 		&:before{

// 		}
// 	}
// }

//////////Videos//////////////////////////
@media (min-width: 1600px){
	////video-------------
	.view-type-video{
		&.view-grid-3-cols{
			.views-row{
				@include flex-width-col-xs(calc(25% - 35px));
			}
		}
		&.view-grid-4-cols{
			.views-row{
				@include flex-width-col-xs(calc(20% - 35px));
			}
		}
	}	
	body{
		&.action-menu{
			.view-type-video{
				&.view-grid-3-cols{
					.views-row{
						@include flex-width-col-xs(calc(20% - 35px));
					}
				}
				&.view-grid-4-cols{
					.views-row{
						@include flex-width-col-xs(calc(16.66666% - 35px));
					}
				}
			}
		}
	}
}

//1199
@media (max-width: $desktop - 1){
	.view-ourservice-highlight{
		padding-top:rem(40px);
		margin-bottom:rem(30px);
		.views-row{
			column-gap: rem(60px);
			max-height: rem(280px);
		}
	}
	.view-highlight-copy{
		 .views-field {
		 	ul{
		 		flex-wrap:wrap;
		 		margin-right:rem(-60px);
		 	}

		 	li{
		 		
   				margin-bottom: 20px;
				flex: 0 0 calc(50% - 60px);
				max-width:calc(50% - 60px);
				margin-right: rem(60px);
			}
		}
	}
	.group-sv-left{
		width:58%;
		padding-right:rem(45px);
	}
	.group-sv-right{
		width:42%;
	}
	.views-benestar-services{
		margin-top:rem(35px);
		.views-row{
			padding:rem(35px);
			margin-bottom:rem(30px);
		}
		.group-sv-header{
			margin: rem(-35px) rem(-35px) rem(30px);
		}
		.views-field-title{
			margin-top:-5px;

		}
	}
	.view-ourofferings-highlight{
		margin-top:rem(35px);
		margin-bottom: rem(40px);
	}
	//////footer////////////////////

	//////faq////////////////////////
	.block-views-blockblock-our-services-page-block-7{
		padding-bottom:rem(25px);
		padding-top:rem(25px);
		.views-field-title{
			margin-bottom: rem(55px);
		}
	}
	.block-views-blockfaq-block-1{
		.views-row{
			padding: rem(30px) rem(120px) rem(30px) rem(40px);
		}
	}
	//////////people/////////////////////
	.page-node-145{
		.main{
			.container{
				padding-top:rem(60px);
			}
		}
	}
	.view-list-people{
		.views-row{
			margin-bottom:rem(60px);
		}
		.view-content{
			margin-bottom:rem(10px);
		}
	}
	.block-menu-media-sidebar{
		padding-left:rem(20px);
		margin-bottom:rem(45px);
	}

//-------video-------------//
	
	.view-type-video{
		&.view-grid-3-cols{
			.view-content{
				margin-right:rem(-25px);
			}
			.views-row{
				@include flex-width-col-xs(calc(33.3333% - 25px));
				margin-right:rem(25px);
				margin-bottom:rem(25px);
			}
		}
		&.view-grid-4-cols{
			.views-row{
				@include flex-width-col-xs(calc(33.3333% - 25px));
				margin-right:rem(25px);
				margin-bottom:rem(25px);
			}
			.view-content{
				margin-right:rem(-25px);
			}
		}
	}
	body{
		&.action-menu{
			.view-type-video{
				&.view-grid-4-cols{
					.views-row{
						@include flex-width-col-xs(calc(25% - 25px));
					}
				}
			}
		}
	}
	// .view-grid-default{
	// 	.view-content{
	// 		margin-right:rem(-20px);
	// 	}
	// 	.views-row{
	// 		margin-bottom:rem(20px)
	// 		margin-right:rem(20px);
	// 	}
	// }
//---------contact_us--------------//
//--------home-switch--------------//
//-------my-company--------------//
//-------my-profile---------------//
//----homepage not login----------//
	.view-slideshow-home-login{
		.button-home-slide-dropdown{
			bottom:35px;
		}
		.views-field-title{
			padding-right:rem(45px);
		}
	}
	.view-ourofferings-highlight{
		h2{
			margin-bottom: rem(10px);
		    font-size: rem(22px);
		    margin-top: rem(5px);
		    line-height: rem(28px);
		    max-width: rem(100px);
		}
		.view-header{
			padding:rem(15px);
		}
	}
	.views-benestar-services{
		.views-field-field-title1{
			padding-left:rem(35px);
			padding-right:rem(35px);
		}
	}
//-------careers not login----------//
	#block-views-block-careers-block-2{
		.modal-dialog{
			.views-field-title{
				padding-left:rem(100px);
				padding-right:rem(80px);
				font-size:rem(29px);
				margin-bottom:rem(50px);
			}
			.views-field-nothing{
				padding-left:rem(100px);
				padding-right:rem(80px);
			}
			.views-field-nothing-1{
				padding:rem(40px) rem(80px) rem(40px) rem(100px);
			}
		}
	}
//-------contact-us not login--------//
	.page-node-24{
		.main{
			.bs-1col{
				width:auto;
				padding-right:0;
				padding-left:0;
			}
		}
	}
}

///991
@media (max-width: $tablet-ht - 1){
	.view-ourofferings-highlight{
		flex-wrap:wrap;
		.view-header{
			@include flex-width-col-xs(100%);
			border:none;
			padding-left:0;
			padding-right:0;
		}
		h2{
			max-width:none;
		}
		.view-content{
			padding-left:0;
		}
	}
	/////////////faq///////////////////////
	.block-views-blockblock-our-services-page-block-7{
		.views-field-field-heading{
			padding-right:rem(20px);
		}
		.views-field-body{
			padding-left:rem(20px);
		}
	}
	//////////people/////////////////////
	.view-list-people{
		.views-row{
			width:33.333333%;
			float:left;
		}
	}
	///
	.view-list-people{
		.people-inner{
			padding-right:rem(15px);
			padding-left:rem(15px);
		}
		// .people-next{
		// 	&:after{
		// 		left:rem(15px);
		// 	}
		// }
		.group-body{
			padding-left:rem(30px);
		}
		.field-view-body{
			margin-bottom:rem(60px);
		}
		.group-image{
			@include flex-width-col-xs(250px);
		}
	}
//-----------video---------------//
	.view-type-video{
		&.view-grid-3-cols{
			.view-content{
			    margin-left: 0;
			}
			.views-row{
				margin-left: 0;
				@include flex-width-col-xs(calc(33.33333% - 25px));
			}
		}
		// &.view-grid-4-cols{
		// 	.views-row{
		// 		@include flex-width-col-xs(calc(25% - 25px));
		// 	}
		// }
	}
	body{
		&.action-menu{
			.view-type-video{
				&.view-grid-4-cols,
				&.view-grid-3-cols{
					.views-row{
						@include flex-width-col-xs(calc(33.33333% - 25px));
					}
				}
			}
		}
	}
	.views-feature-video{
		.views-field-field-video{
			@include flex-width-col-xs(350px);
			height:rem(200px);
		}
		.views-field-nothing{
			padding:rem(15px) rem(25px) rem(20px);
		}
		.group-video{
			@include flex-width-col-xs(350px);
			align-self:flex-start;
		}
	}

//------------contact_us--------//
	// .view-list-contact{
	// 	&.view-grid-2-cols{
	// 		.views-row{
	// 			padding:rem(15px);
	// 		}
	// 	}
	// 	.views-field-contact{
	// 		@include flex-width-col-xs(55px);
	// 		.field-content{
	// 			width:rem(50px);
	// 			height:rem(50px);
	// 			padding:rem(11px) rem(14.5px);
	// 		}
	// 		.icon-online,
	// 		.icon-email,
	// 		.icon-counsellor{
	// 			width:rem(17px);
	// 			height:rem(24px);
	// 		}
	// 	}
	// }

	.view-list-contact{
		&.view-grid-2-cols{
			.view-content{
				margin-right:0;
			}
			.views-row{
				@include flex-width-col-xs(100%);
				margin-right:0;

			}
		}
	}

//------------home-switch-------//
	.page-node-147{
		.col-lg-6{
			width:50%;
		}
		.main{
			#content{
				padding-right:rem(10px);
			}
			#sidebar-6-6-top{
				padding-left:rem(10px);
			}
		}
		#sidebar-fifth{
			#content-6-6-bottom{
				padding-right:rem(10px);
			}
		}
	}
	.views-training-game-list{
		&.view-grid-2-cols{
			.views-row{
				margin-right:rem(20px);
				@include flex-width-col-xs(calc(50% - 20px));
			}
			.view-content{
				margin-right:rem(-20px);
			}
		}
	}
	.hw-block-custom{
		margin-top:rem(20px) !important;//responsive-login đè
	}
//------------my-company----------//
	.page-node-17{
		#sidebar-fifth{
			padding-top:0;
			.sidebar{
				&:first-child{
					padding-right:rem(15px);
				}
				&:last-child{
					padding-left:rem(15px);
				}
			}
		}
		.block-page-title-block{
			.page-title{
				font-size:rem(29px)
			}
		}
	}
	.col-lg-6{
		width:50%;
	}
	.view-company-contact{
		margin-bottom:rem(30px);
		.views-row{
			@include flex-width-col-xs(calc(50% - 20px));
			margin-right:rem(20px);
		}
		.view-content{
			margin-right:rem(-20px);
		}
	}
	.sidebar{
		.block{
			>h2{
				margin-bottom:rem(20px);
			}
		}
	}
	.block-views-my-company{
		.view-header{
			padding-bottom:rem(20px);
			margin-top:rem(-42px);
		}
	}
//-------my-profile---------------//
	.page-node-194{
		.main{
			.region-main-content{
				padding:rem(20px) rem(37px) rem(20px) rem(20px);
			}
		}
		#quicktabs-my_profiles{
			ul.quicktabs-tabs{
				margin-left:rem(60px);
				margin-right:rem(60px);
			}
		}
	}
	.view-list-collection{
		.group-content{
			padding-left:rem(40px);
			padding-right:rem(40px);
		}
		h3{
			padding-left:rem(40px);
		}
	}
	.my-settings-custom{
		margin-left:rem(40px);
		margin-right:rem(40px);
	}
}


///767
@media (max-width: $tablet-vt - 1){

	.view-ourservice-highlight{
		.views-field-field-heading{
			font-size:rem(18px);
		}
		padding-top:rem(30px);
		margin-bottom:rem(20px);
	}
	.view-highlight-copy{
		padding-top:rem(25px);
		overflow: hidden;
		
	}
	.view-banner-basic{
		.views-field-title{
			font-size:rem(29px);
			width:100%;
			padding: 0 rem(15px);
		}
	}
	.views-benestar-services{
		margin-top:rem(25px);
		.views-row{
			padding:rem(25px);
			margin-bottom: rem(25px);
		}
		.views-field-title{
			margin-bottom:rem(30px);
			font-size:rem(22px);
		}
		.views-field-field-title1{
			font-size:rem(22px);
			padding: rem(30px) rem(25px);
		}
		.group-sv-header{
			margin: rem(-25px) rem(-25px) rem(20px);
		}
	}
	
	.item-list{
		li{
			padding-bottom:rem(13px);
		}
	}
	.view-ourofferings-highlight{
		margin-top:0;
		margin-bottom: rem(30px);
		.view-header{
			padding-top:rem(10px);
			padding-bottom:rem(15px);
		}
		h2{
			margin-bottom:rem(10px);
			margin-top:rem(10px);
			font-size:rem(22px);
		}

	}
	.block-cs-talkus{
		padding-top:0;
		.group-action{
			padding-top:rem(25px);
		}
		h2{
			font-size:rem(22px);
		}
	}
	.view-ourofferings-4cols{
		.views-field-title{
			font-size:rem(18px);
		}
	}
	///footer/////////////////
	.region-footer-top{
		flex-wrap:wrap;
		
		.block{
			@include flex-width-col-xs(50%);
		}
	}
	#footer_top{
		.region-footer-top{
			padding-top:rem(20px);
		}
	}
	.menu--our-offerings{
		order:1;
	}
	.menu--our-links{
		order:  3;
	}
	.block-from-footer{
		order:2;
	}
	.block-contactus-footer{
		order:4;
	}
	.block-from-footer{
		.webform-submission-form{
			input{
				width:100%;
			}
			.form-text,.form-email{
				width:100%;
			}
		}
	}
	////////////////faq///////////////////////
	.block-views-blockblock-our-services-page-block-7{
		padding-bottom:rem(10px);
		.views-field-title{
			font-size:rem(29px);
			margin-bottom:rem(35px);
		}
		.views-field-field-heading{
			font-size:rem(18px);
		}
		.views-field-body{
			margin-bottom:rem(15px);
		}
	}
	.block-views-blockfaq-block-1{
		.views-row{
			.views-field-title{
				font-size:rem(22px);
				margin-bottom:rem(15px);
			}
			padding: rem(20px) rem(70px) rem(20px) rem(20px);
			&:before{
				width:rem(30px);
				height:rem(30px);
				right:rem(30px);
			}
			
		}
	}
	//////////people/////////////////////
	.page-node-145{
		.main{
			.container{
				padding-top:rem(45px);
			}
		}
	}
	.view-list-people{
		.views-row{
			margin-bottom:rem(35px);
		}
		.group-body{
			padding-left:rem(20px);
		}
	}
	////
	.view-list-people{
		.group-image{
			@include flex-width-col-xs(145px);
		}
		.pre-next-people{
			img{
				width:rem(30px);
			}
			margin-top:rem(30px);
		}
		.text{
			padding-left:rem(10px);
			.field-name{
				font-size:rem(14px);
			}
		}
		.people-pre{
			margin-right:rem(10px);
			&:before{
				bottom:rem(-15px);
				margin-right:rem(10px);
			}
		}
		.people-next{
			margin-left:rem(10px);
			&:after{
				bottom:rem(-28px);
				margin-left:rem(10px);
			}
		}
		.people-pre,.people-next{
			width:calc(50% - 10px);
			padding-top:rem(10px);
		}
		.field-view-body{
			p{
				&:first-child{
					font-size:rem(16px);
				}
			}
		}
		.people-inner{
			padding-top:rem(80px);
		}
	}
	
//------------video---------------//
	.view-type-video{

	}
	ul{
		&.quicktabs-tabs{
			margin-bottom:rem(25px);
		}
	}
	.self-esteem-header,
	.header-other-toptic{
		h2{
			font-size:rem(22px);
			margin-top:rem(15px);
			margin-bottom:rem(10px);
		}
	}
	.view-type-video.view-grid-4-cols{
		margin-bottom:rem(25px);
	}
	.self-esteem-region{
		margin-bottom:rem(20px);
	}
	
	.view-type-video{
		&.view-grid-3-cols,
		&.view-grid-4-cols{
			.views-row{
				@include flex-width-col-xs(calc(50% - 20px));
				margin-right:rem(20px);
			}
			.view-content{
				margin-right:rem(-20px);
			}
		}
	}
	body{
		&.action-menu{
			.view-type-video{
				&.view-grid-4-cols,
				&.view-grid-3-cols{
					.views-row{
						@include flex-width-col-xs(calc(50% - 20px));
						margin-right:rem(20px);
					}
					.view-content{
						margin-right:rem(-20px);
					}
				}
			}
		}
	}
//------------home-switch----------//
	.page-node-147{
		.col-sm-12{
			width:100%;
		}

	}
//-----------my company ------------//
	// .sidebar{
	// 	&.col-lg-6{
	// 		width:50%;
	// 	}
	// 	&.col-sm-6{
	// 		width:50%;
	// 	}
	// }
	.page-node-17{
		.col-lg-6{
			width:50%;
		}
		.col-sm-6{
			width:50%;
		}
		#sidebar-fifth{
			.sidebar{
				&:first-child{
					padding-left:rem(10px);
					padding-right:rem(10px);
				}
				&:last-child{
					padding-left:rem(10px);
					padding-right:rem(10px);
				}
			}
		}
		.block-page-title-block{
			.page-title{
				font-size:rem(24px);
			}
		}
		.group-field{
			.field--name-body{
				p{
					font-size:rem(13px);
				}
			}
		}
	}
	.view-company-contact{
		.views-row{
			@include flex-width-col-xs(100%);
			margin-right:0;
		}
		.view-content{
			margin-right:0;
		}
	}
	.block-views-my-company{
		.views-row{
			padding:rem(15px);
			margin-bottom:rem(15px);
		}
	}
	.group-left{
		margin-right:rem(15px);
	}
	.sidebar{
		.block{
			>h2{
				font-size:rem(18px);
			}
		}
	}
//----------my proofile-------------//
	.page-node-194{
		.main{
			#content{
				width:40%;
			}
			#sidebar-6-6-top{
				width:60%;
			}
		}
		#quicktabs-my_profiles{
			ul.quicktabs-tabs{
				margin-left:rem(20px);
				margin-right:rem(20px);
			}
		}
	}
	.view-list-collection{
		.group-content{
			padding-left:rem(20px);
			padding-right:rem(20px);
		}
		h3{
			padding-left:rem(20px);
			margin-top:rem(35px);
			margin-bottom:rem(50px);
			font-size:rem(22px);
		}
		.icon-Articles,
		.icon-Videos,
		.icon-Audio{
			padding-left:rem(30px);
		}
	}
	.my-settings-custom{
		margin-left:rem(20px);
		margin-right:rem(20px);
		.password-settings{
			margin-top:rem(35px);
		}
	}
	.views-user-custom{
		.group-name{
			font-size:rem(18px);
		}
	}
//--------fix bug home not login -----------//
	.view-slideshow-home-login{
		.view-button{
			width:rem(30px);
			height:rem(30px);
			bottom:rem(35px);
		}
		.slide__caption{
			bottom:rem(80px)!important;
		}
		.button-home-slide-dropdown{
			bottom:rem(13px);
			width:rem(20px);
			height:rem(20px);
			&:before{
				font-size:rem(20px);
			}
		}
		.views-field-title{
			padding-right:rem(35px);
		}
	}
	.home-slide-dropdown{
		&.show{
			bottom:rem(-55px);
			transform: translateX(-50%);
			a{
				font-size:rem(14px);

			}
			background-color:rgba($black-color,0.4);
			z-index:10;
		}
	}
	.view-why-benestar{
		.text-description,
		.views-field-title{
			font-size:rem(22px);
		}
	}
	.view-our-offerings{
		.views-field-title{
			font-size:rem(22px);
		}
	}
	.block-our-offerings-home>h2{
		font-size:rem(22px);
	}
	.block-poll-custom{
		.title-poll{
			font-size:rem(22px);
		}
	}
	.block-title.block-latest>h2{
		font-size:rem(22px);
	}
	dl{
		dt{
			font-size:rem(16px);
		}
	}
	.view-testimonial{
		.views-field-body{
			display:none;
		}
	}
//--------careers not login -----------------//
	#block-views-block-careers-block-2{
		.modal-dialog{
			.modal-footer{
				right:rem(50px);
				.btn{
					width:rem(30px);
					height:rem(30px);
				}
			}
			.views-field-title{
				font-size:rem(22px);
				width:350px;
				margin-bottom:rem(30px);
				padding-left:rem(60px);
				padding-right:rem(50px);
			}
			.views-field-nothing{
				padding-left:rem(60px);
				padding-right:rem(50px);
				font-size:rem(16px);
			}
			.views-field-nothing-1{
				padding:rem(30px) rem(50px) rem(30px) rem(60px);
			}
		}
	}
}

///640
@media (max-width:$mobile){
	.view-ourservice-highlight{
		.views-row{
			column-count: 1;
		}
	}

	.view-highlight-copy{
		 .views-field {
		 	ul{
		 		margin-right:0;
		 	}

		 	li{
		 		@include flex-width-col-xs(100%);
				margin-right: 0;
			}
		}
	}
	.group-sv-left{
		width:100%;
		padding-right:0;
	}
	.group-sv-right{
		width:100%;
		margin-top:rem(15px);
	}
	.views-benestar-services{
		.views-row.show-more{
			.item-list{
				padding:rem(15px);
			}
		}
		.views-field-title{
			margin-top:0;
		}
	}

	///////////footer////////////////////
	#footer{
		.region-footer{
			flex-wrap: wrap;
		}
	}
	.block-copyright{
		@include flex-width-col-xs(200px);
		p{
			&:last-child{
				float:none;
				a{
					margin-left: 0;
				}
			}
			
		}
	}
	.block-from-footer{
		.webform-submission-form{
			.form-submit{
				width:100%;
			}
		}
	}
	.block-contactus-footer{
		button{
			width:100%;
			margin-bottom: rem(10px);
			&:last-child{
				margin-left:0;
			}
		}
	}
	//////////////////////////faq/////////////////////
	.block-views-blockblock-our-services-page-block-7{
		.views-field-field-heading,
		.views-field-body{
			width:100%;
			padding:0;
		}
		.views-field-field-heading{
			margin-bottom:rem(20px);
		}
	}
	.block-views-blockfaq-block-1{
		.views-row{
			.views-field-field-question,
			.views-field-field-answer{
				max-width:rem(350px);
			}
		}
	}
//-----------contact_us---------------//

	.login-contact-header{
		flex-wrap:wrap;
		margin-bottom:rem(40px);
	}
	.login-contact-calls{
		width:100%;
		.dropdown-toggle{
			margin-top:rem(15px);
		}
		.dropdown-menu{
			left:0;
			right:auto;
		}
	}
	// .view-list-contact{
	// 	&.view-grid-2-cols{
	// 		.views-row{
	// 			padding:rem(15px);

	// 		}
	// 	}
	// 	.views-field-contact{
	// 		@include flex-width-col-xs(70px);
	// 		.field-content{
	// 			width:rem(60px);
	// 			height: rem(60px);
	// 			padding:rem(14px) rem(18px);
	// 		}
	// 		.icon-online,
	// 		.icon-email,
	// 		.icon-counsellor{
	// 			width:rem(20px);
	// 			height:rem(28px);
	// 		}
	// 	}
	// }
	.view-list-contact{
		&.view-grid-2-cols{
			.views-row{
				padding:rem(15px);
			}
		}
		.views-field-contact{
			@include flex-width-col-xs(65px);
			.field-content{
				width:rem(55px);
				height:rem(55px);
				padding:rem(13.5px) rem(17px);
			}
			.icon-online,
			.icon-email,
			.icon-counsellor{
				width:rem(17px);
				height:rem(24px);
			}
		}
	}
//-----------my comapny---------------//
	.page-node-17{
		.col-sm-12{
			width:100%;
		}
		.field--name-field-image{
			// width:rem(80px);
			// height:auto;
			left:rem(30px);
			bottom:rem(50px);
		}
		.group-field{
			left:rem(145px);
			bottom:rem(50px);
		}
		.block-page-title-block{
			.page-title{
				left:rem(130px);
				bottom:rem(110px);
			}
		}
		#sidebar-fifth{
			.sidebar{
				&:first-child{
					padding:0;
				}
				&:last-child{
					padding:0;
				}
			}
		}
	}
	.view-company-contact{
		.views-row{
			@include flex-width-col-xs(calc(50% - 15px));
			margin-right:rem(15px);
		}
		.view-content{
			margin-right:rem(-15px);
		}
	}
	.view-company-notices{
		margin-bottom:rem(30px);
	}
	.view-company-contact{
		margin-bottom:rem(15px);
	}
//-----------my profile --------------//
	.page-node-194{
		.main{
			.row{
				flex-wrap:wrap;
			}
			#content{
				width:100%;
			}
			#sidebar-6-6-top{
				width:100%;
			}
		}
	}
	.my-settings-custom{
		margin-bottom:rem(75px);
	}
	.view-list-collection {
	    margin-bottom: rem(75px);
	}
//------------ self assessment --------//
	// .user-logged-in{
	// 	&.page-node-16{
	// 		.node{
	// 			.group-field{
	// 				margin-bottom:rem(15px);
	// 			}
	// 		}
	// 	}
	// }
//------------ page videos -----------//
	.views-feature-video{
		.views-field-field-video{
			@include flex-width-col-xs(200px);
			height:rem(115px);
		}
		.views-field-nothing{
			padding:rem(15px);
		}
		.group-video{
			@include flex-width-col-xs(200px);
		}
		.views-field-title{
			font-size:rem(18px);
		}
	}
}

//550
@media (max-width: 550px){
	////////////people///////////////
	.view-list-people{
		.views-row{
			width:50%;
			margin-bottom:rem(20px);
		}
	}
	////
	.view-list-people{
		.people-inner{
			flex-wrap:wrap;
		}
		.group-image{
			@include flex-width-col-xs(100%);
			img{

			}
		}
		.field-view-image-1{
			text-align:center;
		}
		.field-view-name,
		.field-view-title,
		.group-body{
			max-width:rem(336px);
			margin-left:auto;
			margin-right:auto;

		}
		.group-body{
			padding-left:0;
			padding-top:rem(15px);
		}
		.field-view-body{
			margin-bottom: rem(10px);
		}
	}

//--------home page not login ----------------//
	.home-slide-dropdown{
		&.show{
			width:100%;
			margin-left:0;
		}
	}
}

///480
@media (max-width: $mobile-md){
	.block-cs-talkus{
		.group-action{
			text-align:center;
		}
	}
	.block-from-footer{
		.webform-submission-form{
			.form-item{
				margin-top:rem(10px);
				margin-bottom:rem(10px);
			}
		}
	}
	//////footer///////////
	.region-footer-top{
		.block{
			@include flex-width-col-xs(100%);
		}
	}
	.menu--our-links{
		order:2;
	}
	///////////////////faq////////////////////
	.block-views-blockfaq-block-1{
		.views-row{
			.views-field-field-question,
			.views-field-field-answer{
				max-width:none;
				width:100%;
			}
		}
	}
//--------video-----------//
	.view-type-video{
		&.view-grid-3-cols,
		&.view-grid-4-cols{
			.views-row{
				@include flex-width-col-xs(100%);
				margin-right:0;
			}
			.view-content{
				margin-right:0;
			}
		}
	}
	body{
		&.action-menu{
			.view-type-video{
				&.view-grid-4-cols,
				&.view-grid-3-cols{
					.views-row{
						@include flex-width-col-xs(100%);
						margin-right:0;
					}
					.view-content{
						margin-right:0;
					}
				}
			}
		}
	}

	.views-feature-video{
		.views-field-nothing{
			padding-left:rem(15px);
			padding-right:rem(15px);
		}
	}
	.views-feature-video{
		margin-top:rem(30px);
		margin-bottom:rem(30px);
		.views-field-field-video{
			@include flex-width-col-xs(100%);
			bottom:auto;
			padding-bottom:58%;
		}
		.views-row{
			flex-wrap:wrap;
			position: relative;
		}
		.views-field-nothing{
		    border: 1px solid #ededed;
		    border-top:none;
		    padding-top:rem(20px);
		}
		.group-video{
			@include flex-width-col-xs(100%);
		}
	}
//---------contact_us---------//
	.view-list-contact{
		&.view-grid-2-cols{
			.views-row{
				flex-wrap:wrap;
			}
		}
		.views-field-contact{
			@include flex-width-col-xs(100%);
			.field-content{
				width:rem(90px);
				height:rem(90px);
				margin-left:auto;
				margin-right:auto;
				padding:0;
				display:flex;
				justify-content: center;
				align-items:center;
			}
			.icon-online,
			.icon-email,
			.icon-counsellor{
				width:rem(30px);
				height:rem(42.5px);
			}
		}
		.connect-now{
			width:100%;
			position: relative;
			transform:none;
		}
		.views-field-nothing{
			padding-right:0;
		}
		.views-field-title{
			text-align:center;
		}
	}
	.login-contact-calls{
		.dropdown-toggle{
			width:100%;
		}
		.dropdown-menu{
			right: 0;
		}
	}
	.login-contact-title{
		>h2{
			font-size:rem(22px);
			margin-top:rem(10px);
		}
	}
	.page-node-192{
		ul{
			&.primary{
				>li{
					a{
						border:none;
						min-width:inherit;
						padding:0;
						&:hover,&:focus{
							background-color:initial;
							color:$black-color;
						}
					}

				}
			}
			padding:rem(15px);
		}
		.tabs{
			a{
				&.is-active{
					background-color:initial;
					color:$black-color;
				}
			}
		}
	}
//---------my company --------//
	.page-node-17{
		.block-page-title-block{
			.page-title{
				display:none;
			}
		}
		.field--name-field-image{
			display:none;
		}
		.group-field{
			display:none;
		}
	}
	.view-company-contact{
		.views-row{
			@include flex-width-col-xs(100%);
			margin-right:0;
		}
		.view-content{
			margin-right:0;
		}
	}
//--------career not login--------//
	#block-views-block-careers-block-2{
		.modal.in{
			.modal-dialog{
				padding-left:0;
				margin-left:0;
			}
		}
		 .modal-dialog{
		 	.modal-content{
				padding-top:rem(30px);
		 	}
		 	.views-field-title{
		 		padding-left:rem(40px);
		 		width:auto;
		 		padding-right:rem(80px);
		 	}
		 	.views-field-nothing{
		 		padding-left:rem(40px);
		 		padding-right:rem(30px);
		 	}
		 	.views-field-nothing-1{
		 		padding-left:rem(40px);
		 		padding-right:rem(30px);
		 	}
		 	.modal-footer{
		 		top:rem(30px);
		 	}
		 }
	}
}

@media (max-width: 420px){
//--------livechat---------//
	.popup-live-chat{
		flex-wrap:wrap;
	}
	.popup-contact{
		@include flex-width-col-xs(100%);
		margin-right:0;
		margin-bottom:rem(10px);
		height:rem(45px);
		.popup-body{
			padding-top:0;
		}
	}
	.popup-livechat{
		@include flex-width-col-xs(100%);
		height:rem(45px);
		.popup-body{
			padding-top:0;
		}
	}
	.popup-body{
		flex: 1 1 auto;
		align-self:center;
	}
	#block-popuplivechat{
		right:rem(20px);
	}
//--------home-switch----------//
	.page-node-147{
		.views-article-small{
			.views-row{
				.views-field-body{
					height:rem(36px)!important; //responsive-login đè
				}
			}
		}
	}
	.views-article-small{
		.views-field-field-image{
			@include flex-width-col-xs(100px);
		}
		.views-field-title{
			font-size:rem(16px);
		}
		.views-row{
			padding:rem(10px);
		}
		.views-field-body{
			font-size:rem(12px);
		}
	}
	.view-type-video{
		&.view-grid-2-cols{
			.views-row{
				@include flex-width-col-xs(100%);
				margin-right:0;
			}
			.view-content{
				margin-right:0;
			}
		}
	}
	.views-training-game-list{
		&.view-grid-2-cols{
			.views-row{
				@include flex-width-col-xs(100%);
				margin-right:0;
			}
			.view-content{
				margin-right:0;
			}
		}
		.views-field-title{
			text-align:center;
		}
	}
}

//360
@media (max-width: $mobile-sm){
	.block-copyright{
		@include flex-width-col-xs(100%);
	}
	.block-socials-footer{
		margin-top:rem(15px);
		text-align: left;
		ul{
			padding-left:0;
		}
	}
	///people///////////////
	////
	.view-list-people{
		.people-pre,.people-next{
			position: relative;
			padding-top:rem(25px);
		}
		.people-pre{
			&:before{
				top:rem(5px);
				position: absolute;
				bottom:auto;

			}
		}
		.people-next{
			&:after{
				top:rem(5px);
				position: absolute;
				right:0;
				bottom:auto;
			}
		}
		.text{
			padding-left:rem(4px);
		}
	}

//-----------my profile------------//
	.view-list-collection{
		h3{
			margin-bottom:rem(75px);
		}
		.views-field-created{
			top:rem(-67px);
		}
		.views-field-changed{
			left:0;
		}
		.views-row{
			flex-wrap:wrap;
			&:after{
				position: absolute;
			    right: 0;
			    top: 50%;
			    transform: translateY(-50%);
			}
		}
		.views-field-last-updated{
			@include flex-width-col-xs(100%);
			padding-right:rem(40px);
			padding-left:rem(30px);
		}
		.views-field-title{
			padding-right:rem(40px);
			margin-bottom:rem(15px);
		}
	}
//---------homepage not login-------//
	.view-slideshow-home-login{
		.views-field-title{
			padding-right: 0;
    		padding-bottom: 20px;
		}
		.button-home-slide-dropdown{
			bottom: 0;
		    left: 50%;
		    transform: translateX(-50%);
		}
	}

}

//320
@media (max-width: $mobile-xs){
	/////////people////////////////
	.view-list-people{
		.views-row{
			width:100%;
			padding-right:rem(15px);
			padding-left:rem(15px);
		}
		.show-popup-people{
			right:rem(30px);
		}
	}

}

.slick__slider:not(.slick-slider){
	
		.slick__slide{
			display:none ;
			&:first-child{
				display: block;
			}

		}
	
}

/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .views-benestar-articles{
   		.view-content{
   			margin-right:rem(-48px);
   		}
   }
}

//test///

// .views-benestar-articles{
// 	.view-content{
// 		// justify-content: space-between;
// 		// display: flex;
// 		// flex-flow: row wrap;
// 		margin: 0;
// 		@include flex-row;
// 		justify-content:space-between;
// 	}
// 	.views-row{
// 		@include flex-width-col-xs(calc(16.6666% - 10px));
// 		width: 100%;
// 		min-height: 1px;
// 	}
// 	@media (min-width: 768px) and (max-width: 992px){
// 		.views-row{
// 			@include flex-width-col-xs(calc(33.3333% - 20px));
// 		}	
// 	}
// }

/// animation popup livechat////////////

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.7, .7, .7);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

body.action-menu #block-popuplivechat{
    animation-fill-mode: both;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
	@extend .zoomIn;
	
}
.view-company-notices {
	.views-field-nothing{
		display:flex;
		flex:1;
	}
}
.group-left{
	align-self:flex-start;
	&:before{
		left:50%;
		transform:translateX(-50%);
	}
}
//////////////////////////////
.block-switchview{
	.btn{
		a{
			color:$black-color;
		}
		&:hover,&:focus{
			a{
				color:$white-color;
			}
		}
	}
}
///////action notification
.action-notification{
	z-index:101;
	.close-notification{
		text-align:left;
		top:0;
		&:after{
			@extend .ico-notification;
			content:"";
			width:23px;
			height:23px;
			background-image: url(../images/icons/ico-notification-hover.svg);
		}
		&:before{
			order:3;
			float:right;
		}
	}
	.view-header{
		margin-bottom:rem(40px);
	}
	.view-content{
		margin-top:rem(40px);
	}
}

.page-node-16{
	.main{
		background-color:#fcfcfc;
	}
	// .tabs{
	// 	background-color:$white-color;
	// }
	.bs-region--main{
		padding-left:0;
		padding-right:0;
	}
}