/* ------- page audio -------- */
.node--type-audio {
    padding: 0 rem(120px);
    .field--name-field-audio {
        text-align: center;
        label {
            display: block;
            margin-top: rem(10px);
            margin-bottom: rem(25px);
        }
    }
    .field--name-field-topic {
        >* {
            display: inline-block;
            margin-right: rem(5px);
        }
    }
}
/* --- view-latest slider home page --- */
.view-latest {
    .slick-list {
        margin-bottom: rem(20px);
    }
    .views-field-title a {
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: rem(45px);
        margin: 0 auto;
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .views-field-body p {
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: rem(60px);
        margin: 0 auto;
        line-height: 1.4;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


/* ============================================ LOGIN =============================================== */
.user-logged-in:not(.action-menu) .header:after {
    display: none;
}
.user-logged-in [class*=node--type] {
    padding-left: 0;
    padding-right: 0;
    width: 100%;  
}
.user-logged-in.front [class*=node--type] {
    margin-bottom: 0;
}
#block-menuheader .menu-item a:before {
    top: 50%;
    transform: translate(0, -50%);
}
//------------- Setting --------------
.my-settings-custom {
    margin-left: rem(60px);
    margin-right: rem(60px);
    h2 {
        @include sizeRem(font-size, 22px);
        color: #1BA75F;
        margin-bottom: rem(25px);
        text-transform: capitalize;
    }
    .settings-items {
        display: flex;
        flex-wrap: wrap;
        .group-inner {
            position: relative;

            padding: rem(15px) rem(0px);
            border-bottom: 2px solid #F6F6F6;
            display: block;
            flex: 0 0 100%;
            max-width: 100%;
            display: inline-block;
            margin-bottom: 0;
        }
        span {
            &.onoff-label {
                text-transform: uppercase;
                margin-left: rem(10px);
                margin-right: rem(50px);
            }
        }
        label {
            margin-bottom: 0;
            &:before {
                content: '';
                width: rem(40px);
                height: rem(20px);
                border: 1px solid #E0E0E0;
                border-radius: 5px;
                position: absolute;
                top: rem(16px);
                left: 0;
            }
            &:after {
                content:'';
                position:absolute;
                top: rem(16px);
                left: 0;
                width: rem(20px);
                height: rem(20px);
                background: #E0E0E0;
                border: 1px solid #E0E0E0;
                border-radius: rem(5px);
                transition: left 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            }
        }
        input:checked + label {
            &:after {
                left: rem(20px);
                border-color: #1BA75F;
                background-color: #1BA75F;
            }
        }
        input {
            z-index: 100;
            opacity: 0;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: rem(40px);
            height: rem(20px);
            border: 1px solid #E0E0E0;
            border-radius: 5px;
            background: #fff;
            position: relative;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;
            transition: background 0.3s;
            box-sizing: border-box;
            outline: none;
        }
    }
    .password-settings {
        margin-top: rem(50px);
    }
    .change-password {
        color: #444444;
        background-color: transparent;
        border-radius: .375rem;
        border: 1px solid #E0E0E0;
        padding: rem(8px) rem(25px);
        display: inline-block;
        &:hover, &:focus {
            background-color: #1BA75F;
            border-color: #1BA75F;
            color: #fff;
        }
    }
}

//----------- end setting -------------

//---- Notification ---
.notification-header {
    cursor: pointer;
}
.navigation-menu {
    z-index: 50;
}
.notification {
    overflow:hidden;
    &:before {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 20;
        background-color: #fff;
        opacity: .8;
    }
    .block-views-blocknotices-block-1 {
        // display: block;
        right: 0;
        // transition: all 0.3s ease-in-out;
    }
}
.block-views-blocknotices-block-1{
    overflow: hidden;
    width: 100%;
    max-width: rem(320px);
    z-index: 99;
    position: fixed;
    right: -330px;
    height: 100%;
    background: #fff;
    box-shadow: -5px 0 20px 0 #f3f3f3;
    transition: all 0.3s ease-in-out;
    z-index: 101;
    .content{
        width: 100%;
        height: 100%;
        // overflow-y: scroll;
        // padding-right: 17px;
        // box-sizing: content-box;
    }
}

.action-notification {
    font-family: $font-body-second;
    padding: rem(70px) rem(55px) rem(60px) rem(55px);
    height: 100%;
    position: relative;
    .view-header{
        position: absolute;
        left: rem(55px);
        top: rem(40px);
        right: rem(55px);
    }
    .view-footer{
        display: block;
        position: absolute;
        left: rem(55px);
        bottom: rem(25px);
        right: rem(55px);
        a{
            font-size: 14px;
            font-weight: 600;
            text-decoration: underline;
        }
    }
    .close-notification {
        font-size: 0;
        position: relative;
        top: rem(-25px);
        text-align: right;
        cursor: pointer;
        &:before {
            content: '\f105';
            @include fontawesome;
            @include sizeRem(font-size, 25px);
            color: $link-color;
            
        }
    }
    .view-content-inner{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-right: 17px; 
        box-sizing: content-box;
    }
    .view-content {
        margin-top: 0 !important;
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding-top: 12px;
        .views-row {
            margin-bottom: rem(20px);
            padding-bottom: rem(15px);
            border-bottom: 1px solid #E8E8E8;
            position: relative;
            &:last-child{
                margin-bottom: 0;
            }
        }
        h3 {
            @include sizeRem(font-size, 16px);
            color: #349C42;
            margin: 0;
            margin-bottom: rem(30px);
        }
        .views-field-title {
            @include sizeRem(font-size, 13px);
            color: rgba(#000, .7);
            margin: 0;
            margin-bottom: 0;
            @include wp-font(font-body);
        }
        .views-field-field-notice-status {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #92b558;
            color: #fff;
            font-size: 12px;
            display: inline-block;
            padding: 0 3px;
            border-radius: 3px;
            text-transform: capitalize;
        }
        .views-field-body {
            @include sizeRem(font-size, 16px);
            color: #4C4C4C;
            margin-bottom: 0;
            a{
                color: $title-color;
                &:hover, &:focus{
                    color: $link-color;
                }
            }
        }
    }
}
/* ---- end Notification ----- */

/* ----- Home page login ----- */


body.action-menu {
    // overflow: scroll!important;
    .view-article-video.view-grid-4-cols {
        .views-row {
            // flex: 0 0 20%;
            // max-width: 20%;
            @include flex-width-col-xs(calc(20% - 15px));
        }
    }
}
.view-feature-type-1.view-dots-default {
    .slick-dots {
        position: absolute;
        bottom: rem(0px);
        left: 0;
        margin-left: rem(451px);
    }
}
.view-article-video.view-grid-4-cols {
    .view-content {
        flex-wrap: wrap;
    }
    // .views-row {
    //     flex: 0 0 23%;
    //     max-width: 23%;
    // }
}
@media (min-width: 1600px) {
    body .view-article-video.view-grid-4-cols .views-row {
        // flex: 0 0 18%;
        // max-width: 18%;
        @include flex-width-col-xs(calc(20% - 15px));
    }
    body.action-menu {
        .view-article-video.view-grid-4-cols {
            .views-row {
                @include flex-width-col-xs(calc(16.666666% - 15px));
            }
        }
    }
}

//page Assessment_Quiz
#assessment {
    background-color: #FCFCFC;
}
.block-percentage {
    margin-top: rem(40px); 
    margin-bottom: rem(30px); 
    h2 {
        @include sizeRem(font-size, 28px);
    }
    .description {
        @include sizeRem(font-size, 13px);
        color: #000;
        margin-bottom: rem(40px);
        width: 50%;
    }
    .progress-bar {
        background-color: #fff;
        border-radius: 3px;
        height: rem(4px);
        width: 50%;
        box-shadow: none;
        display: block;
        .percent {
            display: block;
            width: 10%;
            background-color: #54CB8E;
            height: 100%;
        }
    }
    .number {
        @include sizeRem(font-size,22px);
        span {
            margin-right: rem(3px);
            color: #BFBFBF;
            position: relative;
            &:first-child {
                color: #1BA75F;
            }
            &:last-child {
                &:before {
                    content: '/';
                    margin-right: rem(6px);
                }
            }
        }
    }
}

.group-question {
    margin-bottom: rem(50px);
    padding-bottom: rem(50px);
    padding-top: rem(50px);
    box-shadow: 0px 4px 20px 0px #F4F4F4;
}
.question {
    @include container;
    h4 {
        margin-bottom: rem(30px);
        position: relative;
        &:before {
            content: '';
            left: rem(-45px);
            top: 50%;
            margin-top: -.125rem;
            width: rem(12px);
            height: rem(6px);
            border-bottom: 2px solid #1BA75F;
            border-left: 2px solid #1BA75F;
            background: 0 0;
            -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
            border-radius: 0;
            margin-left: .5625rem;
            position: absolute;
        }
    }
    ul {
        padding-left: 0;
        list-style: none;
        width: 50%;
        border: 1px solid #E6E6E6;
        border-radius: 30px;
        padding: rem(5px) rem(10px);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
            display: inline-block;
            @include sizeRem(font-size,16px);
            transition: all 0.3s ease-in-out;
            color: #95989A;
            cursor: pointer;
            width: rem(35px);
            height: rem(35px);
            border-radius: 50%;
            text-align: center;
            line-height: rem(35px);
            &:hover, &:focus {
                background-color: #1BA75F;
                color: #fff;
            }
        }
    }
}

.view-like {
    @include container;
    margin-bottom: rem(30px);
    h3 {
        margin-bottom: rem(45px);
        width: 50%;
        @include sizeRem(font-size, 18px);
    }
    .view-node {
        a {
            padding: rem(8px) rem(20px);
            background-color: #1BA75F;
            color: #fff;
            position: relative;
            padding-left: rem(30px);
            border-radius: 20px;
            @include sizeRem(font-size, 16px);
            margin-right: rem(10px);
            display: inline-block;
            &:before {
                content: '\f08a';
                @include fontawesome;
                @include sizeRem(font-size, 18px);
                margin-right: rem(15px);
            }
            &.unlike {
                background-color: transparent;
                color: #9F9F9F;
                &:before {
                    color: #D8D8D8;
                }
                &:after {
                    content: '';
                    background-color: #E0E0E0;
                    width: rem(25px);
                    height: rem(2px);
                    position: absolute;
                    left: rem(27px);
                    top: rem(17px);
                    transform: rotate(-45deg);
                }
                &:hover, &:focus {
                    background-color: #1BA75F;
                    color: #fff;
                    &:before, * {
                        color: #fff; 
                    }
                    &:after {
                        color: #fff;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

.self-assement-custom {
     // padding-top: rem(40px);
    .view-content .views-row .views-row {
        border: 1px solid #EDEDED;
        padding: rem(25px) rem(35px);
        margin-bottom: rem(10px);
        position: relative;
        cursor: pointer;
        
        &:before {
            content: '';
            width: rem(36px);
            height: rem(36px);
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid #EDEDED;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            margin-left: rem(-18px);
        }
        &:after {
            content: '';
            left: 0;
            top: 50%;
            margin-top: -.125rem;
            width: rem(12px);
            height: rem(6px);
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            background: 0 0;
            -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
            border-radius: 0;
            margin-left: rem(-6px);
            position: absolute;
            display: none;
        }
        &.checked {
            &:before {
                background-color: #1BA75F;
                border-color: #1BA75F;
            }
            &:after {
                display: block;
            }
        }
    }
    .views-field-view .views-field-title {
        @include sizeRem(font-size, 14px);
        margin: 0;
    }
    .view-content >.views-row {
        margin-bottom: rem(50px);
        width: 90%;
    }
}

/* =========================================== END LOGIN ============================================= */


/* =========================================== NOT LOGIN ============================================= */
/* --------------- page contact us ---------------- */
#block-webform-2 {
    .flag-container {
        padding-left: 15px;
    }
    .form-type-select {
        position: relative;
        &:after {
            content: '\f107';
            @include fontawesome;
            position: absolute;
            top: 50%;
            right: rem(20px);
            @include sizeRem(font-size, 15px);
            display: block;
            margin-top: rem(-7px);
            color: #C6C2BC;
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* ------------- end page contact us ------------- */

/* ----------------------- FAQ page --------------------------- */
.block-views-blockblock-our-services-page-block-7 {
    @include clearfix;
    padding-bottom: rem(40px);
    padding-top: rem(40px);
    .views-field-title {
        @include sizeRem(font-size, 34px);
        margin-bottom: rem(75px);
    }
    .views-field-field-heading {
        width: 50%;
        float: left;
        @include sizeRem(font-size, 22px);
        color: #10944F;
        padding-right: rem(40px);
    }
    .views-field-body {
        width: 50%;
        float: right;
        @include sizeRem(font-size, 13px);
        padding-left: rem(40px);
    }
}

.block-views-blockfaq-block-1 {
    .views-row {
        background-color: #F8F8F4;
        border-top: 1px solid #4AAC71;
        padding: rem(40px) rem(50px);
        padding-right: rem(150px);
        position: relative;
        ~ .views-row {
            margin-top: rem(20px);
        }
        &:before{
            content: '';
            background: url(../images/icons/ico-plus.svg);
            width: rem(40px);
            height: rem(40px);
            position: absolute;
            top: 50%;
            right: rem(65px);
            margin-top: rem(-20px);
        }
        .views-field-title {
            @include sizeRem(font-size, 29px);
            margin-bottom: rem(25px);
        }
        .views-field-field-question { 
            color: #000;
        }
        &.action-faq {
            .views-field-field-answer {
                display: block;

                animation-fill-mode: both;
                animation-duration: 0.9s;
                animation-timing-function: ease-in-out;
                animation-name: fadeInFromNone;
                @-webkit-keyframes fadeInFromNone {
                    from {
                        display: none;
                        opacity: 0;
                    }
                    to {
                        display: block;
                        opacity: 1;
                    }
                }

                @-moz-keyframes fadeInFromNone {
                    from {
                        display: none;
                        opacity: 0;
                    }
                    to {
                        display: block;
                        opacity: 1;
                    }
                }

                @-o-keyframes fadeInFromNone {
                    from {
                        display: none;
                        opacity: 0;
                    }
                    to {
                        display: block;
                        opacity: 1;
                    }
                }

                @keyframes fadeInFromNone {
                    from {
                        display: none;
                        opacity: 0;
                    }
                    to {
                        display: block;
                        opacity: 1;
                    }
                }
                span {
                    line-height:rem(22px);
                }
            }
        }
        
        .views-field-field-answer {
            display: none;
            color: #000;
        }
    }
}
/* --------------------- end FAQ page ------------------------ */

/* -------------------- page careers ------------------------ */
#block-views-block-careers-block-1 {
    .views-field-title-1 .btn {
        @extend .views-field-view-node;
        background-color: transparent;
        border: none;
        padding: 0;
        @include sizeRem(font-size, 14px);
    }
}
.block-views-blockblock-our-services-page-block-9 {
    margin-bottom: rem(30px);
    margin-top: rem(80px);
    .views-field-field-heading{
        color:$link-color;
        font-size: rem(22px);
    }
    .views-row{
        @include margin-parent;
        @include flex-row;
        .views-field{
            @include padding-parent;
            @include flex-col-xs;
        }
    }
}
.block-views-blockcontent-modules-block-9 {
    margin-bottom:rem(100px);
    padding-top:rem(90px);
    padding-bottom:rem(90px);
    position:relative;
    &:before{
        position:absolute;
        left:50%;
        top:0;
        height: 100%;
        width: rem(3000px);
        content: "";
        display: inline-block;
        transform: translateX(-50%);
        background:$bg-color;
        z-index: -1;
    }
    .views-field-title{
        margin-top: 0;
        a{
            color:$link-color;
        }
    } 
    .views-row{
        @include flex-row;
        > .views-field{
            @include flex-width-col-xs(50%);
        }
    }
    .views-field-nothing{
        @include flex-width-col-xs(50%);
    }
    .views-field-nothing{
        padding-left:rem(100px);
        position: relative;
        &:before{
            position: absolute;
            top:0;
            left:rem(100px);
            width:rem(1px);
            display: inline-block;
            content: "";
            height: 100%;
            background:#e1e1dd;
        }
        .views-field{
            padding-left:rem(100px);
        }
    }

    .views-field-body{
        margin-bottom:rem(50px);
    }

    .views-field-field-heading{
        padding-top:rem(20px);
    }

    .views-field-field-headings ul{
        list-style-type: none;
        padding-left:0;
        li{
            margin-bottom:rem(20px);
            margin-left: 0;
            padding-left:rem(60px);
            position: relative;
            &:last-child{
                margin-bottom: 0;
            }
            &:before{
                content: '';
                width: rem(44px);
                height: rem(44px);
                border: 1px solid $link-color;
                border-radius: 50%;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);    
                background-color: $link-color;
            }
            &:after{
                content:'';
                left: rem(5px);
                top: 50%;
                margin-top: rem(-2px);
                width: rem(15px);
                height: rem(10px);
                border-bottom: 1px solid $white-color;
                border-left: 1px solid $white-color;
                background: transparent;
                transform: translateY(-50%) rotate(-45deg);
                border-radius: 0;
                margin-left: rem(9px);
                position: absolute;
            }
        }
    }
}
//------- popup -------
#block-views-block-careers-block-2 { 
    .modal.fade .modal-dialog {
        transform: translate(-25%,0);
        // overflow: hidden;
    }
    .modal.in .modal-dialog {
        transform: translate(0,0);
    }
    .modal-backdrop.in {
        background-color: #fff;
        opacity: 0.8;
    }
    .modal-dialog {
        height: 100%;
        position: relative;
        width: 100%;
        padding-left: 30%;
        margin-top: 0;
        .modal-footer {
            border: none;
            padding: 0;
            position: absolute;
            top: 50px;
            right: rem(85px);
            .btn {
                border: none;
                font-size: 0;
                background: url(../images/icons/ico-plus.svg);
                width: 2.5rem;
                height: 2.5rem;
                transform: rotate(45deg);
                &:hover, &:focus {
                    opacity: 0.7;
                }
            }
        }
        .modal-content {
            padding-top: rem(50px);
            border-radius: 0;
            box-shadow: none;
            border: none;
            height: 100%;
            box-shadow: -5px 0px 20px 0px #F3F3F3;
            
        }
        .views-field-title {
            @include sizeRem(font-size, 34px);
            width: 75%;
            padding-left: rem(150px);
            padding-right: rem(130px);
            margin-top: 0;
            margin-bottom: rem(65px);
        }
        .views-field-nothing {
            @include sizeRem(font-size, 18px);
            padding-left: rem(150px);
            padding-right: rem(130px);
            color: #10944F;
            
            span{
                display: inline-block;
                position: relative;
                padding-bottom: rem(20px);
                &:after {
                    content: '';
                    width: 100%;
                    height: rem(1px);
                    display: inline-block;
                    background-color: #10944F;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        .views-field-nothing-1 {
            padding-left: rem(150px);
            padding-right: rem(130px);
            background-color: #F8F8F4;
            padding-top: rem(55px);
            padding-bottom: rem(55px);
            li {
                list-style: none;
                margin-left: 0;
                border-bottom: 1px solid #E2E3E0;
                padding-bottom: rem(15px);
                margin-bottom: rem(15px);
                color: #000;
            }
        }
        .field-view-body {
            margin-top: rem(30px);
            margin-bottom: rem(50px);
        }
        .field-view-link a {
            padding: rem(10px) rem(20px);
            border: 1px solid #1ba75f;
            background-color: #1ba75f;
            color: #fff;
            border-radius: rem(5px);
            &:hover, &:focus {
                background-color: #15844b;
            }
        }
    }
}
/* ------------------ end page careers --------------------- */

/* -------------------- page Articles --------------------- */
.views-benestar-articles {
    .views-field-view-node {
        &:after {
            display: none;
        }
        a .views-field-view-node:after {
            display: inline-block;
        }
    }
}

.node--type-articles .article-group-inner {
    position: relative;
    .title a {
        padding-right: rem(120px);
        display: inline-block;
        &:hover, &:focus {
            color: #1ba75f;
        }
    }
    .share-bottom {
        position: absolute;
        top: rem(48px);
        right: 0;
        .field__label {
            border: 1px solid #D4D4D4;
            border-radius: 5px;
            padding: rem(10px) rem(15px);
            display: inline-block;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover, &:focus {
                background-color: #1ba75f;
                color: #fff;
                border-color: #1ba75f;
            }
            &:after {
                content: '';
                background: url(../images/icons/ico-share.svg)no-repeat;
                width: rem(15px);
                height: rem(17px);
                @include sizeRem(font-size, 15px);
                display: inline-block;
                margin-left: rem(30px);
            }
        }
        .field__item {
            display: none;
            position: absolute;
            top: -70px;
            right: 0;
            background: #fafafa;
            padding: rem(5px) rem(10px);
            border-radius: 5px;
            box-shadow: 1px 0px 15px 0px #bababa;
            &.show {
                display: block;
            }
            ul {
                margin-bottom: 0;
            }
            li {
                margin-right: rem(5px);
            }
        }
        .social-media-sharing .share img {
            width: rem(23px);
        }
    }
}

/* ------------------ end page Articles ----------------- */

.page-node-24 {
    background: #fff;
    #main {
        .row {
            @include flex-row;
            align-items: flex-end;
        }
        .container{
            padding-top: rem(45px);
            padding-bottom: rem(75px);
        }
    }
    #content .region-main-content {
        flex: 0 0 100%;
        padding-bottom: rem(80px);

    }
}

/* ------------------ end contact-us ----------------- */

/* ---------------- page company people ------------------ */
#block-views-block-benestar-block-block-3 {
    position: relative;
    &:before {
        content: '';
        z-index: 1;
        background: linear-gradient(to bottom,rgba(255,0,0,0),#000);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .slick__arrow {
        @include container;
        position: absolute;
        bottom: rem(45px);
        right: 0;
        left: 0;
        text-align: right;
        z-index: 5;
        button {
            margin-right: rem(2px);
        }
    }
}


/* --------------- end page company-people --------------- */

/* -------- footer ------- */
#block-ourofferings, #block-ourlinks {
    ul {
        margin-left: 0;
    }
}
/* ------- end footer ------- */
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block;
}

/* --------- Home page ----------- */
.view-testimonial {

    // .views-field-title a {
    //     display: block;
    //     display: -webkit-box;
    //     max-width: 100%;
    //     height: rem(78px);
    //     margin: 0 auto;
    //     line-height: 1.4;
    //     -webkit-line-clamp: 2;
    //     -webkit-box-orient: vertical;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    // }
    // .views-field-body p {
    //     display: block;
    //     display: -webkit-box;
    //     max-width: 100%;
    //     height: rem(60px);
    //     margin: 0 auto;
    //     line-height: 1.4;
    //     -webkit-line-clamp: 3;
    //     -webkit-box-orient: vertical;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     margin: auto;
    // }
}

.views-benestar-articles .view-content {
    margin-right: rem(-30px);
}

/* ============================================== END NOT LOGIN =============================================== */

.header {
    z-index: 11;
}
// @media (min-width: 1450px) {
//     /* ------- page articles --------- */
//     .user-logged-in .views-benestar-articles .views-row {
//         flex: 0 0 calc(20% - 44px);
//         max-width: calc(20% - 44px);
//     }
// }
// @media (min-width: 1200px) and (max-width: 1450px) {
//     /* ------- page articles --------- */
//     .user-logged-in.action-menu .views-benestar-articles .views-row {
//         flex: 0 0 calc(25% - 44px);
//         max-width: calc(25% - 44px);
//     }
// }
// 1200
@media (min-width: $desktop) {
    $size-grid: 1170px;
    @function remGird($size) {
            @return percentage($size / $size-grid);
    }
    .view-list-people .views-row img {
        width: 100%;
    }

}

@media (min-width: 1024px) and (max-width: 1199px) {
    .view-testimonial .views-field-field-image {
        height: rem(130px);
    }
    .view-testimonial .active.center .views-field-field-image {
        height: rem(147px);
    }


}
@media (max-width: 1024px) {
    .view-testimonial .active.center .views-field-field-image {
        height: rem(200px);
    }
}

// 1199
@media (max-width: $desktop - 1) {
    /* ---- Home Page ----- */
    #block-headermenu .menu-item {
        line-height: 1;
    }
    .scrolled #block-headermenu ul.menu {
        margin-bottom: rem(3px);
    }

    .view-slideshow-notfront-notlogin .slick-dots {
        left: rem(30px);
        margin-left: 0;
    }
    .view-slideshow-notfront-notlogin .slick__arrow {
        right: rem(30px);
        left: auto;
        margin-left: 0;
        bottom: rem(20px);
    }
    #block-menuheader .menu-item a {
        font-size: 0;
        min-width: auto;
        padding-left: rem(35px);
        &:after {
            @include sizeRem(font-size, 20px);
        }
    }
    .user-logged-in #block-searchform .form-search {
        min-width: auto;
    }

    /* ------ end Home page ------- */

    /* ----------- Home page login --------- */
    .view-article-video.view-grid-4-cols .views-row {
        flex: 0 0 30%;
        max-width: 30%;
    }
    body.action-menu .view-article-video.view-grid-4-cols .views-row {
        flex: 0 0 23%;
        max-width: 23%;
    }

    /* ---- view-latest ---- */
    .views-field-created+.views-field-topic:before {
        margin-right: rem(5px);
    }
    .views-field-created {
        padding-right: rem(5px);
    }
    
}

// 992 - 1199
@media (min-width: $tablet-ht) and (max-width: $desktop - 1) {
    $size-grid: 970px;
	@function remGird($size) {
		 @return percentage($size / $size-grid);
    }
    /* ------- Home page login ------- */
    .view-dots-default.view-feature-type-1 {
        .views-field-title {
            display: block;
            display: -webkit-box;
            max-width: 100%;
            height: rem(25px);
            margin: 0 auto;
            line-height: 30px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .views-field-body {
            display: block;
            display: -webkit-box;
            max-width: 100%;
            height: rem(58px);
            margin: 0 auto;
            line-height: 20px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    /* ------- end Home page login ------- */
}

// 991
@media (max-width: $tablet-ht - 1) {
    body.action-menu:not(.user-logged-in) {
        padding-left: 0;
    }
    body {
        &:not(.action-menu) {
            padding-left: 0;
            #navigation-menu {
                transform: translateX(-100%);
            }
        }
        &.user-logged-in.action-menu {
            padding-left: rem(265px);
            #navigation-menu {
                transform: translateX(0);
            }
        }
    }
    body.user-logged-in.action-menu {
        padding-left: 0;
    }
    .scrolled .navbar-toggle {
        margin-top: rem(25px);
    }
    #page {
        padding-left: 0;
        right: 0;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        position: relative;
        margin-right: 0;
    }
    #page.toggled {
        @include sizeRem(right, 250px);
        .btn-close {
            display: block;
        }
        .navbar-toggle {
            visibility: hidden;
        }
    }
    .btn-close {
        display: none;
        border-radius: 50%;
        background: url('../images/btn-close.png') no-repeat center center #ccc;
        box-shadow: 0 12px 27px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        position: absolute;
        @include sizeRem(right, 8px);
        @include sizeRem(top, 15px);
        @include sizeRem(width, 48px);
        @include sizeRem(height, 48px);
        z-index: 999;
    }
    .navbar-toggle {
        border: none;
        display: block;
        padding: 0;
        border-radius: 0;
        position: absolute;
        // top: rem(87px);
        @include sizeRem(margin-top, 32px);
        @include sizeRem(margin-left, 0px);
        @include sizeRem(margin-right, 25px);
        float: left;
        .icon-bar {
            background: $link-color;
        }
        &:hover,
        &:focus {
            background: none;
            .icon-bar {
                background: darken($link-color, 8%);
            }
        }
    }
    #page.toggled .mobile-main-menu {
        right: 0;
        display: block;
    }
    .overlay {
        cursor: pointer;
        position: fixed;
        // left: 0;
        top: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
    }
    .nav {
        .open > a {
            background: none;
            &:hover,
            &:focus {
                background: none;
            }
        }
    }
    .mobile-main-menu {
        padding: rem(20px);
        background: #fff;
        bottom: 0;
        display: block !important;
        height: 100%;
        overflow-y: auto !important;
        position: fixed;
        @include sizeRem(right, -250px);
        @include sizeRem(width, 250px);
        top: 0;
        z-index: 1000;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        .container {
            padding: 0;
            position: static;
            width: auto;
        }
        /* main-menu */
        ul {
            padding: 0;
            margin: 0;
            a {
                display: block;
                color: #000;
                padding-left: 0;
                padding-right: 0;
                @include sizeRem(padding-top, 10px);
                @include sizeRem(padding-bottom, 10px);
                text-decoration: none;
                &:hover,
                &:focus {
                    color: #555;
                }
                &.is-active {
                    color: #555;
                }
            }
            > li {
                border-bottom: 1px solid #ddd;
                display: block;
                float: none;
                list-style: none;
                margin: 0;
                padding: 0;
                &:last-child {
                    border-bottom: none;
                }
                ul {
                    @include sizeRem(padding-left, 20px);
                    @include sizeRem(padding-bottom, 5px);
                    li {
                        border-bottom: 0;
                        a {
                            padding:{
                                left: 0;
                                right: 0;
                                @include sizeRem(top, 7px);
                                @include sizeRem(bottom, 7px);    
                            }
                        }
                    }
                }
            }
            .expanded {
                > a {
                    position: relative;
                    &:before {
                        // @include nucleo_glyph;
                        // content: '\ea91';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        @include sizeRem(width, 20px);
                        @include sizeRem(height, 20px);
                        @include sizeRem(margin-top, -10px);
                        line-height: 1.3;
                        text-align: right;
                    }
                }
            }
        }
    }
    // end Mobile-menu

    /* -------------- home page ---------------- */
    //header 
    .header .group-header {
        padding-bottom: rem(10px);
    }
    .block-contacus-header p:first-child {
        display: none;
    }
    #block-benestar-branding {
        margin-left: rem(50px);
    }
    #block-ifyouneedhelp, .header .group-header:after {
        display: none;
    }
    #block-searchform {
        position: relative;
        top: rem(10px);
    }
    .block-userlogin-header {
        top: rem(20px);
    }
  
    .view-latest {
        .medium-block-grid-3 > .grid {
            width: 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .slick-track>.slick__slide {
            padding: 0 rem(10px);
        }
        .group-date-term {
            min-height: rem(36px);
        }
    }

    .block-poll-custom {
        margin-bottom: rem(50px);
        margin-top: rem(30px);
        .field--name-body {
            flex-wrap: wrap;
            .image-poll {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }
            .info-poll {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .form-radios {
                justify-content: space-between;
            }
            .form-type-radio {
                flex: 0 0 45%;
                max-width: 45%;
                margin-right: 0;
            }
        }
    }
    .view-testimonial .views-field-field-image,
    .view-testimonial .active.center .views-field-field-image {
        height: auto;
    }
    .view-testimonial .owl-dots {
        margin-top: 0;
    }

    .user-logged-in {
        .header .group-header {
            order: 4;
            flex: 0 0 100%;
            max-width: 100%;
            margin-left: rem(25px);
        }
        #block-searchform {
            top: 0;
        }
    }
    body.user-logged-in.page-node-1 .main {
        padding-top: rem(155px);
    }

    /*  ---------- end home page ----------- */

    /* ----------- Home page login --------- */
    .adminimal-admin-toolbar .navigation-menu {
        padding-top: rem(180px);
    }
    /* ------ header login ----- */
    .user-logged-in #block-benestar-branding {
        margin-left: 0;
        margin-bottom: rem(10px);
    }
    .user-logged-in .header .region-header {
        height: rem(150px);
    }
    .header .region-header {
        flex-wrap: wrap;
    }
    
    /* ------ end header login ----- */
    .view-article-video.view-grid-4-cols .views-row {
        flex: 0 0 47%;
        max-width: 47%;
    }
    body.action-menu {
        .view-article-video.view-grid-4-cols .views-row {
            flex: 0 0 46%;
            max-width: 46%;
        }
    }

    .front .view-dots-default.view-feature-type-1 {
        .slick-dots {
            margin-left: 0;
            left: 50%;
            transform: translateX(-50%);
            bottom: rem(-25px);
        }
        .grid__content {
            display: block;
            .slide__media {
                max-width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .slide__caption {
                padding-left: 0;
                margin-top: rem(15px);
            }
        }
    }
    .user-logged-in.front .node .group-field.form-wrapper {
        // display: none;
        margin-top: 0;
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            display: block;
            margin-bottom: 0;
        }
    }
    body.user-logged-in.front .block-page-title-block {
        margin-top: 0;
        padding-left: rem(15px);
        position: static;
        margin-bottom: rem(10px);
        .page-title {
            margin: 0;
        }
    }
    
    /* ------- end Home page login ------- */

    /* ----- page login ----- */
    .page-login .main-login ,
    .page-register .main-register,
    .page-password .main-password {
        border: 1px solid #cec4b4;
        border-radius: 5px;
        padding-left: rem(25px);
        padding-right: rem(25px);
        padding-bottom: rem(25px);
        background: #fff;
        transform: translateX(0);
    }
    /* ----- end login ------ */

    /* ---------- page articles login ---------- */
    .user-logged-in .views-benestar-articles .views-row {
        flex: 0 0 47%;
        max-width: 47%;
    }
    .node--type-articles .article-group-inner .share-bottom {
        top: rem(30px);
    }
    /* ----------- end page articles ----------- */
    
    .user-logged-in .views-benestar-articles .views-row,
    .view-article-video.view-grid-4-cols .views-row {
        flex: 0 0 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }

    .user-logged-in.action-menu .views-benestar-articles .views-row {
        flex: 0 0 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }

    body.action-menu.user-logged-in .header:before {
        display: none;
    }

}

// 768 - 991
@media (min-width: $tablet-vt) and (max-width: $tablet-ht - 1) {
    $size-grid: 750px;
	@function remGird($size) {
		 @return percentage($size / $size-grid);
    }
    .view-grid-3-cols{
		.view-content{
			margin-left: remGird(-20px) / 2;
			margin-right: remGird(-20px) / 2;
		}
		.views-row{
			@include flex-width-col-xs(25% - remGird(20px));
			margin-left: remGird(20px) / 2;
			margin-right: remGird(20px) / 2;
		}
	}

    .user-logged-in #block-benestar-branding {
        padding-top: rem(10px);
    }	
}

// 767
@media (max-width: $tablet-vt - 1) {
    /* -------------- home -------------- */
    .view-why-benestar {
        .field-content {
            flex-wrap: wrap;
        }
        .group-body, .text-description {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
            margin-bottom: rem(15px);
        }
    }
    .view-slideshow-home-login .slick__arrow {
        width: 100%;
    }
    /* ---------- end home page ------------ */

    /* ----------- Home page login --------- */
    .user-logged-in #block-benestar-branding {
        padding-top: rem(10px);
    }
    /* ------- end Home page login ------- */

    /* ------ page about-us ------ */
    .view-about-brochure {
        margin-top: rem(30px);
        margin-bottom: rem(30px);
        .views-row {
            flex-wrap: wrap;
            padding-bottom: rem(50px);
        }
        .views-field {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
        }
        .views-field-field-heading {
            margin-bottom: rem(15px);
        }
    }
    
    .view-about-imghighlight .views-field-title {
        @include sizeRem(font-size, 20px);
        margin-bottom: 0;
    }

    .col-lg-8.col-md-8, .col-xs-12.sidebar {
        width: 100%;
    }
    .block-title-sidebar.block-menu-media-sidebar {
        margin-top: rem(30px);
        padding-left: 0;
        background-color: #f8f8f4;
        padding: rem(15px);
        &:last-child {
            margin-bottom: 0;
        }
    }
    .view-ourofferings-4cols .views-row {
        flex: 0 0 50%;
        max-width: 50%;
        img {
            width: 100%;
        }
    }
    /* ------ end page about-us ------ */
    .page-login, .page-password, .page-register {
        background-position: -200px 145px;
    }
}

// 640
@media (max-width: $mobile) {

    /* ------------- Home page -------------- */
    .view-our-offerings .views-row {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .block-poll-custom .field--name-body {
        .form-type-radio {
            flex: 0 0 100%;
            max-width: 100%;
            margin-right: 0;
        }
        .group-footer {
            bottom: rem(80px);
        }
    }
    .block-our-offerings-home {
        margin-bottom: 0;
    }
    .block-poll-custom .form-actions {
        margin-bottom: 0;
        margin-top: rem(120px);
    }

    .view-testimonial {
        .views-row {
            min-height: 500px;
            padding-top: rem(20px);
        }
        .owl-dots {
            // display: none;
            margin-top: rem(20px);
        }
        .views-field-title {
            @include sizeRem(font-size, 25px);
        }
        .views-field-body {
            margin-bottom: 0;
        }
    }
    .view-slideshow-home-login .views-field-title {
        @include sizeRem(font-size, 18px);
        display: block;
        bottom: 50%;
        transform: translate(0, 50%);
        &:after {
            display: block;
            @include sizeRem(font-size, 16px);
            display: block;
            margin-left: 0;
        }
    }
    .view-slideshow-home-login .slide__caption .MsoNormal {
        display: none;
    }

    /* ------------- end Home page ------------- */

    /* -------------- Home page login --------------- */
    .view-article-video.view-grid-4-cols {
        .view-content {
            margin-right: 0;
        }
        .views-row {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    /* -------------- end Home page login ------------- */

    /* ------- page about-us -------- */
    .view-about-3-cols .views-row {
        flex: 0 0 46%;
        max-width: 46%;
    }
    /* ------- end page about-us ------- */

    /* ---------- page articles ---------- */
    .user-logged-in .views-benestar-articles .views-row {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /* ----------- end page articles ----------- */

    .block-views-blockfaq-block-1 div.views-row .views-field-field-answer,
    .block-views-blockfaq-block-1 div.views-row .views-field-field-question {
        max-width: 100%;
    }

    .user-logged-in .views-benestar-articles .view-content {
        margin-right: 0;
    }

    .self-assement-custom .view-content>.views-row {
        width: 100%;
    }

}

@media (max-width: 609px) {
    .user-logged-in.scrolled .header {
        top: 0;
    }
    .user-logged-in.action-menu .views-benestar-articles {
        .view-content {
            margin-right: 0;
            .views-row {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

// 518
@media (max-width: 518px) {
    /* ------- home login --------- */
    #block-iconnotification {
        margin-left: rem(34px);
    }
    .user-logged-in .header .region-header {
        // height: auto;
    }
    body.user-logged-in.page-node-1 .main {
        padding-top: rem(160px);
    }
    #block-menuheader li.menu-item {
        margin-left: 0;
        margin-right: 0;
        a {
            padding: rem(3px) rem(10px);
            &:before {
                width: rem(18px);
                height: rem(18px);
            }
            &:after {
                @include sizeRem(font-size, 15px);
            }
        }
    }
    #block-iconnotification .group-action>* {
        margin-left: rem(5px);
        margin-right: 0;
    }
    #block-iconnotification .notification-header,
    #block-menuheader .menu-item a:before,
    .ico-notification, .ico-user {
        width: rem(17px);
        height: rem(17px);
    }
    .user-logged-in .header .group-header {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 0;
    }
    .user-logged-in {
        .site-logo {
            width: auto;
        }
        #block-benestar-branding {
            padding-right: 0;
            flex: 0 0 auto;
            max-width: inherit;
            // margin-left: rem(25px);
            margin-left: 0;
            margin-bottom: 0;
        }
    }
    .group-action {
        .btn {
            @include sizeRem(font-size, 10px);
            padding: rem(3px) rem(10px);
            min-width: auto;
            &:before {
                width: rem(10px);
                margin-right: rem(5px);
            }
        }
    }
    .user-logged-in #block-searchform {
        flex: 0 0 250px;
        max-width: 250px;
        margin-left: 0;
        margin-top: rem(10px);
        form, .form-search {
            width: 100%;
        }
    }
    #block-iconnotification .btn-logout, .ico-logout {
        width: rem(22px);
        height: rem(17px);
    }

}

// 480
@media (max-width: $mobile-md) {
    /* ---- home page ---- */
    .header .region-header {
        flex-wrap: wrap;
    }
    .view-testimonial .views-row {
        // min-height: 350px;
        padding-top: 1.25rem;
    }

    .header .group-header {
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }
    .block-userlogin-header {
        top: rem(10px);
        left: 0;
    }
    .view-about-brochure .services-brochure {
        width: 100%;
        justify-content: space-between;
    }
    .scrolled #block-searchform {
        width: 100%;
        margin-left: 0;
        form, .form-search{
            width: 100%;
        }
    }
    /* -----end Home page ------- */

    /* ------------------- Home page login ----------------- */
    body.action-menu .view-article-video.view-grid-4-cols {
        .view-content {
            margin-right: 0;
        }
        .views-row {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .user-logged-in.front .node .group-field.form-wrapper {
        display: none;
    }
    body.user-logged-in.front .block-page-title-block .page-title{
        @include sizeRem(font-size, 20px);
    }

    .node--type-articles .article-group-inner .share-bottom {
        top: rem(15px);
    }
    /* ---------------- end Home page login ----------------- */


    /* ------ page login ------- */
    .page-login .main-login,
    .page-register .main-register,
    .page-password .main-password {
        max-width: rem(300px);
    }
    .login-information .content-sp {
        width: 100%;
    }
    .page-login .main-login .form-submit,
    .page-login .main-login .form-actions>a,
    .page-register .main-register .form-submit,
    .page-password .main-password .form-submit {
        min-width: 100%;
        margin-top: 10px;
    }

    .view-testimonial {
        .views-field-title {
            margin: rem(0px) rem(-20px);
            margin-top: rem(20px);
            margin-bottom: rem(20px);
        }
        .views-field-body {
            margin: rem(0px) rem(-20px);
        }
        .views-row {
            min-height: 400px;
        }
        .owl-dots {
            margin-top: rem(20px);
        }
    }

    .view-ourofferings-4cols .view-content .views-row {
        height: auto;
    }

}

// 360
@media (max-width: $mobile-sm) {
    /* ------Home page ------- */
    .view-testimonial {
        .owl-dots {
            margin-top: rem(40px);
        }
        .views-row {
            min-height: 360px;
        }
    }
    .view-testimonial .active.center .views-field-title {
        @include sizeRem(font-size, 20px);
    }
    /* --------end Home page ----- */

    /* -------- page about-us -------- */
    .view-about-3-cols .views-row {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /* -------- end page about-us ------- */

    /* ------- Home page login -------- */
    .user-logged-in .header .region-header {
        justify-content: flex-end;
    }

    .view-list-people .view-content .views-row {
        width: 100%;
        padding-right: .9375rem;
        padding-left: .9375rem;
        .show-popup-people {
            right: rem(30px);
        }
    }
}

// 320
@media (max-width: $mobile-xs) {}



.bg-system {
	background-color: #dd4b39 !important;
	color: $white-color;	
}

.bg-admin{
	background-color: #f39c12 !important;
	color: $white-color;
}

