// ====================
// Section, Region, Aside, Article, Node, ....
// ---
.section{
	// Section Banner
	// Section Filter
	// ....	
}

// ====================
// Pages: about us, front, not-front, ....
// ---
.page{
  // About Us Page
  // Home Page
 	// ....   
}

// Page Individual
.page-node-21,
.page-node-20,
.page-node-45,
.page-node-19{
	.main{
		background-color: #F8F8F4;
	}
	.page-title{
		display: none;
	}
}


// Login
.user-logged-in.page-node-1{
	&[style*="40px;"], &[style*="40."]{
		.main{
			padding-top: rem(139px);
		}
	}
}

.adminimal-admin-toolbar{
	// &[style^="padding-top:"][style$="39px;"],
	.header + *{
		padding-top:rem(139px);
	}
	&[style*="40px;"], &[style*="40."]{
		.header{
			top: rem(79px);
			& + *{
				padding-top: rem(139px);
			}
		}
		.navigation-menu{
			padding-top: rem(179px);
		}
	}
	&[style^="padding-top:"][style$="79px;"]{
		.header + *{
			padding-top:rem(100px);
		}
		.navigation-menu{
			padding-top: rem(179px);
		}
	}
	.navigation-menu{
		padding-top: rem(139px);
	}
}

.user-logged-in{
	padding-left: 265px;
	.header{
		position: relative;
		z-index: 100;
		position: fixed;
		left: 0;
		width: 100%;
		background-color: $white-color;
		border-bottom: 1px solid #efefef;
		&:before{
			content: '';
			width: 1px;
			position: absolute;
			height: 100%;
			left: rem(264px);
			background: #efefef;
		}
		&:after{
			content: '';
			height: 1px;
			position: absolute;
			width: rem(265px);
			left: 0;
			background: $white-color;
			-webkit-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
			top: 100%;
		}
		.container{
			width: 100%;
			padding: 0 30px;
		}
		& + *{
			padding-top: rem(100px);
		}
		.region-header{
			height: 100px;
			align-items: center;
		}
		.group-header{
			display: flex;
			justify-content: space-between;
			padding-left: rem(20px);
			padding-right: rem(20px);
			align-items: center;
			&:after{
				display: none;
			}
		}	
	}
	#block-searchform{
		align-items: center;
	}

	.main{
		> .container{
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	#block-benestar-branding{
		flex: 0 0 235px;
		max-width: 235px;
		display: flex;
		justify-content: flex-end;
		padding-right: rem(25px);
	}
	.site-logo{
		width: rem(160px);
		padding: 0;
	}

	#block-searchform {
		.form-search{
			padding: rem(9px) rem(40px) rem(9px) rem(25px);
			height: auto;
			@include wp-font(font-body);
			font-size: rem(12px);
			border-color: #F5F5F5;
			background-color: #F5F5F5;
			color: #9F9F9F;
			min-width: rem(225px);
		}
		.form-actions{
			height: rem(37px);
			&:before{
				color: #9F9F9F;
			}
		}
	}
	.navbar-toggle{
		display: block;
		position: absolute;
		left: 0;
		z-index: 100;
		background: transparent;
		margin: 0;
		top: 50%;
		transform: translateY(-50%);
		left: rem(30px);
		padding: 0;
		.icon-bar{
			background-color: #78B945;
			border-radius: 2px;
			width: 13px;
			height: 1px;
			&+.icon-bar{
				margin-top: 3px;
			}
		}
		&:hover, &:focus{
			.icon-bar{
				background-color: $title-color;
			}
		}
	}
	.navigation-inner{
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	.navigation-info{
		height: 100%;
		width: 100%;
		overflow-y: scroll;
		box-sizing: content-box;
		padding-right: rem(17px);
	}
	.region-navigation-menu{
		width: calc(100% + 17px);
	}
}

.navigation-menu{
	position: fixed;	
	width: rem(265px);
	position: fixed;
	z-index: 10;
	height: 100%;
	top: 0;
	bottom: 0;
	padding-top: 100px;
	border-right: 1px solid #EFEFEF;
	background: white;
	left: 0;
}
.region-navigation-menu{
	padding-left: rem(30px);
	padding-right: rem(30px);
	// padding-right: rem(47px);
}

.front{
	.main{
		background-color: #F8F8F4;
	}
	#content-third{
		.container{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// ACtion Menu
.user-logged-in{
	transition: padding-left .3s ease-in-out;
	.navigation-menu{
		transform: translateX(0);
		transition: all .3s ease-in-out;
	}	
	.header{
		&:before{
			transition: all .3s ease-in-out;
		}
	}
	&.scrolled{
		.header{
			&:after{
				display: none;
			}
		}
	}
	&.action-menu{
		padding-left: 0;
		.header{
			&:before{
				left: -1px;
			}
			&:after{
				display: none;
			}
		}
		.navigation-menu{
			transform: translateX(-100%);
		}
	}
	.region-main-content{
		position: relative;
	}
}


// page careers


// #block-views-block-careers-block-2{
// 	margin-bottom: rem(30px);
// 	margin-top: rem(80px);
// 	.views-field-field-heading{
// 		color:$link-color;
// 		font-size: rem(22px);
// 	}
// 	.views-row{
// 		@include margin-parent;
// 		@include flex-row;
// 		.views-field{
// 			@include padding-parent;
// 			@include flex-col-xs;
// 		}
// 	}
// }

#block-views-block-careers-block-3{
	margin-bottom:rem(100px);
	padding-top:rem(90px);
	padding-bottom:rem(90px);
	position:relative;
	&:before{
		position:absolute;
		left:50%;
		top:0;
		height: 100%;
		width: rem(3000px);
		content: "";
		display: inline-block;
		transform: translateX(-50%);
		background:$bg-color;
		z-index: -1;
	}
	.views-field-title{
		margin-top: 0;
		a{
			color:$link-color;
		}
	} 
	.views-row{
		@include flex-row;
		> .views-field{
			@include flex-width-col-xs(50%);
		}
	}
	.group-cr-right{
		@include flex-width-col-xs(50%);
	}
	.group-cr-right{
		padding-left:rem(100px);
		position: relative;
		&:before{
			position: absolute;
			top:0;
			left:rem(100px);
			width:rem(1px);
			display: inline-block;
			content: "";
			height: 100%;
			background:#e1e1dd;
		}
		.views-field{
			padding-left:rem(100px);
		}
	}

	.views-field-body{
		margin-bottom:rem(50px);
	}

	.views-field-field-heading{
		padding-top:rem(20px);
	}

	.views-field-field-headings ul{
		list-style-type: none;
		padding-left:0;
		li{
			margin-bottom:rem(20px);
			margin-left: 0;
			padding-left:rem(35px);
			position: relative;
			&:last-child{
				margin-bottom: 0;
			}
			&:before{
				@include fontawesome;
				content: "\f058";
				color:#008641;
				position:absolute;
				left: 0;
				top:50%;
				transform: translateY(-50%);
				font-size: rem(24px);
			}
		}
	}	
}

// Page Login
body.user{
	
}
.page-login, .page-password, .page-register{
	height: 100vh;
	position: relative;
	background-image: url('../images/bg-login.svg');
	background-repeat: no-repeat;
	background-position: -200px -100px;
	height: 100vh;
	background-size: 770px 685px;
	#footer{
		position: absolute;
		bottom: 0;
		width: 100%;
		background: white;
		.container{
			width: auto;
			padding-left: 50px;
			padding-right: 50px;
			padding-bottom: 30px;
			padding-top: 0;
		}
		.region-footer{
			border-top: 0 none;
			padding-top: 15px;
		}
	}

	.main-login, .main-password, .main-register{
		max-width: 390px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		transform: translateX(75%);
		padding-top: 20px;
		.container{
			padding: 0;
			width: auto;
		}
		[class*="col-"]{
			float: none;
		}
		label{
			display: none;
		}
		.description{
			display: none;
		}
		.form-item,
		#edit-timezone{
			margin-top: 0;
			margin-bottom: 15px;
			max-width: 285px;
			width: 100%;
		}
		.form-text,
		.form-email{
			border-radius: 6px;
			padding: 15px 25px;
			border: 1px solid #CEC4B4;
			height: 52px;
			color: rgba($title-color, .4);
		}
		.form-item-name{
			& + p{
				font-size: 13px;
				margin-top: -10px;
			}
		}
		.form-type-password{
			position: relative;
			input{
				border-radius: 6px;
				padding: 15px 25px;
				border: 1px solid #CEC4B4;
				height: 52px;
				color: rgba($title-color, .4);
				padding-right: 55px;
			}
		}
		.show-pass{
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			background: none;
			border: 0 none;
			padding: 0;
			margin: 0;
			font-size: 12px;
			color: #CEC4B4;
			&:hover, &:focus{
				color: $link-color;
				background: none;
				outline: none;
			}
		}
		.form-actions{
			> a{
				@include btn;
				border-radius: 6px;
				min-width: 147px;
				background-color: transparent;
				border-color: #A5A5A5;
				color: #A5A5A5;
				text-align: center;
			}
		}
		.form-submit{
			border-radius: 6px;
			min-width: 115px;
			margin-right: 20px;
		}
		.form-item-persistent-login{
			display: flex;
			align-items: center;
			label{
				display: inline-block;
				margin-left: 5px;
				margin-bottom: 0;
				font-size: 12px;
			}
		}
	}
}
@media (min-width: 1700px){
	.page-login, .page-password, .page-register{
		background-size: 1000px 895px;
	}
}
@media (min-width: 1200px) and (max-width: 1300px){
	.page-login, .page-password, .page-register{
		background-size: 770px 685px;
	}
}
.header-login, .header-password, .header-register{
	padding: 30px 50px;
	display: flex;
	justify-content: flex-end;
	.logo{
		display: flex;
		align-items: center;
		&:after{
			content: '';
			width: 1px;
			height: 20px;
			border-left: 1px solid #E2E2E2;
			display: inline-block;
			margin-right: 25px;
			margin-left:25px;
		}
	}
	#logo{
		width: 132px;
		display: block;
	}
	.menu-login, .menu-password, .menu-register{
		list-style: none;
		display: flex;
		padding: 0;
		margin: 0;
		align-items: center;
	}
	.company{
		font-size: rem(13px);
		text-transform: uppercase;
		color: rgba($title-color, .8);
		&:before{
			content: 'cn';
			text-transform: uppercase;
			width: 32px;
			height: 32px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background-color: #78B945;
			color: $white-color;
			border-radius: 50%;
			@include wp-font(font-bold);
			font-size: 12px;
			margin-right: 10px;
		}
	}
}

.login-information,
.register-information,
.password-information{
	> h2{
		@include wp-font(font-medium-title);
		span{
			color: $link-color;
		}
	}
	p{
		color: rgba(#000000, .8);
		
	}
	.content-sp{
		border-bottom: 1px solid rgba(#CEC4B4, .3);
		border-top: 1px solid rgba(#CEC4B4, .3);
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: rem(13px);
		margin-top: 15px;
		margin-bottom: 15px;
		color: #818181;
		margin-right: 100px;
	}
}


#block-views-block-careers-block-1{
	.view-content{
		// margin-left: remGird(-20px) / 2;
  //   	margin-right: remGird(-20px) / 2;
    	@include flex-row;
		 // justify-content: space-between;
		 margin-left: -5px;
		 margin-right: -5px;
	}
	.views-row{
		@include flex-width-col-xs(calc(50% - 10px));
		width: 100%;
		min-height: 1px;
    	border:1px solid $border-color;
    	padding-top:rem(50px);
    	padding-bottom:rem(50px);
    	padding-left:rem(70px);
    	padding-right:rem(70px);
		 margin-bottom:rem(20px);
		 margin-left: 5px;
		 margin-right: 5px;
	}
	.views-field-title a{
		font-size: rem(34px);
	}
	.views-field-field-headings{
		margin-bottom:rem(40px);
		ul{
			list-style-type: none;
			padding-left:0;
			li{
				margin-left:0;
				font-size: rem(20px);
				color:$link-color;
			}
		}
	} 
}

.page-node-25 .page{
	overflow-x:hidden;
}

// ====================
// People Pages
// ---
body.popup-open{
	overflow: hidden;
}
.company-people,
.page-node-145 {
	#content-third {
		 padding-top: rem(50px);
	}
	.main {
		 background-color: #F8F8F4;
		 .page-title {
			  display: none;
		 }
		 .container {
			  padding-top: rem(80px);
			  padding-bottom: rem(5px);
		 }
	}

  
  
}

// ====================
// User login
// ---
.user-logged-in{
	.section-wrapper{
		> .container,
		> .container-fluid{
			width: auto;
			padding-left: rem(30px);
			padding-right: rem(30px);
		}
	}
	.main{
		// .col-lg-12, .col-md-12{
		// 	width: auto;
		// }
	}
}

.front:not(.user-logged-in) .main .block-system {
	display: none;
	.page-title{
		display: none;
	}
}

// Homepage
@media (max-width: 1600px) and (min-width: 992px){
	.user-logged-in .view-testimonial .views-field-field-image{
		height: auto;
	}
}

@media (min-width: 1200px){
	.user-logged-in .view-testimonial .owl-nav{
		width: auto;
	}
}
.user-logged-in{
	.view-latest .views-field-created{
		padding-right: rem(15px);
	}
	
	&.page-node-1{
		.content-third{
			.container{
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.notifications{
			// display: none;	
		}
		.block-page-title-block{
			z-index: 10 !important;
		}
		#content-first{
			// padding-top:0!important;
			// .container{
			// 	width:auto;
			// 	padding-left:rem(30px);
			// 	padding-right:rem(30px);
			// 	padding-bottom:rem(45px);
			// }
			box-shadow: 0 6px 20px rgba($black-color, .05);
			.block{
				>h2{
					color:$link-color;
					font-size:rem(22px);
				}
			}
		}
		#content-second{
			background-color: #f8f8f4;
			.container{
				width:auto;
				padding-left:rem(30px);
				padding-right:rem(30px);
			}
		}
		
		// .feature{
		// 	display: none;
		// }
		.main{
			.container{
				// width: 100%;
				padding: 0;
			}
			.row{
				margin-left: 0;
				margin-right: 0;
			}
			[class*="col-"]{
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}	
		.node{
			position: relative;
			legend{
				display: none;
			}
			.group-field{
				position: absolute;
				top:50%;
				left: 10%;
				transform: translateY(-50%);
				margin: 0;
				z-index: 10;
			}
			.field--name-field-images{
				z-index: 5;
			}
			.field--name-node-title{
				font-size:rem(28px);
				margin-bottom:rem(30px);
			}
			.field--name-body{
				max-width:rem(418px);
				p{
					font-size:rem(13px);
					color:$black-color;
				}
			}
		}
	}
	// #content-first{
	// 	.container{
	// 		width: 100%;
	// 		padding-left: 45px;
	// 		padding-right: 45px;
	// 	}
	// }
}

.panel-homepage{
	.feature{
		display: none;
	}
	
	.main{
		padding-top: 8.6875rem;
		.row{
			margin: 0;
		}
		[class*="col-"]{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		.container{
			padding: 0;
			width: 100%;
		}
	}
}
.test-homepage{
	position: relative;
	.field--name-field-images{
		position: relative;
		z-index: 5;
	}
	.group-field{
		position: absolute;
		top: 50%;
		left: 10%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		margin: 0;
		z-index: 10;
		.field--name-body {
			max-width: 26.125rem;
	  }
	}
	.block-views-blockarticles-block-2{
		padding-top: 25px;
		padding-bottom: 45px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.block-block-content07533815-4e2e-4099-b273-5b2b8b9194e5,
	.block-block-contentc4f7b326-1a1d-4586-8cf6-2ad46a51c703{
		background-color: #f8f8f4;
		padding: 25px 30px;
	}
	.block-block-content07533815-4e2e-4099-b273-5b2b8b9194e5{
		padding-bottom: 0;
	}
	.block-block-contentc4f7b326-1a1d-4586-8cf6-2ad46a51c703{
		padding-top: 0;
	}
	
}


// Page Video
.page-node-148{
	.main, #content-first{
		background-color: #FCFCFC;
	}
}

// Page Coach
.page-node-14{
	.main{
		.container{
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

// Node Detail
[class*="node--type"]{
	@media (min-width: 1200px){
		.col-sm-12{
			width: 690px;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}
	.link-color{
		color: $link-color;
	}
	legend{
		border: 0;
	}
	p{
		color: rgba(#000000, .7);
		font-size: rem(14px);
		line-height: 25px;
		margin-bottom: 45px;
		strong{
			@include wp-font(font-body);
			color: $title-color;
		}
	}
	address{
		p{
			margin-bottom: 5px;
		}
	}
	ul, ol{
		li{
			margin-bottom: 10px;
		}
	}
}

.page-node-16{
	[class*=node--type] .col-sm-12{
		width: auto;
	}
}

.page-node-11,
.page-node-12,
body.taxonomy{
	#main{
		background-color: #fcfcfc;
	}
}

body.taxonomy{
	#main{
		min-height: 750px;
	}
}

// Page My Profile Layout
.page-node-194{
	.main{
		> .container{
			> .row{
				margin-left: 0;
				margin-right: 0;
				> *{
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	#sidebar-6-6-top{
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.main-inner{
		height: 100%;
		width: 100%;
		overflow: hidden;
		box-shadow: 0 3px 20px rgba($black-color, .05);
	}
	.main-info{
		height: 100%;
		width: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		box-sizing: content-box;
		padding-right: rem(17px);
		background-color: $white-color;
		
	}
	.region-main-content{
		width: calc(100% + 17px);
	}
}

.page-node-194{
	&[style*="40px;"], &[style*="40."] {
		.main {
			> .container{
				> .row{
					height: calc(100vh - 180px);
					overflow: hidden;
				}
			}
		}
		
	}
}
// .page-node-194[style*="40px;"] .main .region-main-content{
// 	height:calc(100vh - 179px);
// }

// .page-node-194[style^="padding-top:"][style$="79px;"] .main .region-main-content,
// .page-node-194 .main .region-main-content{
// 	height:calc(100vh - 139px);
// }


// Action Menu
@media (max-width: $desktop - 1) {
	.user-logged-in .header:before{
		left: -1px;
	}
	body {
		&:not(.action-menu) {
			 padding-left: 0;
			 #navigation-menu {
				  transform: translateX(-100%);
			 }
		}
		&.action-menu {
			 padding-left: rem(265px);
			 #navigation-menu {
				  transform: translateX(0);
			 }
			 
		}
	}
	body.action-menu.user-logged-in{
		.header:before{
			left: rem(264px);
		}
	}
}

// .user-logged-in.page-node-1.switch-page-home #content-second{
// 	display: block !important;
// }

// #content-second{
// 	display: block !important;
// }

// Page Article
body.node-articles{
	.content-third{
		background-color: #F8F8F4;
	}
}


#block-webform-2 .form-select{
	&::-ms-expand {
		display: none;
  }
}


// Page Home Switch
.page-node-147 [class*=node--type]{
	display: none;
}

html{
	background-color: #f8f8f4;
}
.main{
	background-color: #f8f8f4;
}

h1.page-title{
	@extend h2;
	font-size: rem(29px);
	color: $link-color;
	text-transform: capitalize;
	margin-top: 0;
}