/*...................style.............................................*/

.pager{
	ul{
		border: 1px solid #edebe5;
		background-color: $white-color;
	    max-width: 500px;
	    border-radius: rem(50px);
	    margin: 0 auto;
		 padding: rem(5px);
		 display: flex;
		 justify-content: center;
		 align-items: center;
	}
	.pager__item{
		padding-top: 0;
		padding-bottom: 0;
	}
	li{
		display: inline-flex;
	}
	li>a{
		border-radius: 0;
		border: 1px solid transparent;
		color:  #cec4b4;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		font-size: rem(15px);
		@include wp-font(font-bold-title);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		background-color: transparent;
		&:focus,&:hover{
			background-color: $link-color;
			border: 1px solid $link-color;
			color: $white-color;
		}
		span{
			display: none;
		}
	}
	
	.is-active a{
		background-color: $link-color;
		border: 1px solid $link-color;
		color: $white-color;
	}
	.pager__item--next,.pager__item--previous{
		a{ 
			// span{
			// 		font-size: 0;
			// 		width: 34px;
			// 		height: 34px;
			// 		line-height: 28px;
			// 		border-radius: 50%;
			// 	// display: inline !important;
			// 		&:focus,&:hover{
			// 			background-color: #1ba75f;
			// 			border: 1px solid #1ba75f;
			// 			color: $white-color;
			// 		}
			// 	}
			  font-size: 0;
			  position: relative;
			//   padding:0 !important;
			//   //border: 1px solid #edebe5;
			//   background: transparent;
			//   position:relative;
			//   height: auto !important;
			//   width: auto !important;
			  &:before{
					// position:absolute;
					content: "\f105";
					@include fontawesome;
					// top: 0px;
					// right:-40px;
					font-size:20px;
					color: #cec4b4;
					//font-size: rem(28px);
				// 	width: 34px;
				// height: 34px;
				// line-height: 30px;
				// font-weight: bold;
				// border-radius: 50%;
			  }
			  &:focus,&:hover{
				// background-color: transparent !important;
				// border: 1px solid transparent !important;
				// color: transparent;
				&:before{
					// background-color: #1ba75f;
					// border: 1px solid #1ba75f;
					color: $white-color;
				}
			}
		 }
	}
	.pager__item--previous{
		 a{
			  &:before{
					content: "\f104";
					left: -40px;
					right:auto;
			  }   
		 } 
	}
}


.pager__item--first,.pager__item--last{
	display: none !important;
}
/////////////////////////////////////
/*------------------http://benestar.senuamedia.com/my-company---------------------*/
.page-node-17 {
	[class*=node--type] .col-sm-12{
		width: auto;
	}
	#sidebar-fifth{
		padding-top: rem(20px);
		background-color: #FCFCFC; 
		.container{
			width: auto;
		}
		.sidebar{
			&:first-child{
				padding-right: rem(25px);
			}
			&:last-child{
				padding-left: rem(25px);
			}
		}
	}
	.field--name-field-images{
		position: relative;
		margin-right: rem(-30px);
		margin-left: rem(-30px);
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			height: rem(150px);
			left: 0;
			right: 0;
			background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,1) 100%)
		}
	}
	.group-field{
		position: absolute;
		top: auto;
		bottom: 40px;
		left: 70px;
		transform: translate(0%,0%);
		z-index: 44;
		margin: 0;
		legend{
			display: none;
		}
		h2{
			color: $white-color;
		}
		.field--name-node-title{
			font-size: rem(28px);
			@include wp-font(font-body-title);
			margin-bottom: rem(15px);
			color: $white-color;
			a{
				color: $white-color;
			}
		}
		.field--name-body{
			color: $white-color;
			p{
				margin-bottom: 0;
				color: $white-color;
			}
		}
	}
	.main {
		position: relative;
		background-color: #FCFCFC;
		.container{
			background-color: #FCFCFC;
		}
	}
	.block-page-title-block {
		position: static;
		.page-title{
			position: absolute;
			bottom: 80px;
			left: 60px;
			z-index: 44;
			color: $white-color;
		}

	}
}


.view-company-notices{
	h2{
		color: $link-color;
		font-size: rem(22px);
		@include wp-font(font-body);
	}
	.views-row{
		.field-content{
			@include flex-row;
			flex-wrap: nowrap;
		}
	}
	.view-content,&.view-content{
		flex-wrap: wrap;
	}
	.field-view-body{
		p{
			margin-bottom: 0;
		}
	}
	.field-view-title{
		margin-top: 0;
		margin-bottom: rem(10px);
		@include wp-font(font-body);
		font-size: rem(16px);
	}
}
.group-left{
	@include flex-width-col-xs(50px);
	margin-right: rem(25px);
	@include flex-row;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	&:before{
		position: absolute;
		content: url("../images/icons/ico-pdf.svg");
		top: 5px;
		width: rem(30px);
		height: rem(40px);
	}
	.icon-pdf{
		font-size: rem(10px);
		color: $link-color;
		top: 24px;
		left: 16px;
		position: absolute;
		@include wp-font(font-body);
	}
	.link-download{
		height: 100%;
		display: flex;
		align-items: flex-end;
	}
	a{
		font-size: rem(10px);
		padding-top: rem(55px);
		position: relative;
		z-index: 5;
		@include wp-font(font-body);
		height: 100%;
		display: flex;
		align-items: flex-end;
	}
}
.group-cpm-right{
	@include flex-width-col-xs(70%);
}

.block-views-my-company{
	h2{
		color: $link-color;
		font-size: rem(22px);
		@include wp-font(font-body);
	}
	.views-row{
		padding: rem(25px);
		background: $white-color;
		@include flex-row;
		@include flex-width-col-xs(100%);
		border-radius: rem(4px);
		//@include box-shadow(0 0 1px 2px rgba($black-color,0.4));
		//-webkit-box-shadow: 0 0px 8px rgba(0, 0, 99, 0.1);
		//box-shadow:0 0px 8px rgba(0, 0, 99, 0.1);
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
		margin-bottom: rem(20px);
	}
	.view-header{
		margin-top: rem(-50px);
		padding-bottom: rem(30px);
		text-align: right;
		display: block;
		a{
			color: #717171;
			font-size: rem(13px);
			@include wp-font(font-body);
			cursor: pointer;
			&:after{
				content: "";
				position: relative;
				margin-left: rem(10px);
				border-left: 1px solid #717171;
				border-bottom: 1px solid #717171;
				background: $white-color;
				width: rem(8px);
		        height: rem(8px);
				transform:rotate(225deg);
				display: inline-block;
			}
			&:hover,&:focus{
				color: $link-color;
				&:after{
					border-left: 1px solid $link-color;
					border-bottom: 1px solid $link-color;
				}
			}
		}
	}
	.views-field-body,.field-view-body{
		margin-bottom: 0;
		font-size: rem(13px);
	}
	.views-field-title{
		margin-top: 0;
		margin-bottom: rem(12px);
		@include wp-font(font-body);
		font-size: rem(16px);
	}
}

.view-company-contact{
	margin-bottom: rem(55px);
	h2{
		color: $link-color;
		font-size: rem(22px);
		@include wp-font(font-body);
	}
	.views-row{
		@include flex-width-col-xs(47.30842%);
		margin-right: rem(20px);
		border-radius: rem(4px);
		&:nth-child(2n){
			margin-right: 0;
		}
	}
	.view-content,&.view-content{
		//flex-wrap: wrap;
		@include flex-row;
	}
	.views-field{
		@include wp-font(font-body);
		font-size: rem(12px);
		@include flex-width-col-xs(100%);
	}
	.views-label {
		color: $link-color;
		display: block;
	}
	.views-field-title,.views-field-name{
		font-size: rem(16px);
		margin-top: 0;
		margin-bottom: 0;
		text-transform: capitalize;
		a{
			//color: $white-color;
		}
	}
	
	.views-field-field-name,.views-field-roles{
		margin-bottom: rem(25px);
		color: #B9B9B9;
	}
	.views-field-field-mobile{
 		border-bottom: 1px solid #E6E6E6;
 		margin-bottom: rem(10px);
 		padding-bottom: rem(10px);
	}
}

.view-company-activities{
	.views-row{
	}
	.views-field-created{
		color: #B9B9B9;
		padding-right: 0;
	}
	.view-content,&.view-content{
		flex-wrap: wrap;
	}
}
/*-----------http://benestar.senuamedia.com/my-coach---------------------*/
#block-views-block-my-coach-block-1{
	//-webkit-box-shadow: 5px 5px 8px rgba(0, 0, 99, 0.1);
	//box-shadow:5px 5px 8px rgba(0, 0, 99, 0.1);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
.views-my-coach-bns{
	padding-top: rem(50px);
	.views-row {
		
	}
	.views-field {
		padding-left: rem(65px);
		padding-right: rem(65px);
	}
	.views-field-field-image{
		padding-left: 0;
		padding-right: 0;
		margin-top: rem(90px);
		img{
			//min-width: 470px;
		}
	}
	.views-field-title{
		font-size: rem(28px);
		@include wp-font(font-body-title);
	}
	.views-field-body{
		font-size: rem(13px);
	}
}

.webform-submission-my_coach-form{
	background: $white-color;
	padding: rem(25px);
	border-radius: rem(4px);
	// -webkit-box-shadow: 0 0px 8px rgba(0, 0, 99, 0.1);
	// box-shadow:0 0px 8px rgba(0, 0, 99, 0.1);
	.form-text, .form-select, input[type="tel"],
	input[type="email"] {
		border-radius: rem(4px);
		height: rem(52px);
		padding: rem(15px) rem(20px);
		border-color: #E4DED5;
		width: 100% !important;
		background-color: transparent !important;
	}
	select {
		height: rem(53px);
		padding-left: rem(30px);
	}
	select, textarea {
		border-color: #E4DED5;
		padding: rem(15px) rem(20px);
	}
	label{
		color: #9B9B9B;
		font-size: rem(12px);
	}
	.form-item {
		margin-bottom: rem(7px) !important;
		margin-top: rem(7px) !important;
		display: inline-block;
		width: 100%;
		label{
			display: none;
		}
	}
	.form-type-checkbox{
		display: flex;
		align-items: flex-start;
		label{
			display: inline-block !important;
			margin-left: rem(20px);
			max-width: 250px;
		}
	}
	#edit-cancel{
		@include btn;
	}
}

.page-node-14{
	&[style*="40px;"] {
		.main {
			> .container{
				> .row{
					height: calc(100vh - 180px);
					// overflow: hidden;
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
		#content{
			overflow: hidden;
			// &:before{
			// 	content: "";
			// 	position: absolute;
			// 	right: 20px;
			// 	width: 17px;
			// 	height: 100%;
			// 	background: $white-color;
			// 	z-index: 33;
			// }
		}
		#sidebar-6-6-top{
			height: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
			.region-sidebar-6-6-top{
			}
		}
		.main-inner{
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
			height: 100%;
			// width: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
			box-sizing: content-box;
			padding-right: rem(17px);
			background-color: $white-color;
			position: relative;
			
		}
		.main-inner::-webkit-scrollbar{
		    width: 0px;
		    background-color: #f6f6f6;
		}
		.main-info{
			width: calc(100% + 17px);
		}
		.region-main-content{
			
		}
	}
	//---------------//
	[class*=node--type] {
		padding-right: 0;
		padding-left: 0;
		width: auto;
		.col-sm-12{
			width: auto;
		}
	}
	#content-second{
		.container{
			width: auto;
		}
	}
	#sidebar-fifth .container{
		width: auto;
	}
	.main{
		// padding-top: rem(20px);  // 11/9
		background-color: #FCFCFC;
		margin-top: 0;
		overflow: hidden;
		#content{
			padding-right: rem(25px);
			position: relative;
			height: 100%;
			//margin-left: rem(-30px);
			padding-left: 0;
			.region-main-content{
				background-color: $white-color; 
				height: 100%;
				box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
				position: relative;
				overflow: hidden;
				&:before{
					content: url("../images/bg-coach1.png");
					position: absolute;
					bottom: -8px;
					margin: 0 auto;
				}
			}
			@media (min-width: 1401px){
				.region-main-content {
					overflow: hidden;
					&:before{
						content: url("../images/bg-coach.png");
					}
				}
			}
			.page-title{
				padding-left: rem(65px);
				padding-right: rem(65px);
				margin-bottom: rem(10px);
				margin-top: 0;
				padding-top: rem(47px);
			}
			.field--name-field-images{
				display: none;
			}
		}
		.container{
			width: auto;
			display: flex;
			margin-top: 0;
			padding: 0;
			.sidebar{
				padding-left: rem(25px);
			}
			@media (min-width: $desktop){
				#content{
					width: 43%;
					//width: 48.5%;
				}
				.sidebar{
					width: 57%;
					padding-right: 0;
				}
			}
			@media (min-width: 1399px){
				// #content{
				// 	width: 45.5%;
				// }
				// .sidebar{
				// 	width: 55.5%;
				// }
			}
			@media (min-width: 1401px){
				
				.group-field{
					margin-bottom: rem(610px);
				}
				#content{
					width: 48.5%;
				}
				.sidebar{
					width: 51.5%;
				}
			}
		}
		.group-field{
			font-size: rem(13px);
			padding-left: rem(50px);
			padding-right: rem(50px);
			margin-top: 0;
			margin-bottom: rem(480px);
			legend{
				display: none;
			}
		}
	}
	.view-company-contact{
		margin-top: rem(55px);
		.views-row{
			border: 1px solid #DDDDDD;
			margin-bottom: rem(20px);
			padding: rem(25px);
			margin-right: rem(15px);
			&:nth-child(2n){
				margin-right: 0;
			}
			&.active{
				background: $link-color;
				.views-field-title,.views-field-body{
					color: $white-color;
				}
				.views-field-nothing a{
					color: $white-color;
				}
			}
		}
		.views-field{
			@include wp-font(font-body);
			font-size: rem(12px);
			@include flex-width-col-xs(100%);
		}
		.views-label {
			color: $link-color;
		}
		.views-field-title{
			font-size: rem(14px);
			margin-top: 0;
			margin-bottom: rem(10px);
			text-transform: capitalize;
		}
		.views-field-nothing{
			a{
				color: $link-color;
				font-size: rem(12px);
				background: transparent;
				padding: 0;
				border-color: transparent;
				border: transparent;
			}
		}
		.views-field-body{
			margin-bottom: rem(15px);
			p{
				margin-bottom: 0;
			}
		}
	}
}
/*..............Css Tren IE...................*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    selector { property:value; }
    .page-node-14 .main .container #content{
    	width: 42%;
    }
    .page-node-14 .main .container .sidebar{
    	width: 52%;
    }
}
/*----------http://benestar.senuamedia.com/toolbox---------------------*/
.page-node-15{
	[class*=node--type] .col-sm-12{
		width: auto;
	}
	.main{
		background: #FCFCFC;
		.container{
			width: auto;
		}
	}
	.quicktabs-main{
		.view-header{
			margin-bottom: rem(45px);
			max-width: 70%;
			p{
				margin-bottom: rem(30px);
			}
		}
	}
}
.block-toolbox-bnt-quick-tabs{
	padding-top: rem(30px);
	ul.quicktabs-tabs{
		margin-bottom: 0;
		border-bottom: 1px solid transparent;
	}
	ul.quicktabs-tabs li{
		margin-bottom: rem(20px);
		border-bottom: 1px solid #E8E8E8;
		margin-left: 0;
		margin-right: 0;
		display: inline-block;
		position: relative;
		&:before{
			content:"";
			position: absolute;
			height: 1px;
			width: 0;
			left: 0;
			background: $link-color;
			bottom: -1px;
			transition: all .3s ease-out;
		}
		&:hover,&:focus,&.active{
			color: $link-color;
			&:before{
				width: 100%;
			}
			a{
				color: $link-color;
			}
		}
		a{
			color: #B0B0B0;
			display: inline-block;
			font-size: rem(14px);
			@include wp-font(font-body);
			padding: rem(0px) rem(22px) rem(25px) rem(22px);
		}
		&:first-child a{
			padding-left: 0;
		}
		&:last-child a{
			padding-right: 0;
		}
	}
}
.view-toolbox-bnt{
	.view-content{
		@include flex-row;
		margin-left: rem(-15px);
		margin-right: rem(-15px);
	}
	.views-row{
		padding: rem(15px);
		border-radius:rem(6px);
		border:1px solid #E3E3E3;
		display:flex;
		@include flex-width-col-xs(47.30842%);
		border-radius: rem(4px);
		margin-bottom: rem(20px);
		margin-left: rem(15px);
		margin-right: rem(15px);
		&:nth-child(2n){
			margin-right: 0;
		}
	}
	.views-field-field-image{
		@include flex-width-col-xs(224px);
	}
	.field-view-title{
		@include wp-font(font-medium-title);
		font-size:rem(22px);
		color:$link-color;
		margin-bottom:rem(15px);
	}
	.field-view-body{
		font-size:rem(13px);

	}
	.field-file{
		margin-top: rem(15px);
		a{
			color: $white-color;
			@include btn;
		}
	}
	.views-field-nothing{
		padding-left: rem(20px);
	}
}
////////////////////////////////////
/*------------------http://benestar.senuamedia.com/counsellor-map---------------------*/
.page-node-193{
	.main{
		background: #FCFCFC;
		.container{
			width: auto;
			padding-bottom: 0;
		}
		.block-local-tasks-block{
			background: #FCFCFC;
		}
	}
	.main-info .region-main-content{
		height: calc(100vh - 180px);
	}
}

.block-view-profile-counsellor{
	color: $black-color;
	@include wp-font(font-body);
	font-size: rem(12px);
	padding: rem(25px);
	.name{
		font-size: rem(14px);
		//@include wp-font(font-body);
		color: $black-color;
	}
	.address{
		font-size: rem(13px);
		color: #9a9a9a;
	}
	.phone,.email{
		position: relative;
		padding-left: rem(45px);
		padding-top: 5px;
		min-height: 25px;
		margin-bottom: .9375rem !important;
		&:before{
			position:absolute;
			content: "\f095";
		    text-align:center;
		    color:	 #E3E3E3;
		    width: rem(28px);
		    height: rem(28px);
		    border:1px solid  #E3E3E3;
			border-radius: 50%;
			cursor:pointer;
			left: 0;
			top: 0;
			@include fontawesome;
			font-size: rem(16px);
			line-height: 26px;
			text-align: center;
		}
	}
	.email{
		&:before{
			content: "\f0e0";
		}
	}
	.email-modal {
		margin-top: rem(10px);
		a{
			@include btn;
			border:1px solid #E3E3E3;
			background-color: transparent;
			color: $link-color;
		}
	}
	.appointment {
		font-size: rem(13px);
		border-bottom: 1px solid $link-color;
		border-top: 1px solid $link-color;
		padding-top: rem(12px);
		padding-bottom: rem(12px);
		margin-bottom: 25px !important;
		span{
			color: $link-color;
			margin-left: 15px;
		}
	}
	.group-counsellor{
		color:  #E3E3E3;
		padding-left: rem(85px);
		position: relative;
		p{
			margin-bottom: rem(10px);
		}
		.avatar{
			left: 15px;
			top: 5px;
			position: absolute;
		}
		.no-avatar{
			width: 68px;
			height: 68px;
			left: 0;
		}
	}
}

.webform-submission-counsellor-form{
	background: $white-color;
	padding: rem(25px);
	border-radius: rem(4px);
	// -webkit-box-shadow: 0 0px 8px rgba(0, 0, 99, 0.1);
	// box-shadow:0 0px 8px rgba(0, 0, 99, 0.1);
	.form-text, .form-select, input[type="tel"],
	input[type="email"] {
		border-radius: rem(4px);
		height: rem(52px);
		padding: rem(15px) rem(20px);
		border-color: #E4DED5;
		width: 100% !important;
		background-color: transparent !important;
	}
	select {
		height: rem(53px);
		padding-left: rem(30px);
	}
	select, textarea {
		border-color: #E4DED5;
		padding: rem(15px) rem(20px);
	}
	label{
		color: #9B9B9B;
		font-size: rem(12px);
	}
	.form-item {
		margin-bottom: rem(7px) !important;
		margin-top: rem(7px) !important;
		display: inline-block;
		width: 100%;
		label{
			display: none;
		}
	}
	.form-type-checkbox{
		display: flex;
		align-items: flex-start;
		label{
			display: inline-block !important;
			margin-left: rem(20px);
			max-width: 250px;
		}
	}
	#edit-cancel{
		@include btn;
	}
}

.block-geolocation-map-find{
	width: 47.5%;
	float: left;
	display: inline-block;
	margin-left: rem(-30px);
	overflow: hidden;
    height: 100%;
	>.content{
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		padding-right: rem(17px);
		margin-right: rem(-17px);
		box-sizing: content-box;
	}
	>.content::-webkit-scrollbar{
	    width: 0px;
	    background-color: #f6f6f6;
	}
	@media (max-width: 1400px){
		.geolocation-common-map-container{
			width: 467px !important;
		}
	}
	
	.gm-style-iw{
		padding: rem(25px);
		.location-content{
			padding-left: rem(85px);
			position: relative;
		}
		.views-field-field-avatar{
			position: absolute;
			left: 10px;
			top: 5px;
		}
		.views-field-field-surname{
			font-size: rem(14px);
			margin-top: 0;
			margin-bottom: rem(5px);
			text-transform: capitalize;
			color: $black-color;
		}
		.views-field-field-position{
			color: #2B2B2B;
			font-size: rem(13px);
			margin-bottom: rem(10px);
		}
		
		.views-field-field-phone,.views-field-field-email{
			position: relative;
			padding-left: rem(45px);
			padding-top: 5px;
			min-height: 25px;
			margin-bottom: .9375rem !important;
			&:before{
				position:absolute;
				content: "\f095";
			    text-align:center;
			    color:	 #E3E3E3;
			    width: rem(28px);
			    height: rem(28px);
			    border:1px solid  #E3E3E3;
				border-radius: 50%;
				cursor:pointer;
				left: 0;
				top: 0;
				@include fontawesome;
				font-size: rem(16px);
				line-height: 26px;
				text-align: center;
			}
		}
		.views-field-field-email{
			&:before{
				content: "\f0e0";
			}
		}
		.views-field-field-appointment{
			font-size: rem(13px);
			border-bottom: 1px solid $link-color;
			border-top: 1px solid $link-color;
			padding-top: rem(12px);
			padding-bottom: rem(12px);
			margin-bottom: 25px !important;
			display: flex;
			.field-content{
				color: $link-color;
				margin-left: 15px;
			}
			> *{
				display: inline-block;
			}
		}
		.views-field-nothing,.views-field-body{
			margin-left: rem(-85px);
		}
		.views-field-nothing{
			a{
				@include btn;
				border:1px solid #E3E3E3;
				background-color: transparent;
				color: $link-color;
			}
		}
	}
	.form--inline{
		display: none;
	}
}
//an geolocation-common-map-locations
.geolocation-common-map-locations{
	display: none;
}
.block-view-find-counsellor{
	width: 52.5%;
	display: inline-block;
	margin-top: rem(50px);
	padding-left: rem(48px);
	height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
	
	#edit-actions{
		display: none;
	}
	.search-results{
		margin-bottom: rem(30px);
	}
	.form-text, .form-select{
		border-radius: rem(4px);
		height: rem(52px);
		padding-right: rem(15px);
		border-color: $link-color;
        padding-left: 78px;
        text-transform: capitalize;
	}
	.view-filters{
		.form-item{
			float: none;
			margin-top: 0;
			margin-bottom: rem(45px);
			position: relative;
			span{
				width: 75px;
				margin: 0;
				color: #E3E3E3;
				position: absolute;
				bottom: 15px;
				left: 30px;
				@include wp-font(font-body);
			}
		}
		label{
			display: none;
		}
	}
	h1,h2{
		margin-bottom: rem(10px);
	}
}

.view-find-counsellor{
	.view-content{
		@include flex-row;
		margin-left: rem(-7px);
		margin-right: rem(-7px);
	}
	.views-row{
		padding: rem(10px);
		border-radius:rem(6px);
		border:1px solid #E3E3E3;
		display:flex;
		@include flex-width-col-xs(47.30842%);
		border-radius: rem(4px);
		margin-bottom: rem(20px);
		margin-left: rem(7px);
		margin-right: rem(7px);
		flex-wrap: wrap;
		position: relative;
		min-height: 88px;
		&:nth-child(2n){
			margin-right: 0;
		}
		&.active{
			background: $link-color;
			border-color: $link-color;
			.views-field-field-surname,
			.views-field-field-position{
				color: $white-color;
			}
			.views-field-nothing{
				color: $white-color;
				a{
					color: $white-color;
				}
			}
		}
	}
	
	.views-field{
		@include wp-font(font-body);
		font-size: rem(12px);
		@include flex-width-col-xs(100%);
		padding-left: rem(60px);
	}
	.views-field-field-avatar{
		padding-left: 0;
		position: absolute;
		left: 10px;
		top: 15px;
	}
	.no-avatar{
		width: 49px;
		height: 49px;
		border-radius: 50%;
		background-color: #E3E3E3;
	}
	.views-label {
		color: $link-color;
	}
	
	.views-field-field-surname{
		font-size: rem(14px);
		margin-top: 0;
		margin-bottom: rem(5px);
		text-transform: capitalize;
		color: $black-color;
	}
	.views-field-field-position{
		color: #2B2B2B;
		font-size: rem(13px);
		margin-bottom: rem(10px);
	}
	.views-field-nothing{
		color: #9A9A9A;
		a{
			color: #9A9A9A;
			font-size: rem(12px);
			background: transparent;
			padding: 0 10px;
			border-color: transparent;
			border: transparent;
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				color: $link-color;
			}
		}
	}
}
////////////////////////////////////
.gm-style-mtc > div{
	font-weight: 500 !important;
}
// 1200
@media (min-width: $desktop) {}

// 1199
@media (max-width: $desktop - 1){}

//991
@media (max-width: $tablet-ht - 1){
/*---------------home------------------*/
	.view-why-benestar{
	 	margin-bottom: rem(50px);
	 	margin-top: rem(50px);
	}

    .view-latest{
    	.views-field-created{
    		padding-right: rem(5px);
    	}
    }
	.view-latest [class*=block-grid-]>.grid{
		padding-left: rem(15px);
		padding-right: rem(15px);
	}
	.view-latest .grid__content .slick__slide{
		padding: rem(15px);
	}
	.view-latest .views-field-image{
		margin: rem(-15px);
		margin-bottom: rem(15px);
	}

	/*..................contact-us--------------------------*/
	.page-node-24 #content .region-main-content{
		padding-bottom: 0;
	}

	/*.-------------------careers--------------------*/
	.block-views-blockblock-our-services-page-block-9{
		margin-top: 1.875rem;
		.views-row .views-field{
			margin-bottom: rem(15px);
		}
	}

	.block-views-blockcontent-modules-block-9 {
		.views-field-nothing,.views-row>.views-field{
			@include flex-width-col-xs(100%);
		}
		.views-field-nothing{
			&:before{
				display: none;
			}
			padding-left: 0;
			margin-top: rem(15px);
			.views-field{
				padding-right: rem(20px);
				padding-left: rem(20px);
			}
		}
		.views-field-body{
			margin-bottom: rem(40px);
		}
		.views-field-field-headings ul li{
			margin-bottom: rem(35px);
		}
	}

	#block-views-block-careers-block-1 {
		.views-row{
			padding: rem(20px);
		}
		.views-field-title {
			margin-top: 0;
			a{
				word-break: break-all;
			}
		}
	}

	/*----------------artical------------------*/
	.page-node-15 .view-toolbox-bnt .views-field-field-image{
      @include flex-width-col-xs(180px !important);
    }
	.page-node-16{
		[class*=node--type] {
			margin-bottom: 0;
			p{
				margin-bottom: 0;
			}
			.col-sm-12{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
    .block-geolocation-map-find .geolocation-common-map-container{
		width: 415px !important;
	}

	.user-logged-in.page-node-16 .node .group-field{
		padding-right: 0 !important;
		margin-top: 0 !important;
	}
}

@media (min-width: $mobile) and (max-width: $tablet-vt - 1){
	.page-node-16 .view-list-self .views-field-field-image{
      	@include flex-width-col-xs(180px !important);
    }
}
// 768 - 1199
@media (min-width: $tablet-vt) and (max-width: $desktop - 1){
	/*.........footer.............*/
	#footer_top .region-footer-top{
		flex-wrap: wrap;
	}
	.block-menu-footer{
		@include flex-width-col-xs(30%);
	}
	.block-contactus-footer{
		@include flex-width-col-xs(100%);
	}
	
	//----------------//
}

@media (min-width: $tablet-vt) and (max-width: $tablet-ht - 1){
	.page-node-24 .main .col-sm-4{
        width: 50% !important;
	}
	.views-benestar-articles{
		.views-row{
			@include flex-width-col-xs(47.33842%);
			margin-bottom: rem(20px);
		}
	}
}
@media (min-width: $tablet-vt) and (max-width:1024px){
	.view-find-counsellor .view-content, .view-find-counsellor .views-row{
		margin-left: 0;
		margin-right: 0;
		@include flex-width-col-xs(100%);
	}
	.block-view-find-counsellor{
		padding-left: rem(30px);
	}
	
	.block-geolocation-map-find{
		margin-left: 0;
	}
}
@media (min-width: $tablet-vt) and (max-width:850px){
	.block-geolocation-map-find .geolocation-common-map-container{
		width: 335px !important;
	}
}
// 767
@media (max-width: $tablet-vt - 1){
	/*.-------------------careers--------------------*/
	.block-views-blockblock-our-services-page-block-9{
		margin-bottom: 0;
	}

	.block-views-blockcontent-modules-block-9{
		padding-top: rem(50px);
		padding-bottom: rem(50px);
		margin-bottom: rem(50px);
		.views-field-field-headings ul li{
			padding-bottom: 0;
		}
	}
	
	#block-views-block-careers-block-1 {
		.views-field-title a{
			font-size: rem(25px);
		}
		.views-field-field-headings{
			margin-bottom: 0;
		}
	}
 
	.block-our-offerings{
		margin-bottom: rem(50px);
	}
    .view-ourofferings-4cols{
    	.views-row{
	    	margin-bottom: 0;
	    }
    	.views-field-nothing{
			padding: rem(20px);
    	}
    	.view-header{
    		width: 100%;
    	}
    }
    /*----------------artical------------------*/
    .views-benestar-articles{
    	.view-content{
			margin-left: rem(-5px);
			margin-right: rem(-5px);
		}
		.views-row{
			@include flex-width-col-xs(47.30842%);
			margin-bottom: rem(20px);
			margin-left: 1.33333%;
			margin-right: 1.33333%;
		}
    	.views-field{
    		padding-left: rem(15px);
			padding-right: rem(15px);
    	}
    	.views-field-field-image{
			margin-left: rem(-15px);
			margin-right: rem(-15px);
			margin-bottom: rem(20px);
    	}
    	.views-field-view-node{
    		margin-right: 0;
    	}
    }
    .views-field-created{
    	margin-right: rem(15px);
    }

    .node-articles {
    	.node--type-articles{
    		padding-right: rem(50px);
    		padding-left: rem(50px);
    		.image{
	    		margin-right: rem(-50px);
	    		margin-left: rem(-50px);
	    		.media-image{
	    			height: auto;
	    		}
	    	}
    	}
    }
    .node--type-articles .article-group-inner .title a{
    	padding-right: 0;
    	display: block;
    }
    /*----------------my coach-------------*/
    .page-node-14 .main .container #content{
    	width: 100%;
    }
    .page-node-14 .main .container .sidebar{
    	padding-left: rem(15px);
    }
    .page-node-14 .main .group-field{
    	padding: 0;
    }
    .page-node-14 .view-company-contact .views-row{
    	padding: rem(15px);
    	margin-right: 0;
    }
    /*---------toolbox---------------------*/
    .view-toolbox-bnt {
    	.view-content{
    		margin-left: 0;
    		margin-right: 0;
    	}
    	.views-row{
	    	@include flex-width-col-xs(100% !important);
	    	margin-left: 0;
	    	margin-right: 0;
	    }
    }
    .page-node-15 .main .container{
    	// padding-right: rem(15px);
    	// padding-left: rem(15px);
    }
    /*-----------company--------------------*/
    .page-node-17 #sidebar-fifth .container{
    	// padding-left: rem(15px);
    	// padding-right: rem(15px);
    }

    .webform-submission-my_coach-form{
    	padding: 0;
    	.form-type-checkbox input{
    		width: auto !important;
    	}
    }
    .webform-submission-counsellor-form{
    	padding: 0;
    	.form-type-checkbox input{
    		width: auto !important;
    	}
    }
    /*----------------map--------------------------*/
    .view-find-counsellor .view-content, 
    .view-find-counsellor .views-row{
		margin-left: 0;
		margin-right: 0;
		@include flex-width-col-xs(100%);
	}
	.block-geolocation-map-find .geolocation-common-map-container{
		width: 100% !important;
	}
	.block-geolocation-map-find{
		width: 100%;
		margin-left: 0;
	}
	.block-view-find-counsellor{
		width: 100%;
		padding-left: 0;
		margin-top: rem(20px);
	}
	.block-view-find-counsellor .view-filters .form-item{
		margin-bottom: 20px;
	}
	.page-node-193 .main .container{
		// padding-left: rem(15px);
		// padding-right: rem(15px);
	}

	.block-geolocation-map-find .gm-style-iw{
		padding: 10px;
	}
}

// 640
@media (max-width: $mobile){
	/*--------contact-us----------------*/
	.view-list-address {
		.views-row {
			padding: rem(15px);
			.group-inner{
				padding-top: rem(70px);
			}
			.group-inner,.group-outner{
				@include flex-width-col-xs(100%);
				padding-left: 0;
				padding-right: 0;
			}
			.views-field-body .field-content{
				flex-wrap: wrap;
			}
		}
	}

	#block-views-block-careers-block-1 .views-row{
		// max-width: calc(100% - 0px);
	 //    max-width: -moz-calc(100% - 0px);
	 //    max-width: -webkit-calc(100% - 0px);
	}
	#block-views-block-careers-block-1 {
		.view-content{
		  	margin:0;
		}
		.views-row{
		 	@include flex-width-col-xs(100%);
		 	margin-right: 0;
		 	margin-left: 0;
		}
	}
	/*----------toolbox----------------*/
	.block-toolbox-bnt-quick-tabs ul.quicktabs-tabs{
		overflow-x: scroll;
		li a{
			padding: 0 rem(10px) rem(15px);
		}
	}

	.user-logged-in.page-node-16 .node .group-field{
		margin-bottom: 15px !important;
	}
}

//590
@media (max-width: 590px){
	.view-ourofferings-4cols .views-row{
		@include flex-width-col-xs(50%);
	}
}

//550
@media (max-width: 550px){
	.view-ourofferings-4cols .views-row{
		@include flex-width-col-xs(50%);
	}

	.block-views-blockblock-our-services-page-block-9 .views-row{
		margin-left: 0;
		margin-right: 0;
		.views-field{
			margin-left: 0;
			@include flex-width-col-xs(100%);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

// 480
@media (max-width: $mobile-md){
	.block-views-blockcontent-modules-block-9 .views-field-nothing .views-field{
		padding-right: 0px;
		padding-left: 0px;
	}

	#block-views-block-careers-block-1 .views-row{
		padding-right: rem(15px);
		padding-left: rem(15px);
	}

	#block-views-block-careers-block-1 .views-field-field-headings ul li{
		padding-bottom: 0;
	}

	.view-ourofferings-4cols .views-field-nothing{
		padding: rem(15px);
		width: 100%;
	}

	.block-our-offerings{
		h2{
			margin-top: 0;
		}
	}

	#block-views-block-careers-block-1 .views-row:last-child{
		margin-bottom: 0;
	}

	.node-articles .node--type-articles {
 		padding-right: rem(30px);
		padding-left: rem(30px);
		.date-and-share{
			padding-top: rem(30px);
		}
		.image{
    		margin-right: rem(-30px);
    		margin-left: rem(-30px);
    	}
 	}

 	.views-benestar-articles {
 		.views-field:last-child{
 			padding-bottom: rem(20px);
 		}
 		.views-field-body,.views-field-title{
 			margin-bottom: rem(15px);
 		}
 	}
 	.group-date-term{
 		margin-bottom: rem(15px);
 	}

 	.page-node-14 .main .group-field{
 		padding: 0;
 	}
 	/*-----toolbox-----------*/
 	.page-node-15 .view-toolbox-bnt{
 		.views-row{
 			flex-wrap: wrap;
 		}
 		.views-field-field-image{
			@include flex-width-col-xs(inherit !important);
			flex: inherit !important;
 		}
 	}

 	.view-toolbox-bnt .views-field-nothing{
 		@include flex-width-col-xs(100%);
 		padding-left: 0;
 		margin-top: rem(15px);
 	}
}

@media (min-width: 362px) and (max-width: 480px){
 	.views-benestar-articles .views-row{
 		@include flex-width-col-xs(97.36842%);
 		img{
 			width: 100%;
 		}
 	}
}

@media (max-width: 420px){
	.node-articles .node--type-articles {
 		padding-right: rem(0px);
		padding-left: rem(0px);
		.date-and-share{
			padding-top: rem(30px);
		}
		.image{
    		margin-right: rem(0px);
    		margin-left: rem(0px);
    	}
    	.title{
    		padding-bottom: 0;
    		margin-bottom: rem(20px);
    	}
 	}
}

// 360
@media (max-width: $mobile-sm){
	.view-ourofferings-4cols .views-row{
		@include flex-width-col-xs(100%);
		margin-bottom: rem(20px);
		img{
			width: 100%;
		}
	}

	.views-benestar-articles .views-row{
		@include flex-width-col-xs(97.36842%);
	}
}

// 320
@media (max-width: $mobile-xs){}