// ====================
// View Fields
// ---
.view{
	.views-field{
		@include sizeRem(margin-bottom, 10px);	
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.views-field-view-node{
	margin-right: rem(60px);
	a{
		// color: $link-color;
		@include link-more;
		// &:hover, &:focus{
		// 	color: $title-color;
		// }
	}
}

.views-field-title{
	@extend h4;
	margin-bottom: rem(20px);
	
	a{
		color: $title-color;
		&:hover, &:focus{
			color: $link-color;
		}
	}
}

.views-field-body{
	color: #4A4A4A;
	margin-bottom: rem(25px);
}
.group-date-term{
	color: #ACACAC;
	font-size: rem(12px);
	display: flex;
	margin-bottom: 20px;
	a{
		color: #ACACAC;
		&:hover, &:focus{
			color: $link-color;
		}
	}
}
.views-field-created {
	padding-right: rem(50px);
	& + .views-field-topic {
		&:before{
			content: '|';
			display: inline-block;
			margin-right: rem(20px);
			font-size: rem(11px);
			position: relative;
			top: rem(-1px);
		}
	}
}
.views-field-field-audio{
	padding-bottom: 61.5%;
	background-color: #fcfcfc;
	position: relative;
	.audiofield{
		width: 100%;
		position:absolute;
		bottom: 0;
		left: 0;
	}
	label{
		padding-left: rem(10px);
		padding-right: rem(10px);
		display: none;
	}
	audio{
		width: 100%;
		display: block;
	}
}

button.slick-arrow{
	width: rem(37px);
	height: rem(37px);
	text-align: center;
	border-radius: 50%;
	border: 1px solid #D8D8D8;
	font-size: 0;
	color: #D5D5D5;
	background-color: transparent;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	transition: all .3s ease-in-out;
	&:before{
		content: '';
		width: 10px;
		height: 10px;
		border-left: 2px solid #D8D8D8;
		border-bottom: 2px solid #D8D8D8;
		// bottom: 3px;
	}
	&:hover, &:focus{
		color: $white-color;
		border-color: $link-color;
		background-color: $link-color;
		outline: none;
		&:before{
			border-color: $white-color;
		}
	}
	&:first-child{
		&:before{
			// content: "\f104";
			transform: rotate(45deg);
			margin-left: 4px;

		}
	}
	&:last-child{
		&:before{
			// content: "\f105";
			transform: rotate(-135deg);
			margin-right: 4px;
		}
	}
}

.view-field-more-views{
	position: absolute;
	top:rem(-38px);
	right:0;
	font-size:rem(13px);
	color:$body-color;
	&:hover,&:focus{
		color:$link-color;
		&:after{
			color:$link-color;
		}
	}
	&:after{
		content:"\f105";
		@include fontawesome;
		padding-left:rem(10px);
		color:#B6B6B6;
	}
}


// End

// ====================
// View Master
// ---

.view-ourofferings-4cols{
	.view-header {
		 color: #000;
		 width: 40%;
		 margin-bottom: rem(35px);
	}
	.view-content {
		 @include flex-row;
		 margin: 0;
	}
	.views-row {
		@include flex-width-col-xs(25%);
		position: relative;
		margin-left: 0;
		margin-right: 0;
	}
	.views-field * {
		 color: #fff;
	}
	.views-field-field-image {
		 position: relative;
		 &:before {
			  content: '';
			  // background-color: rgba(#000, 0.5);
			  background: linear-gradient(to bottom, transparent, rgba(0,0,0,1)); /* Standard syntax (must be last) */
			  position: absolute;
			  height: rem(170px);
			  bottom: 0;
			  left: 0;
			  right: 0;
		 }

	}
	.views-field-nothing {
		 padding: rem(30px) rem(40px);
		 position: absolute;
		 bottom: 0;
	}
	.views-field-title {
		 margin-bottom: rem(10px);
		 padding-right: rem(60px);
		 @include wp-font(font-medium-title);
		 @include sizeRem(font-size, 21px);
		 line-height: 29px;
		 a {
			  color: $white-color;
			  &:hover, &:focus {
					color: $link-color;
			  }
		 }
	}
	.field-node a {
		 @include sizeRem(font-size, 13px);
		 &:after {
			  content: '\f105';
			  @include fontawesome;
			  @include sizeRem(font-size, 13px);
			  color: #fff;
			  margin-left: rem(20px);
		 }
		 &:hover, &:focus {
			  color: #1ba75f;
			  &:after {
					color: #1ba75f; 
			  }
		 }
	}

}

.view-banner-basic {
	position: relative;
	padding-bottom: rem(25px);
	.views-row {
		 position: relative;
	}
	.views-field-field-image{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			height: rem(150px);
			left: 0;
			right: 0;
			background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,1) 100%)
		}
	}
	.views-field-title {
		 text-align: center;
		 @include sizeRem(font-size, 34px);
		 font-weight: $font-weight-bold;
		 position: absolute;
		 bottom: 50px;
		 color: #fff;
		 left: 50%;
		 transform: translateX(-50%);
		 margin: 0;
	}
	.view-button{
		width: rem(48px);
		height: rem(48px);
		border-radius:50%;
		color: $white-color;
		background-color: $link-color;
		border: 1px solid $link-color;
		text-align: center;
		display: flex;
		align-items: center;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		font-size: 0;
		justify-content: center;
		cursor: pointer;
		&:before{
			content: "\f078";
			@include fontawesome;
			font-size: rem(18px) !important;
			display: inline-block;
			font-weight: normal;
		}
		&:hover, &:focus{
			background-color: $white-color;
			border-color: $link-color;
			color: $link-color;
		}
	}

	&.view-banner-careers{
		.views-field-field-image{
			&:before{
				content: '';
				position: absolute;
				bottom: 0;
				height: rem(200px);
				left: 0;
				right: 0;
				opacity: .7;
				background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.7) 100%)
			}
		}
	}
}
.view-dots-default {
	.slick-dots {
		padding: 0;
		margin: 0;
		li{
			margin-left: rem(4px);
			margin-right: rem(4px);
			display: inline-flex;
		}
		button{
			background-color: #e3e3e3;
			border: 1px solid #e3e3e3;
			width: rem(7px);
			height: rem(7px);
			border-radius: 50%;
			font-size: 0;
			padding: 0;
			margin: 0;
		}
		.slick-active button{
			background-color: $link-color;
			border-color: $link-color;
		}
	}
}
.view-slideshow-notfront-notlogin{
	position: relative;
	padding-bottom: rem(25px);
	.view-content{
		position: relative;
	}
	.slick__arrow{
		position: absolute;
		bottom: 30px;
		right: 0;
		left: 50%;
		margin-left: rem(510px);
	}
	
	.slick-list{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			height: rem(200px);
			left: 0;
			right: 0;
			opacity: .7;
			background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,1) 100%);
			z-index: 5;
		}
	}
	.slick-arrow{
		margin-left: rem(3px);
		width: rem(28px);
		height: rem(28px);
		border: 2px solid rgba(#D8D8D8, .2);
		background-color: transparent;
		&:before{
			color: rgba(#D5D5D5, .55);
			font-size: rem(16px);
		}
		&:hover, &:focus{
			background-color: $link-color;
			border-color: $link-color;
			&:before{
				color: $white-color;
			}
		}
	}
	.view-button{
		width: rem(48px);
		height: rem(48px);
		border-radius:50%;
		color: $white-color;
		background-color: $link-color;
		text-align: center;
		display: flex;
		align-items: center;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		font-size: 0;
		justify-content: center;
		cursor: pointer;
		&:before{
			content: "\f078";
			@include fontawesome;
			font-size: rem(18px) !important;
			display: inline-block;
			font-weight: normal;
			
		}
	}
	.slick-dotted{
		position: relative;
	}
	.slick-dots{
		position: absolute;
		padding: 0;
		margin: 0;
		left: 50%;
		bottom: 25px;
		margin-left: rem(-570px);
		li{
			display: inline-flex;
			margin-left: rem(3px);
			margin-right: rem(3px);
		}
		button{
			background-color: $white-color;
			border: 1px solid $white-color;
			width: rem(7px);
			height: rem(7px);
			border-radius: 50%;
			font-size: 0;
			padding: 0;
			margin: 0;
			opacity: .4;
		}
		.slick-active{
			button{
				// background-color: $link-color;
				// border-color: $link-color;
				opacity: 1;
			}
		}
	}
}

// ====================
// Home page
// ---
.view-slideshow-home-login{
	position: relative;
	overflow: hidden;
	.slide__content{
		position: relative;
	}
	.slide__caption{
		position: absolute;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		bottom: rem(140px);
		color: $white-color;
		max-width: rem(960px);
		text-align: center;
		z-index: 10;
		a{
			color: $white-color;
			&:hover, &:focus{
				color: $link-color;
			}
		}
		> p{
			font-size: rem(17px);
			@include wp-font(font-medium-title);
			margin-bottom: rem(10px);
			color: $white-color;
			// p{
			// 	&:last-child{
			// 		margin-bottom: 0;
			// 	}
			// }
		}
		> span{
			font-size: rem(34px);
			@include wp-font(font-bold-title);
			color: $white-color;
			margin-bottom: rem(5px);
		}
	}
	.views-field-body{
		
	}
	.slide__media{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			height: 75%;
			left: 0;
			right: 0;
			opacity: .7;
			background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,1) 100%);
			z-index: 5;
		}
		img{
			margin: 0 auto;
		}
	}
	.media--image{
		display: flex;
		justify-content: center;
		img{
			max-width: inherit;
		}
	}
	.views-field-description{
		
	}
	
	.views-field-title{
		font-size: rem(34px);
		@include wp-font(font-bold-title);
		border-bottom: 1px solid $white-color;
		padding-bottom: rem(5px);
		color: $white-color;
		/*&:after{
			content: "\f078";
			@include fontawesome;
			display: inline-block;
			margin-left: rem(30px);
			font-weight: normal;
			font-size: rem(30px);
		}*/
		a{
			color: $white-color;
		}
	}
		
	.view-button{
		width: rem(48px);
		height: rem(48px);
		border-radius:50%;
		color: $white-color;
		background-color: $link-color;
		text-align: center;
		display: flex;
		align-items: center;
		position: absolute;
		bottom: rem(70px);
		left: 50%;
		transform: translate(-50%);
		font-size: 0;
		justify-content: center;
		cursor: pointer;
		z-index: 10;
		&:before{
			content: "\f078";
			@include fontawesome;
			display: inline-block;
			font-weight: normal;
			font-size: rem(18px);
		}
	}
	.slick__arrow{
		position: absolute;
		@extend .container;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
	}
	
	.slick-prev, .slick-next{
		@extend button.slick-arrow;
		border: 0 none;
		width: auto;
		height: auto;
		color: rgba($white-color, .5);
		&:before{
			font-size: rem(26px);
		}	
		&:hover, &:focus{
			color: $white-color;
			background-color: transparent;
		}
	}
	.slick-next{
		float: right;
	}
	.slick-dotted{
		padding-bottom: rem(30px);
		position: relative;
	}
	.slick-dots{
		position: absolute;
		padding: 0;
		margin: 0;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;

		li{
			display: inline-flex;
			margin-left: rem(4px);
			margin-right: rem(4px);
		}
		button{
			background-color: #E3E3E3;
			border: 1px solid #E3E3E3;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			font-size: 0;
			padding: 0;
			margin: 0;
		}
		.slick-active{
			button{
				background-color: $link-color;
				border-color: $link-color;
			}
		}
	}

	@media (max-width: 1366px) and (min-width:1200px){
		.media--image{
			img{
				height: 550px;
			}
		}
	}
}

.view-why-benestar{
	margin-top: rem(120px);
	margin-bottom: rem(160px);
	.views-field-title{
		@extend h2;
		color: $link-color;
	}
	.field-content{
		display: flex;
	}
	.text-description{
		flex: 0 0 50%;
		max-width: 50%;
		@extend h2;
		margin: 0;
		padding-right: 4%;
		line-height: rem(38px);
	}
	.group-body{
		flex: 0 0 50%;
		max-width: 50%;
		color: #4A4A4A;
		padding-left: 5%;
	}
	.group-link{
		a{
			@include link-more;
			margin-right: rem(60px);
		}
	}
}

.view-our-offerings{
	margin-top: rem(20px);
	margin-bottom: rem(20px);
	.view-header{
		font-size: rem(14px);
		@include wp-font(font-body);
		color: $title-color;
		max-width: rem(470px);
		width: 100%;
		margin-bottom: rem(5px);
	}
	.view-content{
		display: flex;
		flex-flow: row wrap;
	}
	
	.views-row{
		flex: 0 0 50%;
		max-width: 50%;
		margin-top: 45px;
		padding-left: rem(30px);
		padding-right: rem(30px);
	}
	.views-field-nothing,
	.views-field-nothing-1{
		margin-bottom: rem(20px);
		margin-left: rem(-30px);
		margin-right: rem(-30px);
		position: relative;
	}
	.views-field-body{
		color: rgba(#000000, .8);
		margin-bottom: rem(15px);
	}
	.group-image-title{
		
	}
	.views-field-title{
		@extend h2;
		@include wp-font(font-medium-title);
		color: $white-color;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 25px 30px;
		margin: 0;
		background: linear-gradient(to bottom, transparent 0%, rgba($title-color, .7) 100%);
		a{
			color: $white-color;
			&:hover, &:focus{
				color: $link-color;
			}
		}
	}
}

.view-latest{
	
	.view-content{
		overflow: hidden;
	}
	.slick-list{
		margin-left: rem(-24px);
		margin-right: rem(-24px);
	}
	.slick-track{
		display: flex;
		> .slick__slide{
			padding: 0 24px;
			display: flex;
		}
	}
	.group-slide-item{
		border: 1px solid #EDEBE5;
		padding: rem(35px);
		display: flex;
		flex: 1;
		flex-direction: column;
	}
	// .slick{
	// 	margin-left: rem(-10px);
	// 	margin-right: rem(-10px);
	// }
	[class*="block-grid-"] {
		margin-left: rem(-24px);
		margin-right: rem(-24px);
		display: flex;
		> .grid{
			padding-left: rem(20px);
			padding-right: rem(20px);
			display: flex;
			@include flex-width-col-xs(33.33333%);
			width: auto;
			float: none;
			clear: inherit;
			margin-bottom: rem(25px);
		}
	}
	.grid__content{
		display: flex;
		flex: 1;
	}
	.slick__slide{
		// border: 1px solid #EDEBE5;
		// padding: rem(35px);
		// display: flex;
		// flex: 1;
		// flex-direction: column;
	}
	
	.views-field-image{
		margin: rem(-35px);
		margin-bottom: rem(35px);
	}
	.views-field-nothing{
		flex: 1 1 auto;
	}
	.slick__arrow{
		display: flex;
		justify-content: flex-end;
		padding-left: 10px;
		// padding-right: 10px;
	}
	.slick-dots{
		padding: 0;
		margin: 0;
		// margin-left: 10px;
		float: left;
		display: flex;
		height: 37px;
		align-items: center;
		li{
			margin-right: rem(10px);
			list-style: none;
		}
		.slick-active{
			button{
				background-color: $link-color;
			}
		}
		button{
			width: 24px;
			height: 3px;
			background-color: #E2E2E2;
			border-radius: 20px;
			display: block;
			border: 0 none;
			overflow: hidden;
			padding: 0;
			margin: 0;
			font-size: 0;
			&:focus{
				background-color: $link-color;
			}
		}
	}
	.slick-arrow{
		margin-left: rem(5px);
	}
	@media only screen and (min-width: 40.063em){
		[class*="block-grid-"] {
			margin-left: rem(-20px);
			margin-right: rem(-20px);
			display: flex;
			> .grid{
				padding-left: rem(10px);
				padding-right: rem(10px);
				display: flex;
				@include flex-width-col-xs(50%);
				width: auto;
				float: none;
				clear: inherit;
				margin-bottom: rem(25px);
			}
		}
	}
}


.view-testimonial {    
	/* ---- owl-item ---- */
	.views-row {
		 text-align: center;
		 padding-top: rem(75px);
		 background-color: #1BA75F;
		 min-height: 640px;
		 position: relative;
		 @include clearfix;
		 .views-field * {
			  color: #fff;
		 }
	}

	.views-field-field-company {
		 font-family: $font-body-second;
		 @include sizeRem(font-size, 12px);
		 opacity: 0;
		 transition: all 0.3s ease-in!important;  
	}
	.views-field-title {
		 margin-top: rem(25px);
		 margin-bottom: rem(50px);
		 @include sizeRem(font-size, 29px);
		 opacity: 0;
		 transition: all 0.3s ease-in!important;  
		 color: $white-color;
		 &:before {
			  content: open-quote;
		 }
		 &:after {
			  content: close-quote;
		 }
	}
	.views-field-body {
		 margin-bottom: rem(165px);
		 opacity: 0;
		 position: relative;
		 transition: all 0.3s ease-in!important;  
		 p {
			  &:before {
					content: open-quote;
					// position: absolute;
					// top: 0;
					// left: 0;
					color: #fff;
					margin-right: rem(3px);
			  } 
			  &:after {
				content: close-quote;
					color: #fff;
					margin-left: rem(3px);
			  }
		 }
	}
	
	.views-field-field-image {
		 height: 200px;
		 position: absolute;
		 bottom: 0;
		 width: 100%;

		 &:before {
			  content: '';
			  background-color: rgba(#000, 0.6);
			  position: absolute;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  z-index: 50;
		 }
	}
	.active.center {
		 z-index: 100;
		 .views-field-title, .views-field-body, .views-field-field-company {
			 opacity: 1;
			 transition: all 0.3s ease-in!important;
		 }
		 .views-field-field-image {
			  height: auto;
			  &:before {
					display: none;
			  }
		 }
	}

	/* ---- owl-nav ----- */
	.owl-nav {
		 @include container;
		 position: absolute;
		 top: 50%;
		 left: 0;
		 right: 0;
		 margin-top: rem(-125px);

	}
	.owl-prev, .owl-next {
		 float: right;
		 @extend button.slick-arrow;
		//  &:before{
		// 	  content: "\f105";
		// 	  @include fontawesome;
		// 	  display: inline-block;
		// 	  font-weight: normal;
		// 	  font-size: rem(30px);
		//  }
		 &:hover, &:focus {
			  background-color: #fff;
			  &:before {
					border-color: $link-color;
			  }
		 }
	}
	.owl-prev {
		 float: left;
		 left: 0;
		 right: auto;
		//  &:before {
		// 	  content: "\f104";
		//  }
	}

	/* --- owl-dot --- */
	.owl-dots {
		 position: absolute;
		 top: 50%;
		 left: 50%;
		 transform: translateX(-50%);
		 margin-top: rem(34px);
		 text-align: center;
	}
	.owl-dot {
		 width: rem(28px);
		 background-color: #1FC771;
		 height: rem(4px);
		 display: inline-block;
		 margin: rem(0px) rem(5px);
		 border-radius: rem(30px);
		 
		 &.active {
			  background-color: #fff;
		 }
	}

}
@media (min-width: $tablet-ht) and (max-width: 1600px) {
	.view-testimonial .views-field-field-image {
		 height: 150px;
	}
}

@media (min-width: 1445px) {
	.view-testimonial .owl-dots {
		 margin-top: 0;
	}
}
@media (min-width: 1199px) and (max-width: 1600px){
	.view-testimonial .views-field:not(.views-field-field-image){
		margin-left: rem(-80px);
		margin-right: rem(-80px);
	}
}
// End

// ====================
// About Us page
// ---

.view-about-brochure{
	margin-bottom: rem(80px);
	margin-top: rem(80px);
	.views-row{
		display: flex;
		padding-bottom: 85px;
		position: relative;
	}
	.views-field{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.views-field-field-heading{
		@extend h2;
		font-size: rem(22px);
		color: $link-color;
		line-height: 34px;
		padding-right: 5%;
		margin: 0;
	}
	.views-field-body{
		padding-right: 6%;
	}
	.services-brochure{
		@include btn;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		font-size: rem(14px);
		min-height: 56px;
		border-radius: 5px;
		display: inline-flex;
		align-items: center;
		font-size: rem(14px);
		padding-left: rem(25px);
		padding-right: rem(20px);
		padding-top: rem(17px);
		padding-bottom: rem(17px);
		cursor: pointer;
		&:after{
			content:'';
			@extend .ico-brochure;
			margin-left: rem(40px);
		}
		&:hover, &:focus{
			border-color: $link-color;
			background-color: transparent;
			color: $link-color;
			&:after{
				background-image: url('../images/icons/ico-brochure-hover.svg');
			}
		}
	}
}

.view-about-imghighlight{
	.views-row{
		position: relative;
	}
	.views-field-nothing{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		// text-align: right;
		display: flex;
		flex: 1;
		.field-content{
			padding: rem(20px) rem(60px);
			// max-width: 510px;
			// width: 100%;
			// height: 100%;
			display: flex;
			@include flex-width-col-xs(510px);
			align-items: center;
		}
	}
	.fieldset-about-view{
		// display: flex;
		// flex-flow: column wrap;
		// flex-direction: column;
		// justify-content: center;
		// align-items: flex-end;
		text-align: right;
		// height: 100%;
	}
	.views-field-title{
		@extend h2;
		margin: 0;
		font-size: rem(34px);
		margin-bottom: 35px;
	}
	.views-field-body{
		@extend h4;
		margin: 0;
		line-height: 40px;
	}
}

.view-about-content{
	margin-bottom: rem(70px);
}

.view-about-3-cols{
	@extend .view-grid-3-cols;
	.views-row{
		@include flex-width-col-xs(percentage(0.33333) - remGird(23px));
		margin-left: remGird(23px) / 2;
		margin-right: remGird(23px) / 2;
		@include sizeRem(margin-bottom, 20px);
	}
	.view-content{
		margin-left: remGird(-23px) / 2;
		margin-right: remGird(-23px) / 2;
	}
	.views-field-field-image{
		margin-bottom: 15px;
		img{
			width: 100%;
		}
	}
	.views-field-title{
		color: $title-color;
		line-height: 25px;
		font-size: rem(14px);
		@include wp-font(font-body);
		margin: 0;
		margin-bottom: 10px;
	}
}

.view-list-menu-sidebar {
	.views-row{
		margin-bottom: 15px;
	}
	.views-field-title {
		margin: 0;
		a {
			@include sizeRem(font-size, 14px);
			color: rgba($title-color, .7);
			@include wp-font(font-body);
			padding-right: rem(30px);
			position: relative;
			min-height: 22px;
			line-height: 22px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-right: 0;
			flex: 1 1 auto;
			&:after {
				content: '\f105';
				@include fontawesome;
				color: #D8D8D8;
				transition: all 0.3s ease-in-out;
				border: 1px solid #D8D8D8;
				border-radius: 50%;
				width: rem(22px);
				height: rem(22px);
				display: flex !important;
				align-items: center;
				justify-content: center;
				padding-left: rem(2px);
				flex: 0 0 22px;
				max-width: 22px;
				margin-left: rem(15px);
			}
			&:hover {
				color: #1ba75f;
				&:before, &:after {
						transition: all 0.3s ease-in-out;
						color: #1ba75f;
						border-color: #1ba75f;
				}
			}
		}
	}
}

// End

// ====================
// Company people Name
// ---
.view-list-people {
	.view-content{
		@include clearfix; 
		margin-bottom: rem(20px);
	}
	.views-row {
		 margin-left: 0;
		 margin-right: 0;
		 margin-bottom: rem(75px);
		 padding: 0;
		 position: relative;
	}
	.views-col {
		 padding-left: 0;
		 padding-right: 0;
	}
	.group-description{
		display: none;
		&.open-popup{
			display: flex;
		}
	}
	.group-description {
		position: absolute;
		bottom: 0;
		left: 0;
		top: 0;
		right: 0;
		background: white;
		position: fixed;
		z-index: 1000;
		width: 100%;
		height: 100%;
		// display: flex;
		// align-items: center;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.peopel-pop-up{
		width: 900px;
		margin:0 auto;
		
	}
	.people-inner{
		padding-top: rem(120px);
		padding-bottom: rem(60px);
		display: flex;
		position: relative;
	}
	.group-image{
		flex: 0 0 336px;
		max-width: 336px;
	}
	.field-view-image-1{
		margin-bottom: rem(25px);
	}
	.field-view-name{
		font-size: rem(22px);
		@include wp-font(font-bold);
	}
	.field-view-title{
		opacity: .8;
	}
	.field-view-body{
		margin-bottom: rem(80px);
		p{
			margin-bottom: rem(25px);
			font-size: rem(13px);
			line-height: 22px;
			&:first-child{
				font-size: rem(18px);
				color: $title-color;
				line-height: 28px;
			}
		}
	}
	.field-view-phone{
		font-size: rem(13px);
		line-height: 22px;
		color: $title-color;
		margin-bottom: 20px;
		label{
			display: block;
		}
	}
	.field-view-email{
		@extend .field-view-phone;
	}
	.group-body{
		flex: 1 1 auto;
		padding-left: rem(55px);
	}
	.close-popup{
		font-size: 0;
		position: absolute;
		width: rem(37px);
		height: rem(37px);
		background: $link-color;
		border-radius: 50%;
		color: white;
		right: 0;
		top: rem(35px);
		border: 1px solid $link-color;
		cursor: pointer;
		&:before{
			content: '+';
			font-size: rem(30px);
			transform: rotate(45deg);
			display: inline-block;
			position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%) rotate(45deg);
		}
		&:hover, &:focus{
			background-color: transparent;
			border-color: $link-color;
			color: $link-color;
		}
	}
	.views-field-nothing-1{
		position: absolute;
		z-index: 10;
		padding: 15px 30px;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		color: rgba($white-color, .8);
		padding-right: rem(54px);
	}
	.field-name{
		font-size: rem(15px);
		@include wp-font(font-bold);
		margin-bottom: 0;
		line-height: 22px;
		color: rgba($white-color, .8);
	}

	.field-title-1{
		font-size: rem(13px);
		@include wp-font(font-body);
		margin-bottom: 0;
		line-height: 22px;
		color: rgba($white-color, .8);
	}

	.show-popup-people{
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		width: 30px;
		height: 30px;
		border: 1px solid;
		border-radius: 50%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		font-weight: normal;
		font-size: 0;
		cursor: pointer;
		&:before{
			content: '';
			width: 1px;
			height: 14px;
			position: absolute;
			background: white;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:after{
			content: '';
			width: 14px;
			height: 1px;
			position: absolute;
			background: white;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover, &:focus{
			border-color: $link-color;
			background-color: $link-color;
		}
	}

	.views-field-title {
		margin: 0;
		a {
			color: #fff;
			font-family: $font-bold-second;
			font-weight: $font-weight-bold-second;
			@include sizeRem(font-size, 15px);
			&:hover, &:focus {
					color: #009244;
			}
		}
	}

	.views-field-view-node {
		
	}
	.views-field-field-image {
		 position: relative;
		 &:before {
			  content: '';
			  background: linear-gradient(to bottom,transparent,#000);
			  position: absolute;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  z-index: 1;
			  height: 170px;
			  opacity: .7;
		 }
		 img {
			//   width: 100%;
			//   height: 375px;
			  filter: grayscale(100%);
		 }
	}
	.pre-next-people{
		display: flex;
		align-items: center;
		justify-content: space-between;
		// > *{
		// 	cursor: pointer;
		// 	font-size: 0;
		// 	width: 10px;
		// 	height: 10px;
		// 	border-left: 3px solid $link-color;
		// 	border-bottom: 3px solid $link-color;
		// 	transition: all .3s ease-in-out;
		// 	&:hover, &:focus{
		// 		border-color: $title-color;
		// 	}
		// }
		// .people-pre{
		// 	transform: rotate(45deg);
		// }
		// .people-next{
		// 	transform: rotate(-135deg);
		// }
	}
		
}

#slick-views-articles-block-1-2{
	overflow: hidden;
}


// ====================
// Page Contact Us
// ---
.view-list-address {
	.views-row {
		border: 1px solid #E4DED5;
		border-radius: rem(6px);
		padding: rem(30px) rem(20px) rem(10px) rem(30px);
		&:hover, &:focus{
			background-color:#F8F8F4;
			border-color: #F8F8F4;
		}
		 &:first-child {
			  margin-bottom: rem(20px);
			  // background-color: #E4DED5;
		 }
		 .views-field-body{
			 margin-bottom: 0;
			 .field-content{
				 display: flex;
				 justify-content: space-between;
			 }
		 }
		 h2{
			 margin-top: 0;
			 margin-bottom: rem(15px);
			 color: rgba($title-color, .8);
		 }
		 .group-inner {
			  flex: 0 0 70%;
			  max-width: 70%;
			  padding-left: rem(70px);
			  position: relative;
			  @include sizeRem(font-size, 13px);
			  padding-right: rem(100px);
			  
			  &:before {
					content: '';
					background: url("../images/icons/icon-contact2.svg");
					width: 55px;
					height: 55px;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
			  }
			  h2 {
					@include sizeRem(font-size, 22px);
			  }
		 }
		 .group-outner {
			  flex: 0 0 30%;
			  max-width: 30%;
			  // padding-left: rem(65px);
			  position: relative;
			  p{
				  font-size: rem(13px);
				  color: rgba($body-color, .8);
					margin-bottom: 0;
			  }
		 }
		 &:last-child .group-inner {
			  &:before {
					content: '';
					background: url("../images/icons/icon-contact1.svg");
					width: 55px;
					height: 55px;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
			  }
		 }
	}
}

// ====================
// View Articles
// ---
.views-benestar-articles{
	// .view-content{
	// 	margin-right: rem(-44px);
	// }
	.views-row{
		// @include flex-width-col-xs(calc(33.33333% - 44px));
		margin-bottom: rem(44px);
		// margin-right: rem(44px);
		background-color: $white-color;
		box-shadow: 0 3px 20px rgba($black-color, .05);
	}
	.views-field {
		  padding-right: rem(35px);
		  padding-left: rem(35px);
		  &:last-child{
			  padding-bottom: rem(30px);
		  }
	}
	.views-field-field-image{
		margin-left: rem(-35px);
		margin-right: rem(-35px);
	  margin-bottom: rem(35px);
	}
	.views-row{
		border: 1px solid #EDEBE5;
	  border-radius:4px;
	}
	.views-field-field-topic-1{
		.field-content{
			display: inline-block;
		}
	}
	.user-logged-in &{
		.views-row{
			padding: 15px;
		}
		.views-field-nothing{
			display: none;
		}
		.views-field-field-image{
			padding: 0;
			margin: 0;
			margin-bottom: 10px;
		}
		.views-field-body{
			margin-bottom: 20px;
			font-size: rem(13px);
			line-height: 20px;
			color: rgba($title-color, .7);
		}
		.views-field-title{
			font-size: rem(16px);
			margin-bottom: 10px;
		}
		.views-field{
			padding-left: 0;
			padding-right: 0;
			&:last-child{
				padding-bottom: 0;
			}
		}
		.view-content{
			margin-right: -25px;
		}
		.views-row {
			flex: 0 0 calc(25% - 25px);
			max-width: calc(25% - 25px);
			margin-right: 25px;
		}
	}
}
.user-logged-in.action-menu .views-benestar-articles{
	.view-content{
		margin-right: -25px;
	}
	.views-row {
		flex: 0 0 calc(20% - 25px);
		max-width: calc(20% - 25px);
	}
}
@media (min-width: 1450px) {
	     /* ------- page articles --------- */
	    .user-logged-in .views-benestar-articles .views-row {
			flex: 0 0 calc(20% - 25px);
			max-width: calc(20% - 25px);
	    }
	}
@media (min-width: 1200px) and (max-width: 1450px) {
		/* ------- page articles --------- */
}
// ====================
// Page Individual Wellbeing
// ---

.view-highlight-copy{
	padding-top: rem(35px);
	border-top: 1px solid #EDEDE7;
	// .view-content{
	// 	display: flex;
	// }
	.views-field{
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			margin-right: rem(-30px);
		}

		li{
			padding: 0;
			margin: 0;
			position: relative;
			padding-left: rem(40px);
			font-size: rem(13px);
			// @include flex-width-col-xs(calc(25% - 30px)); //fix bug 9/11
			flex-basis: calc(25% - 30px);
			max-width: calc(25% - 30px);
			display: flex;
			align-items: center;
			margin-right: rem(30px);
	
			@include wp-font(font-body);
			
			&:before{
				content: '';
				width: rem(28px);
				height: rem(28px);
				border: 1px solid $link-color;
				border-radius: 50%;
				left: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);	
				background-color: $link-color;
			}
			&:after{
				content:'';
				left: 0;
				top: 50%;
				margin-top: rem(-2px);
				width: rem(10px);
				height: rem(5px);
				border-bottom: 1px solid $white-color;
				border-left: 1px solid $white-color;
				background: transparent;
				transform: translateY(-50%) rotate(-45deg);
				border-radius: 0;
				margin-left: 9px;
				position: absolute;
			}
		}
	}
}


.view-ourservice-highlight{
	padding-top: rem(50px);
	margin-bottom: rem(40px);
	overflow: hidden;
	.views-field-field-heading{
		color:$link-color;
		font-size: rem(22px);
		margin-bottom: rem(15px);
	}
	.views-row{
		column-count: 2;
		column-gap: 120px;
		max-height: 250px;
	}
}

.views-benestar-services{
	margin-top: rem(45px);
	.views-row{
		@include flex-row;
		flex-wrap: wrap;
		background: $white-color;
		padding: rem(50px);
		padding-top: 65px;
		margin-bottom: rem(40px);
		// border-radius: rem(4px);
		border-top: .5px solid $link-color;
		&:first-child{
			//margin-top: rem(70px);
		}
		&.show-more{
			border-color: transparent;
			.hide{
				display: block !important;
			}
			.group-sv-header{
				display: block;
			}
			.views-field-title{
				display: none;
			}
			&:first-child{

			}
			.expand-content{
				display: none;
			}
			.close-expand {
				display: flex !important;
				&:after{
					transform: rotate(-180deg);
				}
			}
			.item-list{
				padding: rem(25px);
				border: 1px solid #E5E5E5;
				border-radius: 4px;
			}
		}
	}
	.views-field-field-image{
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			height: rem(150px);
			left: 0;
			right: 0;
			opacity: .7;
			background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,1) 100%)
		}
	}

	.group-sv-header{
		position: relative;
		margin: rem(-50px);
		margin-top: rem(-65px);
		margin-bottom: rem(40px);
		display: none;
	}
	
	.views-field-title, .views-field-field-title1{
		color: $link-color;
		font-size: rem(29px);
		margin-top: 0;
		margin-bottom: rem(30px);
		@include wp-font(font-medium-title);
	}
	.views-field-title{
		margin-top: -15px;
	}
	.views-field-body{
		color: rgba($title-color, .6);
	}
	.views-field-field-title1{
		color: $white-color;
		position: absolute;
		margin-bottom: 0;
		padding: 40px 50px;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.views-field-field-copy{
		color: $title-color;
		line-height: 22px;
		font-size:rem(16px);
	}
	
	.close-expand,.expand-content{
		position: relative;
		width: 100px;
		display: flex;
		align-items:center;
		&:after{
			content:"\f107";
			@include fontawesome;
			width: 18px;
			height: 18px;
			border: 1px solid $link-color;
			color: $link-color;
			font-size: 16px !important;
			margin-left: rem(10px);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
		}
		&:hover, &:focus{
			&:after{
				background-color: $link-color;
				color: $white-color;
			}
		}
	}
	div[class*="views-field-nothing-"]{
		width: 100%;
		color: #008641;
		cursor: pointer;
		margin-top: 15px;
	}
}
.group-sv-left{
	width: 68%;
	padding-right: rem(70px);
}
.group-sv-right{
	width: 32%;
	// margin-top: rem(25px);
	ul{
		padding-left: 0;
		margin-top: rem(3px);
		margin-bottom: 0;
	}
	li{
		list-style: none;
		position: relative;
		padding-left: rem(30px);
		margin-bottom: rem(20px);
		padding-bottom: 18px;
		// display: none;
		margin-left: 0;
		border-bottom: 1px solid #E5E5E5;
		&:before{
			content: '';
			width: rem(18px);
			height: rem(18px);
			border: 1px solid $link-color;
			border-radius: 50%;
			left: 0;
			position: absolute;
			top: 3px;
			background-color: $link-color;
		}
		&:after{
			content:'';
			left: 0;
			top: 10px;
			width: rem(7px);
			height: rem(3px);
			border-bottom: 1px solid $white-color;
			border-left: 1px solid $white-color;
			background: transparent;
			transform: rotate(-45deg);
			border-radius: 0;
			margin-left: 6px;
			position: absolute;
		}
		// &:first-child{
		// 	display: block;
		// }
		// &:nth-child(2){
		// 	border-bottom: none;
		// 	display: block;
		// 	margin-bottom: 0;
		// 	padding-bottom: 0;
		// }
		&:last-child{
			border-bottom: none;
			margin-bottom: 0;
		}
	}
}

// End

// ====================
// Detail Service
// ---
.view-ourofferings-highlight{
	display: flex;
	margin-top: rem(45px);
	margin-bottom: rem(50px);
	.view-header{
		flex: 0 0 25%;
		max-width: 25%;
		border: 1px solid #EAE6DE;
		padding: rem(30px);
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: $title-color;	
	}
	h2{
		max-width: rem(135px);
		color: $link-color;
		line-height: 34px;
	}
	.view-content{
		flex: 1 1 auto;
		display: flex;
		padding-left: 10px;
	}
	.views-row{
		flex: 0 0 33.33333%;
		max-width: 33.3333%;
	}
}

// ====================
// View Slide-show
// ---



// End 



// #block-views-block-taxonomy-term-block-1{
// 	.view-content{
// 		display:flex;
// 		flex-flow: row wrap;
// 	}
// 	.views-row{
// 		flex: 0 0 33.3333%;
// 		max-width: 33.3333%;
// 		background-color: $white-color;
// 	}
// 	iframe{
// 		width: 100%;
// 	}
// }

// #block-views-block-taxonomy-term-block-2{
// 	.view-content{
// 		display:flex;
// 		flex-flow: row wrap;
// 	}
// 	.views-row{
// 		flex: 0 0 33.333%;
// 		max-width: 33.3333%;
// 		background-color: $white-color;
// 	}
// 	iframe{
// 		width: auto;
// 		max-width: 100%;
// 	}
// }	



// About Page

// Page LOGIN

.views-field-totalcount{
	&:before{
		content:"\f06e";
		@include fontawesome;
		padding-right:rem(5px);
	}
}

.views-field-link-flag{
	a{
		font-size:0;
		@extend .ico-marked;
		display: block;
		position: relative;
		height: 27px;
		margin-bottom: -14px;
		background-position: top;
		&:before{
			content:'Add to list';
			width: 91px;
			height: 31px;
			text-align: center;
			line-height: 31px;
			color: $black-color;
			font-size: rem(13px);
			background-color: $white-color;
			box-shadow: 0 2px 20px rgba($title-color, .16);
			border-radius: 6px;
			display: block;
			z-index: 10;
			position: absolute;
			transform: translateX(-50%);
			left: 50%;
			top: 100%;
			opacity: 0;
		}
		&:after{
			content:'';
			top: 100%;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 6px solid $white-color;
			left: 50%;
			transform: translateX(-50%);
			margin-top: -4px;
			position: absolute;
			z-index: 15;
			opacity: 0;
		}
		&:hover,&:focus{
			 background-image: url('../images/icons/ico-marked-hover.svg');
			 &:before, &:after{
				opacity: 1;
			}
		}
		
	}
}

.views-field-field-topic{
	font-size:rem(12px);
	color:rgba(#959595,0.8);
	.field-content{
		color:$link-color;
		display: inline-block;
		margin-left: rem(15px);
	}
}

.views-field-totalcount{
	margin-top:rem(12px);
	font-size:rem(12px);
	color:#B6B6B6;
}

.self-esteem-region{
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: rem(30px);
}

.self-esteem-header{
	display: flex;
	align-items: center;
	h2{
		color: $link-color;
		display: inline-block;
		margin-right: 15px;
	}
	button{
		@include btn;
		border-color: #E3E3E3;
		border-radius: 4px;
		min-width: inherit;
		color: #717171;
		padding: 5px 15px;
		background-color: transparent;
		&:hover, &:focus{
			color: $white-color;
			border-color: $link-color;
			background-color: $link-color;
		}
	}
}

.header-other-toptic{
	@extend .self-esteem-header;
}

.view-grid-default{
	.view-content{
		display:flex;
	}
	.views-row{
		background-color:$white-color;
		padding:rem(15px);
		padding-bottom:rem(30px);
		position: relative;
		box-shadow: 0 3px 20px rgba($title-color, .05);
		&.active{
			.views-field-field-video{
				opacity: 1;
				z-index: 2;
			}
			.group-video{
				opacity: 0;
				z-index: 1;
			}
		}
	}
	.views-field-field-video{
		& ~ .group-video{
			display: block;
		}
	}
	.group-video{
		display: none;
	}
	.views-field-field-media-video-embed-field{
		position: relative;
		padding-bottom: 61.5%;
	}

	.views-field-field-video{
		position: absolute;
		padding-bottom: 54.5%;
		left: rem(15px);
		right: rem(15px);
		opacity: 0;
	}
	.views-field-field-thumbnails-video{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.group-video{
		position: relative;
		z-index: 2;
		opacity: 1;
		padding-bottom: 62.5%;
		overflow: hidden;
		&:before{
			content: '';
			bottom: 0;
			height: rem(60px);
			left: 0;
			right: 0;
			background: linear-gradient(to bottom, transparent, rgba($black-color, .7));
			position: absolute;
			z-index: 3;
		}
	}

	.play-video-button{
		border-left: 8px solid #78B945;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		font-size: 0;
		position: absolute;
		bottom: 15px;
		left: 15px;
		z-index: 5;
	}

	.video-duration{
		font-size: 12px;
		bottom: 15px;
		left: 35px;
		line-height: 1;
		right: auto;
		z-index: 5;
	}

	.view-header{
		font-size: 13px;
		line-height: 22px;
		margin-bottom: 25px;
		color: rgba($title-color, .7);
	}
	.Videos, .Audio{
		&.hide{
			display: flex !important;
		}
	}
	iframe{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.views-field-field-image{
		// img{
		// 	max-height:rem(133px);
		// }
	}
	.group-author{
		margin-top:rem(12px);
		font-size:rem(12px);
		color:#B6B6B6;
		display: flex;
		justify-content: space-between;
		// .publish-date{
		// 	display:inline-block;
		// }
		// .total-views{
		// 	display:inline-block;
		// 	float:right;
		// }
		// .total-plays{
		// 	display:inline-block;
		// 	float:right;
		// 	&:before{
		// 		content:"\f025";
		// 		@include fontawesome;
		// 		padding-right:rem(5px);
		// 	}
		// }
		.views-field-totalcount{
			margin-top: 0;
		}
	
	}
	.views-field-created{}
	
	.views-field-title{
		font-size:rem(16px);
		line-height:rem(22px);
		margin-bottom:rem(10px);
		a{
			color: $title-color;
			&:hover, &:focus{
				color: $link-color;
			}
		}
	}	
	.views-field-body{
		font-size:rem(13px);
		color:rgba($black-color,0.7);
		line-height: 20px;
	}
	.views-field-name{
		position: absolute;
		bottom:rem(20px);
		font-size:rem(12px);
		color:rgba(#959595,0.8);
		.field-content{
			color:$link-color;
			display: inline-block;
			margin-left: rem(15px);
		}
	}

	.views-field-field-topic{
		position: absolute;
		bottom:rem(20px);
	}

	.views-field-link-flag{
		position: absolute;
		right:15px;
		bottom:rem(25px);
	}
	.feed-icons{
		display: none;
	}
	&.view-grid-4-cols .group-video:before{
		height: 40px;
	}
	&.view-grid-5-cols .group-video:before{
		height: 30px;
	}
	.views-field-link-flag{
		a{
			height: 27px;
			margin-bottom: -14px;
			background-position: top;
		}
	}
}

.views-feature-video{
	.group-video{
		&:before{
			content: '';
			bottom: 0;
			height: rem(60px);
			left: 0;
			right: 0;
			background: linear-gradient(to bottom, transparent, rgba($black-color, .7));
			position: absolute;
		}
	}
}

.view-grid-4-cols.view-article-video{
	.view-content{
		margin-right: -15px;
	}
	.views-row{
		@include flex-width-col-xs(calc(25% - 15px));
		margin-bottom:rem(20px);
		margin-right:rem(15px);
	}
}

// Page Video
.view-type-video.view-grid-3-cols{
	.views-field-field-topic{
		bottom: rem(25px);
	}
}


.views-feature-video{
	background-color:$white-color;
	margin-bottom:rem(40px);
	margin-top:rem(45px);
	.views-row{
		display: flex;
	}
	.views-field-field-video{
		@include flex-width-col-xs(500px);
		position: relative;
		min-height:rem(300px);
		// .field-content{
		// 	position: relative;
		// 	// padding-top:58%;
		// 	min-height:rem(290px);
		// }
		iframe{
			position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    width: 100%;
		    height: 100%;
		}
	}
	.views-field-created{
		font-size:rem(12px);
		color:#B6B6B6;
	}
	.views-field-nothing{
		flex: 1 1 auto;
		padding: rem(25px) rem(35px) rem(30px);
		border:1px solid $border-color;
		border-left: none;
	}
	.views-field-title{
		font-size:rem(22px);
		text-transform:capitalize;
	}
	.views-field-body{
		color:$black-color;
	}
	.views-field-description{
		font-size:rem(12px);
		color:#B6B6B6;
	}

	.views-field-topic-name{
		color:rgba(#959595,0.8);
		
	}
	.views-field-topic-mark{
		margin-top:rem(47px);
		display:flex;
		justify-content: space-between;
		align-items: center;
		.field-content{
			
		}
	}
}

.view-type-video.view-grid-3-cols{
	overflow: hidden;
	.view-content{
		margin-right: rem(-35px);
	}
	.views-row{
		@include flex-width-col-xs(calc(33.3333% - 35px));
		margin-right: rem(35px);
		padding-bottom:rem(60px);
	}
	.views-field-link-flag{
		bottom:rem(30px);
	}
	.views-field-name{
		bottom:rem(30px);
	}
	.views-field-description{
		p{
			margin-bottom:0;
		}
	}
	.views-field-body{
		display:none;
	}
	.views-field-title{
		margin-bottom:rem(20px);
	}
}

.view-type-video.view-grid-4-cols{
	margin-bottom:rem(40px);
	.views-row{
		padding-bottom:rem(55px);

	}
	.views-field-title{
		margin-bottom:rem(30px);
		margin-top:rem(5px);
	}	
	.views-field-description{
		p{
			margin-bottom:rem(5px);
		}
	}
}

.view-list-collection{
	margin-bottom: 40px;
}


// View Grid Default hover
.view-grid-default{
	.views-row{
		border-radius: 3px;
		cursor: pointer;
		&:hover, &:focus{
			background-color: $link-color;
			.group-author{
				color: rgba($white-color, .5);
			}
			.views-field-title a{
				color: $white-color;
				transition: inherit;
			}
			.views-field-body{
				color: rgba($white-color, .5);
			}
			.views-field-field-topic{
				color: rgba($white-color, .5);
			}
			a{
				color: $white-color;
			}
			.views-field-link-flag a{
				background-image: url('../images/icons/ico-marked-white.svg');
				transition: inherit;
			}
			.views-field-name{
				color: rgba($white-color, .5);
				.field-content{
					color: $white-color;
				}
			}
			.views-field-totalcount{
				color: rgba($white-color, .5);
			}
			// .views-field-link-flag{
			// 	a{
			// 		&:before, &:after{
			// 			opacity: 1;
			// 		}
			// 	}
			// }
		}
	}
}

.view-article-video{

}

.self-assement-custom {
	margin-bottom: 30px;
	.view-content{
		>.views-row{
			&:last-child{
				margin-bottom: 30px;
			}
		}
	}
}

// Page home type
.view-list-audio {
	.views-field-field-audio{
		opacity: 0;
		visibility: hidden;
		display: none;
	}
	.views-row {
		border: 1px solid #F5F5F2;
		border-radius: 4px;
		padding: 20px 20px 20px 80px;
		position: relative;
		background: #fff;
		& + .views-row {
			margin-top: 13px;
		}
		&:before, &:after {
			content: "";
			display: table;
		}
		&:after {
			clear: both;
		}
		&:hover {
			border-color: $link-color;
		}
		.views-field-type {
			width: 44px;
			height: 44px;
			border-radius: 50%;
			border: 1px solid #349C42;
			background: $link-color;
			color: transparent;
			position: absolute;
			left: 18px;
			top: 20px;
			cursor: pointer;
			&:before {
				content: "";
				width: 0px;
				height: 0px;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-left: 9px solid #fff;
				position: absolute;
				top: 50%;
				left: 54%;
				transform: translate(-50%, -50%);
			}
		}
		.views-field-created, .views-field-field-topic {
			color: #b6b6b6;
			font-size: rem(12px);
			float: left;
		}
		.views-field-totalcount, .views-field-link-flag {
			color: #b6b6b6;
			font-size: rem(12px);
			float: right;
			margin: rem(0px) ;
		}
		.views-field-title {
			font-family: $font-body;
			font-size: rem(16px);
			clear: both;
			margin: 0px;
			padding: rem(5px) rem(0px);
		}
		.views-field-totalcount {
			&:before {
				content: url('../images/icons/ico-headphone.svg');
				width: 15px;
			}			
		} 
	}
}



.box-file{
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputfile+label{
	font-size: rem(16px);
}
.inputfile-2.has-focus+label{
	color: $link-color;
}

.inputfile-2 + label {
	color: rgba(0,0,0,.3);
	
	&:hover, &:focus{
		color: $link-color;
	}
}