// ====================
// TYPOGRAPHY
// ---

$font-body:           'Open Sans', sans-serif;
$font-bold:          	'Open Sans', sans-serif;
$font-medium:	        'Open Sans', sans-serif;
$font-light:	   		  'Open Sans', sans-serif;

$font-weight-body:		normal;
$font-weight-bold:		bold;
$font-weight-medium:	600;
$font-weight-light:		400;			

$font-body-second:     'Open Sans', sans-serif;
$font-bold-second:     'Open Sans', sans-serif;

$font-weight-body-second:		normal;
$font-weight-bold-second:		bold;


// ====================
// Font Size Rem
// Default: 1rem = 16px
// ---
$size-default:		16px;
$line-height-default: 1.42857143;


// ====================
// Colors scheme for Themes
// ---
$white-color:			#fff;
$black-color:			#000;
// $link-color:			#1BA75F;
$link-color:			#92b558;
$body-color:			rgba(#000000, .75);	
$title-color:			#000;		
$border-color: 		    #EDEDED;
$bg-color:				#F8F8F4;


// ====================
// Devices
// ---
$desktop:               1200px;
$tablet-ht:             992px;		// Tablet Horizontal
$tablet-vt:             768px;		// Tablet Vertical
$mobile:                640px;
$mobile-md:             480px;
$mobile-sm:             360px;
$mobile-xs:             320px;


// ====================
// List for space around: padding, margin 
// ---
$list-item: 30px, 40px, 50px, 60px; 

